@inject IViewLocalizer localizer 
@model CheckoutVM

<div class="sidebar">
    <div class="sidebar-items">
        @foreach (var item in Model.Checkout.BagItems)
        {
            <div class="sidebar-item">
                <img src="@item.Product.ImageSource" />
                <p>@item.Product.Name</p>
                <p>@item.Quantity @localizer["Pieces"]</p>
            </div>
        }
    <div class="checkout-price">
        <p>@localizer["Taxes"]: <span id="checkout-taxes" data-taxes="@Model.Checkout.TotalPrice">@Model.Checkout.Taxes</span> kr.</p>
        <p>@localizer["Total"]: <span id="checkout-total" data-totalPrice="@Model.Checkout.TotalPrice">@Model.Checkout.TotalPrice</span> kr.</p>
    </div>
        <a asp-controller="Checkout" asp-action="CancelCheckout">
            <div class="button">
                @localizer["Cancel order"]
            </div>
        </a>
    </div>
</div>
