@inject IViewLocalizer localizer 
@model CheckoutVM

<div class="sidebar">
    <div class="sidebar-items">
        @foreach (var item in Model.Checkout.BagItems)
        {
            <div class="sidebar-item">
                <img src="~/images/gyngestol.jpg" />
                <p>@item.Product.Title</p>
                <p>@item.Quantity @localizer["Pieces"]</p>
            </div>
        }
        <div class="checkout-price">
            <p><span>@localizer["Shipping"]</span> @localizer["Price"]</p>
            <p><span>@localizer["Taxes"]</span> @localizer["Price"]</p>
            <p><span>@localizer["Total"]</span> @Model.Checkout.TotalPrice</p>
        </div>

        <form method="post" asp-controller="Checkout" asp-action="CancelCheckout">
            <button type="submit" class="button">@localizer["Cancel order"]</button>
        </form>
    </div>
</div>
