@inject IViewLocalizer localizer 
@model CheckoutVM

<div class="sidebar">
    <div class="sidebar-items">
        @foreach (var item in Model.Checkout.BagItems)
        {
            <div class="sidebar-item">
                <div class="width-30">
                    <img src="@item.Product.GalleryImage1" />
                </div>
                <p class="width-50">@item.Product.Name</p>
                <p class="width-20">@item.Quantity @localizer["Pieces"]</p>
            </div>
        }
    <div class="checkout-price">
        <p>@localizer["TaxlessPrice"]:</p><span>kr. @Model.Checkout.TaxlessPrice</span>
        <p>@localizer["Taxes"]:</p><span>kr. @Model.Checkout.Taxes</span>
        <p>@localizer["Total"]:</p><span>kr. @Model.Checkout.TotalPrice</span>
    </div>
        <a asp-controller="Checkout" asp-action="CancelCheckout">
            <div class="button">
                @localizer["Cancel order"]
            </div>
        </a>
    </div>
</div>
