@model CheckoutVM

<div class="row bottom-side-padding">
        <div class="hide-overflow responsive-form" id="customerinf-wrapper">
            <div class="checkout-header z200" id="customerInf-header">
                <h1>
                    Modtager oplysninger
                </h1>
                <div class="check-sign" id="customer-check-sign">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div id="customerinf-summary">
                    <p>email: <span id="customer-email-summary">@Model.CustomerInf.Email</span></p>
                    <p>telefon: <span id="customer-phone-summary">@Model.CustomerInf.Phone</span></p>
                    <p>fornavn: <span id="customer-firstname-summary">@Model.CustomerInf.FirstName</span></p>
                    <p>efternavn: <span id="customer-lastname-summary">@Model.CustomerInf.LastName</span></p>
                    <p>addresse: <span id="customer-address-summary">@Model.CustomerInf.Address1</span></p>
                    <p>by: <span id="customer-city-summary">@Model.CustomerInf.City</span></p>
                    <p>land: <span id="customer-country-summary">@Model.CustomerInf.Country</span></p>
                    <p>postnummer: <span id="customer-postal-summary">@Model.CustomerInf.Postal</span></p>
                    <button class="button edit-button" id="customer-edit-button">RET</button>
                </div>
            </div>

            <form class="z50" id="customer-form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="customer_completed" data-ajax-complete="noop" data-ajax-confirm="noop" data-ajax-begin="noop" data-ajax-failure="noop" asp-controller="Checkout" asp-action="PostCustomerInf">
                <input type="hidden" id="edit-customer" name="editCustomer" value="false" />
                <input type="hidden" asp-for="@Model.CustomerInf.Id" />
                <div class="checkout-wrap" id="customer-wrap" >
                    <div class="customerinfo">
                        <div class="inputstyle left">
                            <input id="customer-email-input" required asp-for="@Model.CustomerInf.Email" />
                            <label asp-for="@Model.CustomerInf.Email"></label>
                            <span asp-validation-for="@Model.CustomerInf.Email"></span>
                            <div class="underline"></div>
                        </div>
                        <div class="inputstyle left">
                            <input id="customer-phone-input" required asp-for="@Model.CustomerInf.Phone" />
                            <label asp-for="@Model.CustomerInf.Phone"></label>
                            <span asp-validation-for="@Model.CustomerInf.Phone"></span>
                            <div class="underline"></div>
                        </div>

                        <div class="inputstyle left">
                            <input id="customer-firstname-input" required asp-for="@Model.CustomerInf.FirstName" />
                            <label asp-for="@Model.CustomerInf.FirstName"></label>
                            <span asp-validation-for="@Model.CustomerInf.FirstName"></span>
                            <div class="underline"></div>
                        </div>
                        <div class="inputstyle left">
                            <input id="customer-lastname-input" required asp-for="@Model.CustomerInf.LastName" />
                            <label asp-for="@Model.CustomerInf.LastName"></label>
                            <span asp-validation-for="@Model.CustomerInf.LastName"></span>
                            <div class="underline"></div>
                        </div>

                        <div class="inputstyle left">
                            <input id="customer-address-input" required asp-for="@Model.CustomerInf.Address1" />
                            <label asp-for="@Model.CustomerInf.Address1"></label>
                            <span asp-validation-for="@Model.CustomerInf.Address1"></span>
                            <div class="underline"></div>
                        </div>
                        <div class="inputstyle left">
                            <input id="customer-city-input" required asp-for="@Model.CustomerInf.City" />
                            <label asp-for="@Model.CustomerInf.City"></label>
                            <span asp-validation-for="@Model.CustomerInf.City"></span>
                            <div class="underline"></div>
                        </div>

                        <div class="inputstyle left">
                            <input id="customer-country-input" class="hidden" asp-for="@Model.CustomerInf.Country" />
                            <div class="country-label">Modtagers Land</div>
                            <select required id="country-picker">
                                <option>Vælg Land</option>
                                <option>DK</option>
                            </select>
                            <div class="country-error hidden" id="country-error">
                                vælg et land før du kan fortsætte.
                            </div>
                        </div>
                        <div class="inputstyle left">
                            <input id="customer-postal-input" required asp-for="@Model.CustomerInf.Postal" />
                            <label asp-for="@Model.CustomerInf.Postal"></label>
                            <span asp-validation-for="@Model.CustomerInf.Postal"></span>
                            <div class="underline"></div>
                        </div>

                        <div class="col-12 left top-padding bottom-side-padding">
                            <div class="gdpr-accept">
                                <label class="checkbox">
                                    <input id="privacy-policy-consent" value="false" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <input required type="hidden" id="privacy-policy-input" asp-for="@Model.CustomerInf.AcceptPrivacyPolicy" />
                                <span class="checkbox-validation" id="privacy-policy-validation-customerInf">Du skal skrive under før du må fortsætte.</span>
                                <p>for at fortsætte skal du skrive under på at du har læst og accepterer vores <a class="simple-link" href="https://localhost:5002/nykant/privacypolicy">håndtering af persondata</a> ved at klikke i boksen.</p>
                            </div>
                        </div>

                        <div class="padding-10">

                        </div>
                    </div>
                    
                    <div class="col-12 left" id="customer-button">
                        <button id="customerInf-submit" class="button" type="submit" disabled>Fortsæt</button> @*------------- SUBMIT FORM --------------*@
                    </div>
                </div>
            </form>
        </div>
</div>




