
@model CheckoutVM


@*<script asp-add-nonce="true">
    document.getElementById('privacy-policy-consent').value = "false";
    document.getElementById('privacy-policy-input').value = null;
</script>
*@
    @*<div class="my-row bottom-side-padding">*@
        <div class="hide-overflow col-8 left bottom-side-padding" id="customerinf-wrapper">
            <partial name="_CustomerSummaryPartial" />
            <form class="z50" id="customer-form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="noop" data-ajax-complete="customer_completed" data-ajax-begin="customer_begin" data-ajax-failure="noop" asp-controller="Checkout" asp-action="PostCustomerInf">
                @Html.AntiForgeryToken()
                <input type="hidden" id="edit-customer" name="editCustomer" value="false" />
                <input type="hidden" asp-for="@Model.Customer.Id" />
                <div class="checkout-wrap" id="customer-wrap">
                    <div class="customerinfo">

                        <div class="customer-box">
                            <div class="inputstyle left">
                                <input id="customer-email-input" required autocomplete="email" asp-for="@Model.Customer.Email" data-value="@Model.Customer.Email" />
                                <label asp-for="@Model.Customer.Email"></label>
                                <span asp-validation-for="@Model.Customer.Email"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="inputstyle left">
                                <input id="customer-phone-input" required autocomplete="tel" asp-for="@Model.Customer.Phone" data-value="@Model.Customer.Phone" />
                                <label asp-for="@Model.Customer.Phone"></label>
                                <span asp-validation-for="@Model.Customer.Phone"></span>
                                <div class="underline"></div>
                            </div>
                        </div>

                        <div class="invoice-address-box">
                            <div class="checkout-header">
                                Faktureringsaddresse
                            </div>
                            <div class="inputstyle left">
                                <input id="customer-firstname-input" required autocomplete="billing name" asp-for="@Model.Customer.BillingAddress.Name" data-value="@Model.Customer.BillingAddress.Name" />
                                <label asp-for="@Model.Customer.BillingAddress.Name"></label>
                                <span asp-validation-for="@Model.Customer.BillingAddress.Name"></span>
                                <div class="underline"></div>
                            </div>

                            <div class="inputstyle left">
                                <input id="customer-address-input" required autocomplete="billing street-address" asp-for="@Model.Customer.BillingAddress.Address" data-value="@Model.Customer.BillingAddress.Address" />
                                <label asp-for="@Model.Customer.BillingAddress.Address"></label>
                                <span asp-validation-for="@Model.Customer.BillingAddress.Address"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="inputstyle left">
                                <input id="customer-city-input" required autocomplete="billing address-level2" asp-for="@Model.Customer.BillingAddress.City" data-value="@Model.Customer.BillingAddress.City" />
                                <label asp-for="@Model.Customer.BillingAddress.City"></label>
                                <span asp-validation-for="@Model.Customer.BillingAddress.City"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="inputstyle left">
                                <input id="customer-country-input" class="hidden" autocomplete="billing country" asp-for="@Model.Customer.BillingAddress.Country" data-value="@Model.Customer.BillingAddress.Country" />
                                <div class="country-label">Land</div>
                                <select required id="country-picker">
                                    <option id="customer-country-option">Danmark</option>
                                </select>
                                <div class="country-error hidden" id="country-error">
                                    Vælg et land før du kan fortsætte
                                </div>
                            </div>
                            <div class="inputstyle left">
                                <input id="customer-postal-input" required autocomplete="billing postal-code" asp-for="@Model.Customer.BillingAddress.Postal" data-value="@Model.Customer.BillingAddress.Postal" />
                                <label asp-for="@Model.Customer.BillingAddress.Postal"></label>
                                <span asp-validation-for="@Model.Customer.BillingAddress.Postal"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="same-as-invoice">
                                <label class="checkbox">
                                    <input id="reuse-invoice" asp-for="@Model.Customer.ShippingAddress.SameAsBilling" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <p>
                                    Brug faktureringsaddressen som leveringsaddresse
                                </p>
                            </div>
                        </div>

                        <div class="shipping-address-box" id="shipping-address-box">
                            <div class="checkout-header" id="shipping-header">
                                Leveringsaddresse
                            </div>
                            <div class="inputstyle left">
                                <input id="shippingaddress-firstname" required autocomplete="shipping given-name" asp-for="@Model.Customer.ShippingAddress.Name" data-value="@Model.Customer.ShippingAddress.Name" />
                                <label asp-for="@Model.Customer.ShippingAddress.Name"></label>
                                <span asp-validation-for="@Model.Customer.ShippingAddress.Name"></span>
                                <div class="underline"></div>
                            </div>

                            <div class="inputstyle left">
                                <input id="shippingaddress-address" required autocomplete="shipping street-address" asp-for="@Model.Customer.ShippingAddress.Address" data-value="@Model.Customer.ShippingAddress.Address" />
                                <label asp-for="@Model.Customer.ShippingAddress.Address"></label>
                                <span asp-validation-for="@Model.Customer.ShippingAddress.Address"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="inputstyle left">
                                <input id="shippingaddress-city" required autocomplete="shipping address-level2" asp-for="@Model.Customer.ShippingAddress.City" data-value="@Model.Customer.ShippingAddress.City" />
                                <label asp-for="@Model.Customer.ShippingAddress.City"></label>
                                <span asp-validation-for="@Model.Customer.ShippingAddress.City"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="inputstyle left">
                                <input id="shippingaddress-country" class="hidden" autocomplete="shipping country" asp-for="@Model.Customer.ShippingAddress.Country" data-value="@Model.Customer.ShippingAddress.Country" />
                                <div class="country-label">Land</div>
                                <select required id="shippingaddress-country-picker">
                                    <option id="shipping-country-option">Danmark</option>
                                </select>
                                <div class="country-error hidden" id="shippingaddress-country-error">
                                    Vælg et land før du kan fortsætte
                                </div>
                            </div>
                            <div class="inputstyle left">
                                <input id="shippingaddress-postal" required autocomplete="shipping postal-code" asp-for="@Model.Customer.ShippingAddress.Postal" data-value="@Model.Customer.ShippingAddress.Postal" />
                                <label asp-for="@Model.Customer.ShippingAddress.Postal"></label>
                                <span asp-validation-for="@Model.Customer.ShippingAddress.Postal"></span>
                                <div class="underline"></div>
                            </div>
                        </div>

                        <!--<div class="gdpr-accept">
        <label class="checkbox">
            <input id="privacy-policy-consent" value="false" type="checkbox">
            <span class="checkmark"></span>
        </label>
        <input required type="hidden" id="privacy-policy-input" asp-for="" />
        <span class="checkbox-validation" id="privacy-policy-validation-customerInf">Du skal skrive under før du må fortsætte.</span>
        <p>for at fortsætte skal du skrive under på at du har læst og accepterer vores
        <a class="simple-link" asp-controller="Home" asp-action="PrivacyPolicy">håndtering af persondata</a> ved at klikke i tjek-boksen.</p>-->
                        @*@localizer["Signature required"]*@
                        <!--</div>-->

                        <div class="padding-10">

                        </div>
                    </div>

                    <div class="col-12 left" id="customer-button">
                        <button id="customerInf-submit" class="button" type="submit">
                            <div id="customerspinner" class="hidden">
                                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            </div>
                            <span id="customer-button-text">Videre</span>
                        </button> @*------------- SUBMIT FORM --------------*@
                    </div>
                </div>
            </form>
        </div>
    @*</div>*@




