@inject IViewLocalizer localizer
@model CheckoutVM

    <div class="my-row bottom-side-padding">
        <div class="hide-overflow responsive-form" id="customerinf-wrapper">
            <partial name="_CustomerSummaryPartial" />
            <form class="z50" id="customer-form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="noop" data-ajax-complete="customer_completed" data-ajax-begin="customer_begin" data-ajax-failure="noop" asp-controller="Checkout" asp-action="PostCustomerInf">
                <input type="hidden" id="edit-customer" name="editCustomer" value="false" />
                <input type="hidden" asp-for="@Model.Customer.Id" />
                <div class="checkout-wrap" id="customer-wrap">
                    <div class="customerinfo">

                        <div class="customer-box">
                            <div class="inputstyle left">
                                <input id="customer-email-input" required autocomplete="email" asp-for="@Model.Customer.Email" />
                                <label asp-for="@Model.Customer.Email"></label>
                                <span asp-validation-for="@Model.Customer.Email"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="inputstyle left">
                                <input id="customer-phone-input" required autocomplete="tel" asp-for="@Model.Customer.Phone" />
                                <label asp-for="@Model.Customer.Phone"></label>
                                <span asp-validation-for="@Model.Customer.Phone"></span>
                                <div class="underline"></div>
                            </div>
                        </div>

                        <div class="invoice-address-box">
                            <div class="checkout-header">
                                @localizer["Billing Address"]
                            </div>
                            <div class="inputstyle left">
                                <input id="customer-firstname-input" required autocomplete="billing given-name" asp-for="@Model.Customer.BillingAddress.Name" />
                                <label asp-for="@Model.Customer.BillingAddress.Name"></label>
                                <span asp-validation-for="@Model.Customer.BillingAddress.Name"></span>
                                <div class="underline"></div>
                            </div>

                            <div class="inputstyle left">
                                <input id="customer-address-input" required autocomplete="billing street-address" asp-for="@Model.Customer.BillingAddress.Address" />
                                <label asp-for="@Model.Customer.BillingAddress.Address"></label>
                                <span asp-validation-for="@Model.Customer.BillingAddress.Address"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="inputstyle left">
                                <input id="customer-city-input" required autocomplete="billing locality" asp-for="@Model.Customer.BillingAddress.City" />
                                <label asp-for="@Model.Customer.BillingAddress.City"></label>
                                <span asp-validation-for="@Model.Customer.BillingAddress.City"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="inputstyle left">
                                <input id="customer-country-input" class="hidden" autocomplete="billing country" asp-for="@Model.Customer.BillingAddress.Country" />
                                <div class="country-label">@localizer["Country"]</div>
                                <select required id="country-picker">
                                    <option>@localizer["Choose Country"]</option>
                                    <option>DK</option>
                                </select>
                                <div class="country-error hidden" id="country-error">
                                    @localizer["Choose country to continue"]
                                </div>
                            </div>
                            <div class="inputstyle left">
                                <input id="customer-postal-input" required autocomplete="billing postal-code" asp-for="@Model.Customer.BillingAddress.Postal" />
                                <label asp-for="@Model.Customer.BillingAddress.Postal"></label>
                                <span asp-validation-for="@Model.Customer.BillingAddress.Postal"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="same-as-invoice">
                                <label class="checkbox">
                                    <input id="reuse-invoice" asp-for="@Model.Customer.ShippingAddress.SameAsBilling" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <p>
                                    @localizer["UseInvoice"]
                                </p>
                            </div>
                        </div>

                        <div class="shipping-address-box" id="shipping-address-box">
                            <div class="checkout-header" id="shipping-header">
                                @localizer["Shipping Address"]
                            </div>
                            <div class="inputstyle left">
                                <input id="shippingaddress-firstname" required autocomplete="shipping given-name" asp-for="@Model.Customer.ShippingAddress.Name" />
                                <label asp-for="@Model.Customer.ShippingAddress.Name"></label>
                                <span asp-validation-for="@Model.Customer.ShippingAddress.Name"></span>
                                <div class="underline"></div>
                            </div>

                            <div class="inputstyle left">
                                <input id="shippingaddress-address" required autocomplete="shipping street-address" asp-for="@Model.Customer.ShippingAddress.Address" />
                                <label asp-for="@Model.Customer.ShippingAddress.Address"></label>
                                <span asp-validation-for="@Model.Customer.ShippingAddress.Address"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="inputstyle left">
                                <input id="shippingaddress-city" required autocomplete="shipping locality" asp-for="@Model.Customer.ShippingAddress.City" />
                                <label asp-for="@Model.Customer.ShippingAddress.City"></label>
                                <span asp-validation-for="@Model.Customer.ShippingAddress.City"></span>
                                <div class="underline"></div>
                            </div>
                            <div class="inputstyle left">
                                <input id="shippingaddress-country" class="hidden" autocomplete="shipping country" asp-for="@Model.Customer.ShippingAddress.Country" />
                                <div class="country-label">@localizer["Country"]</div>
                                <select required id="shippingaddress-country-picker">
                                    <option>@localizer["Choose Country"]</option>
                                    <option>DK</option>
                                </select>
                                <div class="country-error hidden" id="shippingaddress-country-error">
                                    @localizer["Choose country to continue"]
                                </div>
                            </div>
                            <div class="inputstyle left">
                                <input id="shippingaddress-postal" required autocomplete="shipping postal-code" asp-for="@Model.Customer.ShippingAddress.Postal" />
                                <label asp-for="@Model.Customer.ShippingAddress.Postal"></label>
                                <span asp-validation-for="@Model.Customer.ShippingAddress.Postal"></span>
                                <div class="underline"></div>
                            </div>
                        </div>

                        <div class="gdpr-accept">
                            <label class="checkbox">
                                <input id="privacy-policy-consent" value="false" type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <input required type="hidden" id="privacy-policy-input" asp-for="@Model.Customer.PrivacyPolicyConsent" />
                            @localizer["Signature required"]
                        </div>



                        <div class="padding-10">

                        </div>
                    </div>

                    <div class="col-12 left" id="customer-button">
                        <button id="customerInf-submit" class="button" type="submit" disabled>
                            <div id="customerspinner" class="hidden">
                                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            </div>
                            <span id="customer-button-text">@localizer["Continue"]</span>
                        </button> @*------------- SUBMIT FORM --------------*@
                    </div>
                </div>
            </form>
        </div>
    </div>




