
@model CheckoutVM

<div class="checkout-header z200" id="customerInf-header">
    <h1>
        Kundeoplysninger
    </h1>
    <div class="check-sign" id="customer-check-sign">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <div id="customerinf-summary" class="summary">
        <div class="margin-top-10">
            <p class="summary-header">Kontakt Oplysninger</p>
            <p>Email: <span id="customer-email-summary">@Model.Customer.Email</span></p>
            <p>Telefon: <span id="customer-phone-summary">@Model.Customer.Phone</span></p>
        </div>
        <div class="margin-top-10">
            <p class="summary-header">Faktureringsaddresse</p>
            <p>Fulde Navn eller Firma: <span id="customer-firstname-summary">@Model.Customer.BillingAddress.Name</span></p>
            <p>Addresse: <span id="customer-address-summary">@Model.Customer.BillingAddress.Address</span></p>
            <p>By: <span id="customer-city-summary">@Model.Customer.BillingAddress.City</span></p>
            <p>Land: <span id="customer-country-summary">@Model.Customer.BillingAddress.Country</span></p>
            <p>Postnummer: <span id="customer-postal-summary">@Model.Customer.BillingAddress.Postal</span></p>
        </div>
        <div id="shippingaddress-summary" class="margin-top-10">
            <p class="summary-header">Leveringsaddresse</p>
            <p>Fulde Navn eller Firma: <span id="shippingaddress-firstname-summary">@Model.Customer.ShippingAddress.Name</span></p>
            <p>Addresse: <span id="shippingaddress-address-summary">@Model.Customer.ShippingAddress.Address</span></p>
            <p>By: <span id="shippingaddress-city-summary">@Model.Customer.ShippingAddress.City</span></p>
            <p>Land: <span id="shippingaddress-country-summary">@Model.Customer.ShippingAddress.Country</span></p>
            <p>Postnummer: <span id="shippingaddress-postal-summary">@Model.Customer.ShippingAddress.Postal</span></p>
        </div>
    </div>
    <button class="button edit-button" id="customer-edit-button">Ret</button>
</div>
