@model CheckoutVM

@{
    ViewData["Title"] = "Checkout";
}

<form asp-controller="Checkout" asp-action="CustomerInfo" method="post">
    <div class="row">
        <div class="col-8 center padding">
            <div class="col-8 left">
                <div class="main-content">
                    <div class="inputstyle">
                        <input asp-for="@Model.CustomerInfo.Email" />
                        <label asp-for="@Model.CustomerInfo.Email"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Email"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input asp-for="@Model.CustomerInfo.FirstName" />
                        <label asp-for="@Model.CustomerInfo.FirstName"></label>
                        <span asp-validation-for="@Model.CustomerInfo.FirstName"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input asp-for="@Model.CustomerInfo.LastName" />
                        <label asp-for="@Model.CustomerInfo.LastName"></label>
                        <span asp-validation-for="@Model.CustomerInfo.LastName"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input asp-for="@Model.CustomerInfo.Address" />
                        <label asp-for="@Model.CustomerInfo.Address"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Address"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input asp-for="@Model.CustomerInfo.Address2" />
                        <label asp-for="@Model.CustomerInfo.Address2"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Address2"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input asp-for="@Model.CustomerInfo.City" />
                        <label asp-for="@Model.CustomerInfo.City"></label>
                        <span asp-validation-for="@Model.CustomerInfo.City"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input asp-for="@Model.CustomerInfo.Country" />
                        <label asp-for="@Model.CustomerInfo.Country"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Country"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input asp-for="@Model.CustomerInfo.Postal" />
                        <label asp-for="@Model.CustomerInfo.Postal"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Postal"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input asp-for="@Model.CustomerInfo.Phone" />
                        <label asp-for="@Model.CustomerInfo.Phone"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Phone"></span>
                        <div class="underline"></div>
                    </div>
                </div>
            </div>
            <div class="col-4 left">
                <div class="side-content">
                    <div class="sidebar-items">
                        @foreach (var item in Model.BagItems)
                        {
                            <div class="sidebar-item">
                                <img src="~/images/gyngestol.jpg" />
                                <p>quantity: @item.Quantity</p>
                            </div>
                        }
                    </div>
                    <div class="checkout-info">
                        <p>total price: @Model.PriceSum</p>
                    </div>
                </div>
                <button type="submit">CONTINUE</button>
            </div>
        </div>
    </div>
    
</form>