@model Checkout

@{
    ViewData["Title"] = "Checkout";
}

<div class="row bottom-side-padding fadein">
    <div class="col-8 center top-padding ">
        <div class="col-12 left">
            <div class="breadcrumbs">
                <a asp-controller="Bag" asp-action="Details">SHOPPING BAG</a>  >
                <a class="current">CUSTOMER</a> >
                <a>SHIPPING</a> >
                <a>PAYMENT</a>
            </div>
        </div>
        <form asp-controller="Checkout" asp-action="PostCustomerInf" method="post">
            <div class="col-8 left right-side-padding fadein top-side-padding">

                <input type="hidden" asp-for="@Model.CustomerInf.Id" />
                <div class="customerinfo">
                    <div class="header">
                        Your contact information
                    </div>
                    <div class="customerinfo-line">
                        <div class="inputstyle left">
                            <input required asp-for="@Model.CustomerInf.Email" />
                            <label asp-for="@Model.CustomerInf.Email"></label>
                            <span asp-validation-for="@Model.CustomerInf.Email"></span>
                            <div class="underline"></div>
                        </div>
                        <div class="inputstyle left">
                            <input required asp-for="@Model.CustomerInf.FirstName" />
                            <label asp-for="@Model.CustomerInf.FirstName"></label>
                            <span asp-validation-for="@Model.CustomerInf.FirstName"></span>
                            <div class="underline"></div>
                        </div>
                    </div>

                    <div class="customerinfo-line">
                        <div class="inputstyle left">
                            <input required asp-for="@Model.CustomerInf.LastName" />
                            <label asp-for="@Model.CustomerInf.LastName"></label>
                            <span asp-validation-for="@Model.CustomerInf.LastName"></span>
                            <div class="underline"></div>
                        </div>
                        <div class="inputstyle left">
                            <input required asp-for="@Model.CustomerInf.Address" />
                            <label asp-for="@Model.CustomerInf.Address"></label>
                            <span asp-validation-for="@Model.CustomerInf.Address"></span>
                            <div class="underline"></div>
                        </div>
                    </div>

                    <div class="customerinfo-line">
                        <div class="inputstyle left">
                            <input required asp-for="@Model.CustomerInf.City" />
                            <label asp-for="@Model.CustomerInf.City"></label>
                            <span asp-validation-for="@Model.CustomerInf.City"></span>
                            <div class="underline"></div>
                        </div>
                        <div class="inputstyle left">
                            <input required asp-for="@Model.CustomerInf.Country" />
                            <label asp-for="@Model.CustomerInf.Country"></label>
                            <span asp-validation-for="@Model.CustomerInf.Country"></span>
                            <div class="underline"></div>
                        </div>
                    </div>

                    <div class="customerinfo-line">
                        <div class="inputstyle left">
                            <input required asp-for="@Model.CustomerInf.Postal" />
                            <label asp-for="@Model.CustomerInf.Postal"></label>
                            <span asp-validation-for="@Model.CustomerInf.Postal"></span>
                            <div class="underline"></div>
                        </div>
                        <div class="inputstyle left">
                            <input required asp-for="@Model.CustomerInf.Phone" />
                            <label asp-for="@Model.CustomerInf.Phone"></label>
                            <span asp-validation-for="@Model.CustomerInf.Phone"></span>
                            <div class="underline"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-4 right fadein top-side-padding">
                <div class="sidebar">
                    <div class="sidebar-items">
                        @foreach (var item in Model.BagItems)
                        {
                            <div class="sidebar-item">
                                <img src="~/images/gyngestol.jpg" />
                                <p>@item.Product.Title</p>
                                <p>@item.Quantity stk.</p>
                            </div>
                        }
                        <div class="checkout-price">
                            <p><span>shipping:</span> price</p>
                            <p><span>taxes:</span> price</p>
                            <p><span>total:</span> @Model.TotalPrice</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4 right fadein top-side-padding">
                <button class="button" type="submit">CONTINUE</button> @*------------- SUBMIT FORM --------------*@
            </div>
        </form>
    </div>
</div>
