@model CheckoutVM

@{
    ViewData["Title"] = "Checkout";
}

<div class="row bottom-side-padding fadein">
    <div class="col-8 center top-padding right-side-padding">
        <div class="col-8 left">
            <div class="breadcrumbs">
                <a asp-controller="Bag" asp-action="Details" asp-route-subject="@Model.Subject">Shopping Bag</a> >
                <a>Customer Info</a> >
                <a>Shipping</a> >
                <a>Payment</a>
            </div>
        </div>
    </div>
</div>



<form asp-controller="Checkout" asp-action="CustomerInfo" method="post">
    @for (int i = 0; i < Model.BagItems.Count(); i++)
    {
        @Html.HiddenFor(x => x.BagItems[i].ProductId);
        @Html.HiddenFor(x => x.BagItems[i].BagId);
        @Html.HiddenFor(x => x.BagItems[i].Quantity);
        @Html.HiddenFor(x => x.BagItems[i].Product);
        @Html.HiddenFor(x => x.BagItems[i].Bag);
    }
    @Html.HiddenFor(x => x.PriceSum)
    @Html.HiddenFor(x => x.Subject)

    <div class="row">
        <div class="col-8 center">
            <div class="col-8 left right-side-padding fadein">
                <div class="main-content">
                    <div class="inputstyle">
                        <input id="input" onfocus="onfocus()" onkeyup="invalid()" onmouseout="mouseout()" required asp-for="@Model.CustomerInfo.Email" />
                        <label id="label" asp-for="@Model.CustomerInfo.Email"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Email"></span>
                        <div id="underline" class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input required asp-for="@Model.CustomerInfo.FirstName" />
                        <label asp-for="@Model.CustomerInfo.FirstName"></label>
                        <span asp-validation-for="@Model.CustomerInfo.FirstName"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input required asp-for="@Model.CustomerInfo.LastName" />
                        <label asp-for="@Model.CustomerInfo.LastName"></label>
                        <span asp-validation-for="@Model.CustomerInfo.LastName"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input required asp-for="@Model.CustomerInfo.Address" />
                        <label asp-for="@Model.CustomerInfo.Address"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Address"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input required asp-for="@Model.CustomerInfo.Address2" />
                        <label asp-for="@Model.CustomerInfo.Address2"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Address2"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input required asp-for="@Model.CustomerInfo.City" />
                        <label asp-for="@Model.CustomerInfo.City"></label>
                        <span asp-validation-for="@Model.CustomerInfo.City"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input required asp-for="@Model.CustomerInfo.Country" />
                        <label asp-for="@Model.CustomerInfo.Country"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Country"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input required asp-for="@Model.CustomerInfo.Postal" />
                        <label asp-for="@Model.CustomerInfo.Postal"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Postal"></span>
                        <div class="underline"></div>
                    </div>
                    <div class="inputstyle">
                        <input required asp-for="@Model.CustomerInfo.Phone" />
                        <label asp-for="@Model.CustomerInfo.Phone"></label>
                        <span asp-validation-for="@Model.CustomerInfo.Phone"></span>
                        <div class="underline"></div>
                    </div>
                </div>
            </div>
            <div class="col-4 left fadein">
                <div class="side-content">
                    <div class="sidebar-items">
                        @foreach (var item in Model.BagItems)
                        {
                            <div class="sidebar-item">
                                <img src="~/images/gyngestol.jpg" />
                                <p>quantity: @item.Quantity</p>
                            </div>
                        }
                        <div class="checkout-info">
                            <p>total price: @Model.PriceSum</p>
                        </div>
                    </div>

                </div>
                <button class="checkout-button fadein" type="submit">CONTINUE</button> @*------------- SUBMIT FORM --------------*@
            </div>
        </div>
    </div>
</form>