@model Checkout

@{
    ViewData["Title"] = "Payment";
}

<link rel="stylesheet" href="~/stripe/stripe.css" />
<script src="https://js.stripe.com/v3/"></script>
<script src="~/stripe/client.js" defer></script>

<div class="row bottom-side-padding fadein">
    <div class="col-8 col-wrapper center top-padding">
        <div class="col-12 left">
            <div class="breadcrumbs">
                <a asp-controller="Bag" asp-action="Details">SHOPPING BAG</a>  >
                <a asp-controller="Checkout" asp-action="CustomerInf" asp-route-edit="true">CUSTOMER INFORMATION</a>  >
                <a asp-controller="Checkout" asp-action="ShippingDelivery" asp-route-edit="true">SHIPPING DELIVERY</a>  >
                <a class="current">PAYMENT</a>
            </div>
        </div>

        <div class="col-4 right fadein top-side-padding">
            <div class="sidebar">
                <div class="header">
                    Bag
                </div>
                <div class="sidebar-items">
                    @foreach (var item in Model.BagItems)
                    {
                        <div class="sidebar-item">
                            <img src="~/images/gyngestol.jpg" />
                            <p>@item.Product.Title</p>
                            <p>@item.Quantity stk.</p>
                        </div>
                    }
                    <div class="checkout-price">
                        <p><span>shipping:</span> price</p>
                        <p><span>taxes:</span> price</p>
                        <p><span>total:</span> @Model.TotalPrice</p>
                    </div>
                </div>
            </div>
        </div>

        <form id="payment-form">
            <div class="col-8 left right-side-padding top-side-padding">
                <div class="payment-elements">
                    <div class="header">
                        YOUR CARD INFORMATION
                    </div>
                    <div class="cardinfo-line">
                        <div class="inputstyle left">
                            <input required id="cardholder-name" asp-for="@Model.CardInfo.Card_OwnerName" />
                            <label asp-for="@Model.CardInfo.Card_OwnerName"></label>
                            <span asp-validation-for="@Model.CardInfo.Card_OwnerName"></span>
                            <div class="underline"></div>
                        </div>
                    </div>
                    <div class="payment-elements-thing" id="payment-elements-thing">
                        <div class="card-element" id="card-element-number"><!--Stripe.js injects the Card Element--></div>
                        <div class="margin-top-20 card-element" id="card-element-expiry"><!--Stripe.js injects the Card Element--></div>
                        <div class="margin-top-20 card-element" id="card-element-cvc"><!--Stripe.js injects the Card Element--></div>
                    </div>

                </div>
            </div>

            <div class="col-8 left right-side-padding top-side-padding hidden" id="payment-error">
                <div class="dark-card payment-error">
                    <p id="card-error" role="alert"></p>
                    <p class="result-message hidden">
                        Payment succeeded, see the result in your
                        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                    </p>
                </div>
            </div>

            <div class="col-4 right top-side-padding">
                <button class="button" id="submit">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay</span>
                </button>
            </div>
        </form>

        <div class="col-8 left right-side-padding top-side-padding">
            <div class="padding dark-card">
                <h1>TEST CARDS</h1>
                <div class="header">
                    <p>without 2D authentication:</p>
                    <p>4242 4242 4242 4242</p>
                    <p>expiration date and cvc can be anything</p>
                </div>
                <div class="header">
                    <p>with 2D authentication:</p>
                    <p>4000 0025 0000 3155</p>
                    <p>expiration date and cvc can be anything</p>
                </div>
                <div class="header">
                    <p>always fail payment:</p>
                    <p>4000 0000 0000 9995</p>
                    <p>expiration date and cvc can be anything</p>
                </div>
            </div>
        </div>
    </div>
</div>

