@model CheckoutVM

@{
    List<ShippingOption> shippingOptions = new List<ShippingOption>
    {
        new ShippingOption{ Name = "Postnord", Price = 30 },
        new ShippingOption{ Name = "GLS", Price = 35 }
    };
    var optionValue = 1;
}

<div class="row bottom-side-padding fadein">
    <div class="col-8 center top-padding ">
        <div class="col-8 left right-side-padding">
            <div class="breadcrumbs dark-card">
                <form asp-controller="Checkout" asp-action="CustomerInfoCrumb" method="post">
                    @Html.HiddenFor(x => x.CustomerInfo.Email)
                    @Html.HiddenFor(x => x.CustomerInfo.FirstName)
                    @Html.HiddenFor(x => x.CustomerInfo.LastName)
                    @Html.HiddenFor(x => x.CustomerInfo.Address)
                    @Html.HiddenFor(x => x.CustomerInfo.Address2)
                    @Html.HiddenFor(x => x.CustomerInfo.City)
                    @Html.HiddenFor(x => x.CustomerInfo.Country)
                    @Html.HiddenFor(x => x.CustomerInfo.Postal)
                    @Html.HiddenFor(x => x.CustomerInfo.Phone)
                    @Html.HiddenFor(x => x.PriceSum)
                    @Html.HiddenFor(x => x.Subject)
                    @for (int i = 0; i < Model.BagItems.Count(); i++)
                    {
                        @Html.HiddenFor(x => x.BagItems[i].BagId)
                        @Html.HiddenFor(x => x.BagItems[i].ProductId)
                        @Html.HiddenFor(x => x.BagItems[i].Quantity)
                        @Html.HiddenFor(x => x.BagItems[i].Product.Title)
                    }
                    <input type="submit" />
                </form>
                <a asp-controller="Bag" asp-action="Details" asp-route-subject="@Model.Subject">Shopping Bag</a> >
                <a asp-controller="Checkout" asp-action="CustomerInfo" asp-route-checkoutVM2="@Model">Customer Info</a> >
                <a>Shipping</a> >
                <a>Payment</a>
            </div>
        </div>
    </div>
</div>


<div class="row fadein">
    <form asp-controller="Checkout" asp-action="">
        <div class="col-8 center">
            <div class="col-8 left right-side-padding">
                <div class="shipping dark-card">
                    <div class="selector">
                        <div class="selections">
                            <select>
                                <option value="0">Choose Shipping</option>
                                @foreach (var option in shippingOptions)
                                {
                                    <option value="@optionValue">@option.Name - @option.Price,- dkk</option>
                                    optionValue++;
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 left fadein dark-card">
                <div class="sidebar">
                    <div class="sidebar-header">
                        <h1>Bag</h1>
                    </div>
                    <div class="sidebar-items">
                        @foreach (var item in Model.BagItems)
                        {
                            <div class="sidebar-item">
                                <img src="~/images/gyngestol.jpg" />
                                <p>@item.Product.Title</p>
                                <p>@item.Quantity stk.</p>
                            </div>
                        }
                        <div class="checkout-price">
                            <p><span>shipping:</span> price</p>
                            <p><span>taxes:</span> price</p>
                            <p><span>total:</span> @Model.PriceSum</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 right fadein ">
                <button class="checkout-button dark-card" type="submit">CONTINUE</button> @*------------- SUBMIT FORM --------------*@
            </div>
        </div>
    </form>
    
</div>