@model CheckoutVM

@{
    List<ShippingOption> shippingOptions = new List<ShippingOption>
{
        new ShippingOption{ Name = "Postnord", Price = 30 },
        new ShippingOption{ Name = "GLS", Price = 35 },
        new ShippingOption{ Name = "GLS Privat", Price = 55 }
    };
    var optionValue = 1;
}

<div class="row fadein bottom-side-padding">
    <div class="col-8 center top-padding ">
        <div class="col-8 left right-side-padding">
            <div class="breadcrumbs dark-card">
                <a asp-controller="Bag" asp-action="Details">SHIPPING BAG</a>  >
                <form asp-controller="Checkout" asp-action="CustomerInfoCrumb" method="get">
                    @Html.HiddenFor(x => x.CustomerInfo.Email)
                    @Html.HiddenFor(x => x.CustomerInfo.FirstName)
                    @Html.HiddenFor(x => x.CustomerInfo.LastName)
                    @Html.HiddenFor(x => x.CustomerInfo.Address)
                    @Html.HiddenFor(x => x.CustomerInfo.City)
                    @Html.HiddenFor(x => x.CustomerInfo.Country)
                    @Html.HiddenFor(x => x.CustomerInfo.Postal)
                    @Html.HiddenFor(x => x.CustomerInfo.Phone)
                    @Html.HiddenFor(x => x.PriceSum)
                    @Html.HiddenFor(x => x.Subject)
                    @for (int i = 0; i < Model.BagItems.Count(); i++)
                    {
                        @Html.HiddenFor(x => x.BagItems[i].Subject)
                        @Html.HiddenFor(x => x.BagItems[i].ProductId)
                        @Html.HiddenFor(x => x.BagItems[i].Quantity)
                        @Html.HiddenFor(x => x.BagItems[i].Product.Title)
                    }
                    <button type="submit">CUSTOMER INFO</button> >
                </form>
                <a class="current">SHIPPING</a> >
                <a>PAYMENT</a>
            </div>
        </div>

        <div class="col-4 right fadein">
            <div class="sidebar dark-card">
                <div class="header">
                    Bag
                </div>
                <div class="sidebar-items">
                    @foreach (var item in Model.BagItems)
                    {
                        <div class="sidebar-item">
                            <img src="~/images/gyngestol.jpg" />
                            <p>@item.Product.Title</p>
                            <p>@item.Quantity stk.</p>
                        </div>
                    }
                    <div class="checkout-price">
                        <p><span>shipping:</span> price</p>
                        <p><span>taxes:</span> price</p>
                        <p><span>total:</span> @Model.PriceSum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 center">
        <form asp-controller="Checkout" asp-action="AddShipping" method="post">
            @Html.HiddenFor(x => x.CustomerInfo.Email)
            @Html.HiddenFor(x => x.CustomerInfo.FirstName)
            @Html.HiddenFor(x => x.CustomerInfo.LastName)
            @Html.HiddenFor(x => x.CustomerInfo.Address)
            @Html.HiddenFor(x => x.CustomerInfo.City)
            @Html.HiddenFor(x => x.CustomerInfo.Country)
            @Html.HiddenFor(x => x.CustomerInfo.Postal)
            @Html.HiddenFor(x => x.CustomerInfo.Phone)
            @Html.HiddenFor(x => x.PriceSum)
            @Html.HiddenFor(x => x.Subject)
            @for (int i = 0; i < Model.BagItems.Count(); i++)
            {
                @Html.HiddenFor(x => x.BagItems[i].Subject)
                @Html.HiddenFor(x => x.BagItems[i].ProductId)
                @Html.HiddenFor(x => x.BagItems[i].Quantity)
                @Html.HiddenFor(x => x.BagItems[i].Product.Title)
            }
            <input id="shipping-name" type="hidden" asp-for="@Model.ShippingOption.Name" />
            <input id="shipping-price" type="hidden" asp-for="@Model.ShippingOption.Price" />

            <div class="col-8 left right-side-padding top-side-padding">
                <div class="custom-list dark-card">
                    <div id="custom-list-header" class="header">
                        Choose Shipping
                    </div>
                    <div class="custom-list-options" id="custom-list-options">
                        <select>
                            <option value="0">
                                Choose Shipping
                            </option>
                            @foreach (var item in shippingOptions)
                            {
                                <option value="@optionValue">
                                    @item.Name
                                </option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-4 right fadein ">
                <button id="custom-list-button" class="button dark-card" type="submit">CHOOSE SHIPPING</button> @*------------- SUBMIT FORM --------------*@
            </div>
        </form>
    </div>
</div>

<script src="~/JS/custom-list.js"> var button = document.getElementById("custom-list-button").disabled = true; </script>