@model Checkout

@{
    var optionValue = 1;
}

<div class="row fadein bottom-side-padding">
    <div class="col-8 center top-padding ">
        <div class="col-12 left">
            <div class="breadcrumbs">
                <a asp-controller="Bag" asp-action="Details">SHOPPING BAG</a>  >
                <a asp-controller="Checkout" asp-action="CustomerInf" asp-route-edit="true">CUSTOMER INFORMATION</a>  >
                <a class="current">SHIPPING</a> >
                <a>PAYMENT</a>
            </div>
        </div>

        <div class="col-4 right fadein top-side-padding">
            <div class="sidebar">
                <div class="sidebar-items">
                    @foreach (var item in Model.BagItems)
                    {
                        <div class="sidebar-item">
                            <img src="~/images/gyngestol.jpg" />
                            <p>@item.Product.Title</p>
                            <p>@item.Quantity stk.</p>
                        </div>
                    }
                    <div class="checkout-price">
                        <p><span>shipping:</span> price</p>
                        <p><span>taxes:</span> price</p>
                        <p><span>total:</span> @Model.TotalPrice</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8 center">
        <form asp-controller="Checkout" asp-action="PostShippingDelivery" method="post">
            <input required type="hidden" id="shipping-delivery-id" asp-for="@Model.ShippingDeliveryId" />
            <div class="col-8 left right-side-padding top-side-padding">
                <div class="custom-list">
                    <div id="custom-list-header" class="header">
                        Choose Shipping
                    </div>
                    <div class="custom-list-options" id="custom-list-options">
                        <select>
                            <option value="0">
                                Choose Shipping
                            </option>
                            @foreach (var item in ViewBag.ShippingDeliveries)
                            {
                                <option value="@optionValue">
                                    @item.Name
                                </option>
                                optionValue += 1;
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-4 right fadein top-side-padding">
                <button id="custom-list-button" class="button dark-card" type="submit">CHOOSE SHIPPING</button> @*------------- SUBMIT FORM --------------*@
            </div>
        </form>
    </div>
</div>

<script src="~/JS/custom-list.js"></script>