@model Order
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Bestilling Gennemført";
    ViewData["Description"] = "";
}

@*<link rel="stylesheet" href="~/css/orderConfirmation.css" />*@
<h1 class="top-padding text-center large-text">Bestillingen er gennemført!</h1>
<p class="text-center bottom-padding">Ordrebekræftelsen er sendt til din email addresse</p>
@*<div class="my-row padding-50">
    <div class="responsive-container center">
        <div class="order-confirmation">
            <div class="header">
                Oversigt over din bestilling
            </div>
            <div class="order-information">
                <h1>Ordreoplysninger</h1>
                <p>Ordrenummer:</p><span># @Model.Id</span>
                <p>Ordrens vægt:</p><span>@Model.WeightInKg kg.</span>
            </div>
            <div class="order-item-list">
                <div class="order-header">
                    <p>Ordre</p><span># @Model.Id</span>
                </div>
                @foreach (var item in Model.OrderItems)
                {
            <div class="order-item">
                @if (item.Product.Length != null)
                {
                    <a asp-controller="product" asp-action="details" asp-route-urlname="@item.Product.UrlName"><p>(@item.Quantity) @item.Product.Name / @item.Product.Length / @item.Product.Oil / @item.Product.WeightInKg kg.</p><span>kr. @(item.Product.Price*item.Quantity)</span></a>
                }
                else
                {
                    <a asp-controller="product" asp-action="details" asp-route-urlname="@item.Product.UrlName"><p>(@item.Quantity) @item.Product.Name / @item.Product.Oil / @item.Product.WeightInKg kg.</p><span>kr. @(item.Product.Price*item.Quantity)</span></a>
                }

            </div>
                }
            </div>
            <div class="order-price-summary">
                <p id="taxless-price-header">Momsgrundlag:</p><span id="taxless-price">kr. @Model.TaxLessPrice</span>
                <p>Momsbeløb(25%):</p><span>kr. @Model.Taxes</span>
                <p>Totalbeløb:</p><span>kr. @Model.TotalPrice</span>
            </div>
            <div class="order-information">
                <h1>Leveringsoplysninger</h1>
                @if (Model.ShippingDelivery.Type == ShippingType.Home)
                {
                    <p>Leveres til:</p><span>Leveringsaddressen med GLS</span>
                }
                else if (Model.ShippingDelivery.Type == ShippingType.HomePallegods)
                {
                    <p>Leveres til:</p><span>Leveringsaddressen med DKI Pallegods</span>
                }
                <p>Navn:</p><span>@Model.Customer.ShippingAddress.Name</span>
                <p>Addresse:</p><span>@Model.Customer.ShippingAddress.Address</span>
                <p>By:</p><span>@Model.Customer.ShippingAddress.City</span>
                <p>Postnummer:</p><span>@Model.Customer.ShippingAddress.Postal</span>
                <p>Land:</p><span>@Model.Customer.ShippingAddress.Country</span>
            </div>
            <div class="order-information">
                <p>Estimeret Leveringsdato:</p><span>@Model.EstimatedDelivery.DayOfWeek, @Model.EstimatedDelivery.Day / @Model.EstimatedDelivery.Month</span>
            </div>
        </div>
    </div>
</div>*@