@model Order
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Ordren Gennemført";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="~/css/orderConfirmation.css" />
<h1 class="top-padding text-center large-text">Bestillingen er gennemført!</h1>
<p class="text-center">Ordrebekræftelsen er sendt til @Model.Customer.Email</p>
<div class="my-row padding-50">
    <div class="responsive-container center">
        <div class="order-confirmation">
            <div class="header">
                Oversigt over din bestilling
            </div>
            <div class="order-information">
                <h1>Ordreoplysninger</h1>
                <p>Ordrenummer:</p><span># @Model.Id</span>
                <p>Ordrens vægt:</p><span>@Model.WeightInKg kg.</span>
            </div>
            <div class="order-item-list">
                <div class="order-header">
                    <p>Ordre</p><span># @Model.Id</span>
                </div>
                @foreach (var item in Model.OrderItems)
                {
            <div class="order-item">
                @if (item.Product.Length != null)
                {
                    <a asp-controller="product" asp-action="details" asp-route-urlname="@item.Product.UrlName"><p>(@item.Quantity) @item.Product.Name / @item.Product.Length / @item.Product.Oil / @item.Product.WeightInKg kg.</p><span>kr. @(item.Product.Price*item.Quantity)</span></a>
                }
                else
                {
                    <a asp-controller="product" asp-action="details" asp-route-urlname="@item.Product.UrlName"><p>(@item.Quantity) @item.Product.Name / @item.Product.Oil / @item.Product.WeightInKg kg.</p><span>kr. @(item.Product.Price*item.Quantity)</span></a>
                }

            </div>
                }
            </div>
            <div class="order-price-summary">
                <p id="taxless-price-header">Momsgrundlag:</p><span id="taxless-price">kr. @Model.TaxLessPrice</span>
                <p>Momsbeløb(25%):</p><span>kr. @Model.Taxes</span>
                <p>Totalbeløb:</p><span>kr. @Model.TotalPrice</span>
            </div>
            <div class="order-information">
                <h1>Kundeoplysninger</h1>
                <p>Navn:</p><span>@Model.Customer.BillingAddress.Name</span>
                <p>Telefon:</p><span>@Model.Customer.Phone</span>
                <p>Addresse:</p><span>@Model.Customer.BillingAddress.Address</span>
                <p>By:</p><span>@Model.Customer.BillingAddress.City</span>
                <p>Postnummer:</p><span>@Model.Customer.BillingAddress.Postal</span>
                <p>Land:</p><span>@Model.Customer.BillingAddress.Country</span>
            </div>
            @if (Model.ShippingDelivery.NotHomeNote != null)
            {
                <div class="order-information">
                    <p class="red-text">!Vigtigt <span class="normal-text">- Hvis kunden ikke er hjemme: </span></p><span>@Model.ShippingDelivery.NotHomeNote</span>
                </div>
            }
            <div class="order-information">
                @if (Model.ShippingDelivery.Type == "Home")
                {
                    <h1>Leveringsoplysninger</h1>
                    <p>Leveres til:</p><span>Leveringsaddressen med GLS</span>
                    <p>Addresse:</p><span>@Model.Customer.ShippingAddress.Address</span>
                    <p>By:</p><span>@Model.Customer.ShippingAddress.City</span>
                    <p>Postnummer:</p><span>@Model.Customer.ShippingAddress.Postal</span>
                    <p>Land:</p><span>@Model.Customer.ShippingAddress.Country</span>
                }
                else if (Model.ShippingDelivery.Type == "Shop")
                {
                    <h1>Leveringsoplysninger</h1>
                    <p>Leveres til:</p><span>Pakkeshop</span>
                    <p>Firmanavn:</p><span>@Model.ShippingDelivery.ParcelshopData.CompanyName</span>
                    <p>Addresse:</p><span>@Model.ShippingDelivery.ParcelshopData.Streetname, @Model.ShippingDelivery.ParcelshopData.Streetname2</span>
                    <p>By:</p><span>@Model.ShippingDelivery.ParcelshopData.CityName</span>
                    <p>Postnummer:</p><span>@Model.ShippingDelivery.ParcelshopData.ZipCode</span>
                    <p>Land:</p><span>@Model.ShippingDelivery.ParcelshopData.CountryCodeISO3166A2</span>
                }
                else if (Model.ShippingDelivery.Type == "HomeDKI")
                {
                    <h1>Leveringsoplysninger</h1>
                    <p>Leveres til:</p><span>Leveringsaddressen med DKI Pallegods</span>
                    <p>Addresse:</p><span>@Model.Customer.ShippingAddress.Address</span>
                    <p>By:</p><span>@Model.Customer.ShippingAddress.City</span>
                    <p>Postnummer:</p><span>@Model.Customer.ShippingAddress.Postal</span>
                    <p>Land:</p><span>@Model.Customer.ShippingAddress.Country</span>
                }

            </div>
            <div class="order-information">
                <p>Estimeret Leveringsdato:</p><span>@Model.EstimatedDelivery.DayOfWeek, @Model.EstimatedDelivery.Day / @Model.EstimatedDelivery.Month</span>
            </div>
        </div>
    </div>
</div>