@model Order

@{
    ViewData["Title"] = "Bestilling Gennemført";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="https://static.nykant.dk/css/orderConfirmation.min.css" />
<h1 class="top-padding text-center large-text">Bestillingen er gennemført!</h1>
<p class="text-center bottom-padding">Ordrebekræftelsen er sendt til din email addresse</p>
<div class="my-row padding-50">
    <div class="responsive-container center">
        <div class="order-confirmation">
            <div class="header">
                Oversigt over din bestilling
            </div>
            <div class="order-information">
                <h1>Ordreoplysninger</h1>
                <p>Ordrenummer:</p><span># @Model.Id</span>
                <p>Ordrens vægt:</p><span>@Model.WeightInKg kg.</span>
            </div>
            <div class="order-item-list">
                <div class="order-header">
                    <p>Ordre</p><span># @Model.Id</span>
                </div>
                @foreach (var item in Model.OrderItems)
                {
                    <div class="order-item">
                        @if (item.Product.Length != null)
                        {
                            <a asp-controller="product" asp-action="details" asp-route-category="@item.Product.Category.Name" asp-route-urlname="@item.Product.UrlName"><p>(@item.Quantity) @item.Product.Name / @item.Product.Length / @item.Product.Oil / @item.Product.WeightInKg kg.</p><span>kr. @item.Price</span></a>
                        }
                        else
                        {
                            <a asp-controller="product" asp-action="details" asp-route-category="@item.Product.Category.Name" asp-route-urlname="@item.Product.UrlName"><p>(@item.Quantity) @item.Product.Name / @item.Product.Oil / @item.Product.WeightInKg kg.</p><span>kr. @item.Price</span></a>
                        }

                    </div>
                }
            </div>
            <div class="order-price-summary">
                <p id="taxless-price-header">Rabat</p><span id="taxless-price">kr. @Model.Discount</span>
                <p>Momsgrundlag:</p><span>kr. @Model.TaxLessPrice</span>
                <p>Momsbeløb(25%):</p><span>kr. @Model.Taxes</span>
                <p>Totalbeløb:</p><span>kr. @Model.TotalPrice</span>
            </div>
            
            <div class="order-information">
                <p>Estimeret Leveringstid:</p><span>3-5 hverdage</span>
            </div>
        </div>
    </div>
</div>

<input id="order-id" hidden data-value="@Model.Id" />

@section scripts {
        <script asp-add-nonce="true" src="~/JS/trustpilot.js" defer></script>
}
