@model ProductVM

<div id="bagitem-added" class="centered">
    <div id="bagitem-added-close">
        <i class="fas fa-times"></i>
    </div>

    @if (ViewBag.ProductQuantity != null)
    {
        <p>Produkt tilføjet til din kurv</p>
        <div class="bagitem-added-product">
            <div class="bag-item-img">
                <img src="../@Model.Product.GalleryImage1" />
            </div>
            @if (Model.Product.Length != null)
            {
                <p class="width-70">(@ViewBag.ProductQuantity) @Model.Product.Name <br /> @Model.Product.Length <br /> @Model.Product.Oil</p>
            }
            else
            {
                <p class="width-70">(@ViewBag.ProductQuantity) @Model.Product.Name <br /> @Model.Product.Oil</p>
            }

            @if (Model.Product.Discount == 0)
            {
                <p class="width-30">kr. @(Model.Product.Price * ViewBag.ProductQuantity)</p>
            }
            else
            {
                <p class="width-30">kr. @(ProductHelper.GetPrice(Model.Product) * ViewBag.ProductQuantity) <span class="inline line-through red-text">@(Model.Product.Price * ViewBag.ProductQuantity)</span></p>
            }

        </div>
    }

    <a asp-controller="Bag" asp-action="Details">
        <div class="button">
            Gå til kurven
        </div>
    </a>
</div>

<script src="~/JS/bagItemAdded.js"></script>