@model ProductVM

<div id="karusel-box">
    @foreach (var product in Model.RelatedProducts)
    {
        //if (product.Id != Model.Product.Id && product.EColor == Model.Product.EColor)
        //{
    <div>
        @if (product.Discount > 0)
        {
            <div class="karusel-discount">
                <p>-@product.Discount%</p>
            </div>

            <div class="karusel-price">
                <p>kr. @ProductHelper.GetPrice(product) <span class="line-through red-text">@product.Price</span></p>
            </div>
        }
        else
        {
            <div class="karusel-price">
                <p>kr. @product.Price</p>
            </div>
        }

        <a asp-controller="product" asp-action="details" asp-route-urlname="@product.UrlName">
            <img class="absolute-center" src="@product.GalleryImage1" />
        </a>

    </div>
        @*}*@

    }
</div>
<button id="karusel-back" onclick="backevent()"><img src="~/lib/svg/arrow-left.svg" /></button>
<button id="karusel-forward" onclick="forwardevent()"><img src="~/lib/svg/arrow-right.svg" /></button>