@model GalleryVM

@{

    var count = 1;
    var productsWithoutSizesAndColors = Model.Products.Where(x => x.EColor == EColor.Nature).ToList();
    for (int i = 0; i < productsWithoutSizesAndColors.Count; i++)
    {
        if (productsWithoutSizesAndColors[i].Category.Name == "Hylder")
        {
            if (productsWithoutSizesAndColors[i].Length != "40 cm.")
            {
                productsWithoutSizesAndColors.RemoveAt(i);
            }
        }
    }
}

<div class="col-12 left ">
    <div id="current-filter">
        <div class="spinner hidden" id="filterspinner"></div>
        <h1>
            @if (ViewBag.CurrentFilter != null)
            {
                <i class="fas fa-search"></i>
                @ViewBag.CurrentFilter;
            }
        </h1>
    </div>
</div>
@foreach (var item in Model.Products)
{
    if (item.EColor == EColor.Nature)
    {
        if (item.Category.Name == "Hylder")
        {
            if (item.Length != "40 cm.")
            {
                goto skip;
            }
        }
        if (productsWithoutSizesAndColors.Count < 3)
        {
            <div class="col-4 center product-col">
                @if (item.Colors.Count() > 1)
                {
                    <div class="product-item-colors">
                        @foreach (var color in item.Colors)
                        {
                            if (color.EColor != EColor.Nature)
                            {
                                <a class="product-item-color" asp-controller="product" asp-action="details" asp-route-urlname="@color.ProductSourceUrlName" asp-route-category="@item.Category.Name">
                                    <img src="~/@color.ImgSrc" alt="@color.Alt" />
                                </a>
                            }
                        }
                    </div>
                }

                <div class="product-item">
                    <a asp-controller="product" asp-action="details" asp-route-urlname="@item.UrlName" asp-route-category="@item.Category.Name">

                        <div class="product-images">
                            @if (item.Discount != 0)
                            {
                                <div class="product-discount">
                                    <p class="red-text">-@item.Discount%</p>
                                </div>
                            }
                            @if (count > 5)
                            {
                                <div class="primary-img">
                                    <img loading="lazy" src="~/@item.GalleryImage1" alt="@item.Alt" />
                                </div>
                                count++;
                            }
                            else
                            {
                                <div class="primary-img">
                                    <img src="~/@item.GalleryImage1" alt="@item.Alt" />
                                </div>
                                count++;
                            }

                            <div class="secondary-img">
                                <img loading="lazy" src="~/@item.GalleryImage2" alt="@item.Alt" />
                            </div>
                        </div>
                        <div class="product-item-inside">
                            <div class="product-text">
                                <p>@item.Name</p>
                                @if (item.Discount == 0)
                                {
                                    <p>kr. @item.Price</p>
                                }
                                else
                                {
                                    <p>kr. @ProductHelper.GetPrice(item) <span class="inline line-through red-text">@item.Price</span></p>
                                }
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        }
        else
        {
            <div class="col-4 left product-col">
                @if (item.Colors.Count() > 1)
                {
                    <div class="product-item-colors">
                        @foreach (var color in item.Colors)
                        {
                            if (color.EColor != EColor.Nature)
                            {
                                <a class="product-item-color" asp-controller="product" asp-action="details" asp-route-urlname="@color.ProductSourceUrlName"asp-route-category="@item.Category.Name">
                                    <img src="~/@color.ImgSrc" alt="@color.Alt" />
                                </a>
                            }
                        }
                    </div>
                }

                <div class="product-item">
                    <a asp-controller="product" asp-action="details" asp-route-urlname="@item.UrlName" asp-route-category="@item.Category.Name">

                        <div class="product-images">
                            @if (item.Discount != 0)
                            {
                                <div class="product-discount">
                                    <p class="red-text">-@item.Discount%</p>
                                </div>
                            }
                            @if (count > 5)
                            {
                                <div class="primary-img">
                                    <img loading="lazy" src="~/@item.GalleryImage1" alt="@item.Alt" />
                                </div>
                                count++;
                            }
                            else
                            {
                                <div class="primary-img">
                                    <img src="~/@item.GalleryImage1" alt="@item.Alt" />
                                </div>
                                count++;
                            }

                            <div class="secondary-img">
                                <img loading="lazy" src="~/@item.GalleryImage2" alt="@item.Alt" />
                            </div>
                        </div>
                        <div class="product-item-inside">
                            <div class="product-text">
                                <p>@item.Name</p>
                                @if (item.Discount == 0)
                                {
                                    <p>kr. @item.Price</p>
                                }
                                else
                                {
                                    <p>kr. @ProductHelper.GetPrice(item) <span class="inline line-through red-text">@item.Price</span></p>
                                }
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        }

    }
    skip:;
}
