@model Product
@inject IViewLocalizer localizer
@inject IConfiguration conf

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = localizer[Model.Description];

    string url = @conf.GetSection("Urls")["Mvc"];



}
<script src="~/JS/swiped-events.min.js"></script>
<script src="~/JS/product-details.js" defer></script>
<script src="~/JS/collapsible.js"></script>
<script src="~/JS/product-slideshow.js" defer></script>

<div class="modal" id="item-added-modal">
    <partial name="_ItemAddedPartial">
</div>

<div class="my-row top-padding bottom-padding">
    <div class="col-10 center" id="details-wrapper">
        <div class="col-8 left" id="details-left">
            <div class="product-slideshow" id="product-slideshow">

                <div class="product-slide-container" id="product-slide-container">
                    @foreach (var image in Model.Images)
                    {
                        <div class="product-slide">
                            <img align="middle" data-shortsrc="../@image.Source" src="../@image.Source" />
                        </div>
                    }
                </div>
            </div>

            <div class="my-row top-side-padding">
                <div class="product-slide-buttons" id="product-slide-buttons">
                    @{
                        @for (int i = 0; i < Model.Images.Count(); i++)
                        {
                            <div class="product-slide-button">
                                <img src="../@Model.Images.ToList()[i].Source" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-4 left" id="details-right">
            <div class="details-info-wrap">

                <h1>@Model.Name</h1>
                <p >kr. @Model.Price</p>

                <div class="fake-box">
                    <h2 >@Model.Oil</h2>
                    <h3 >@Model.Length</h3>
                </div>

                @if (Model.ProductLengths.Count() > 0)
                {
                    <form id="length-form" method="get" asp-controller="Product" asp-action="GetLength">
                        <select id="length-select">
                            <option>Vælg Længde</option>
                            @foreach (var length in Model.ProductLengths)
                            {
                                <option data-product-id="@length.ProductReferenceId">@length.Length</option>
                            }
                        </select>
                        <input id="length-input" name="lengthInput" type="hidden" />
                    </form>
                }

                <div class="product-amount">
                    @if (Model.Amount > 0)
                    {
                        @if (Model.Amount > 10)
                        {
                            <p class="green-text">På Lager: 10+</p>
                        }
                        else
                        {
                            if (Model.Amount < 5)
                            {
                                <p class="green-text">På Lager: @Model.Amount</p>
                            }
                            else
                            {
                                <p class="green-text">På Lager: @Model.Amount</p>
                            }

                        }
                    }
                    else
                    {
                        <p class="red-text">Ikke På Lager</p>
                    }
                </div>

                <div class="expected-del">
                    @if (Model.ExpectedDelivery == new DateTime())
                    {
                        @if (Model.Amount == 0)
                        {
                            <p>Forventet leveringstid: 10-12 uger</p>
                        }
                        else
                        {
                            <p>Forventet leveringstid: 1 - 2 hverdage</p>
                        }
                    }
                    else
                    {
                        TimeSpan deliveryTimeSpan = new TimeSpan();
                        var deliveryDate = Model.ExpectedDelivery;
                        deliveryDate = deliveryDate.AddDays(2);
                        if (deliveryDate.DayOfWeek == DayOfWeek.Saturday)
                        {
                            deliveryDate = deliveryDate.AddDays(2);
                        }
                        else if (deliveryDate.DayOfWeek == DayOfWeek.Sunday)
                        {
                            deliveryDate = deliveryDate.AddDays(2);
                        }
                        else if (deliveryDate.DayOfWeek == DayOfWeek.Monday)
                        {
                            deliveryDate = deliveryDate.AddDays(1);
                        }
                        deliveryTimeSpan = deliveryDate.Subtract(DateTime.Now);

                        <p>Forventet leveringstid: @((int)deliveryTimeSpan.TotalDays) dage</p>
                    }
                </div>

                <div id="color-select">
                    <h3>Farver</h3>
                    @foreach (var color in Model.Colors)
                    {
                        <div class="color">
                            <a asp-controller="Product" asp-action="details" asp-route-id="@color.ProductSourceId">
                                <img src="../@color.ImgSrc" />
                            </a>
                        </div>
                    }
                </div>

                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#item-added-modal" data-ajax-success="item_added" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" asp-controller="BagItem" asp-action="PostBagItem">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.Images)
                    @Html.HiddenFor(x => x.ImageSource)
                    @Html.HiddenFor(x => x.ImageSource2)
                    @Html.HiddenFor(x => x.Name)
                    @Html.HiddenFor(x => x.Price)
                    @Html.HiddenFor(x => x.Materials)
                    @Html.HiddenFor(x => x.Alt)
                    @Html.HiddenFor(x => x.Oil)
                    @Html.HiddenFor(x => x.Description)
                    @Html.HiddenFor(x => x.CategoryId)
                    @Html.HiddenFor(x => x.WeightInKg)
                    @Html.HiddenFor(x => x.Number)
                    @Html.HiddenFor(x => x.Amount)
                    @Html.HiddenFor(x => x.AssemblyPath)
                    @Html.HiddenFor(x => x.EColor)
                    @Html.HiddenFor(x => x.ExpectedDelivery)
                    @Html.HiddenFor(x => x.Length)

                    <div class="product-counter">
                        <button id="product-counter-down" type="button"><i class="fas fa-minus"></i></button>
                        <input id="product-counter-input" type="number" name="quantity" value="1" />
                        <button id="product-counter-up" type="button"><i class="fas fa-plus"></i></button>
                    </div>

                    <div class="top-side-padding bottom-side-padding fadein " id="addproduct-button">
                        <button class="button" type="submit">@localizer["Add To Bag"]</button> @*style=border-radius="0"????*@
                    </div>
                </form>
            </div>
        </div>
        <div id="collapsible-wrapper" class="col-8 left">
            <div class="collapsible">
                <button type="button" class="collapsible-button2 active">@localizer["Description"]</button>
                <div class="collapsible-content">
                    <p id="product-description">@localizer[Model.Description]</p>
                </div>
            </div>
            <div class="collapsible">
                <button type="button" class="collapsible-button2 active">@localizer["Specifications"]</button>
                <div class="collapsible-content">
                    @localizer[Model.Size]
                    @localizer[Model.Materials]
                    @localizer[Model.Note]
                </div>
            </div>
            @if (Model.AssemblyPath != "none")
            {
                <div class="collapsible">
                    <button type="button" class="collapsible-button2 active">Samlevejledning</button>
                    <div class="collapsible-content">
                        <a href="@url@Model.AssemblyPath">Download</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@*<div class="row top-side-padding border-bottom background-lightblue">
        <div class="col-4 center">
            <div class="reviews padding">
                <h1>Reviews</h1>
                @if (Model.Reviews.Count() == 0)
                {
                    <p>Der er ingen reviews for dette produkt endnu</p>
                }
                @foreach (var item in Model.Reviews)
                {
                    <div class="review">
                        <h1>Brugernavn</h1>
                        <div class="review-stars">
                            @switch (item.Stars)
                            {
                                case 1:
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star unchecked"></i>
                                    <i class="fas fa-star unchecked"></i>
                                    <i class="fas fa-star unchecked"></i>
                                    <i class="fas fa-star unchecked"></i>
                                    break;
                                case 2:
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star unchecked"></i>
                                    <i class="fas fa-star unchecked"></i>
                                    <i class="fas fa-star unchecked"></i>
                                    break;
                                case 3:
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star unchecked"></i>
                                    <i class="fas fa-star unchecked"></i>
                                    break;
                                case 4:
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star unchecked"></i>
                                    break;
                                case 5:
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star checked"></i>
                                    <i class="fas fa-star checked"></i>
                                    break;
                            }
                        </div>
                        <div class="line"></div>
                        <h2>@item.Title</h2>
                        <p>@item.Body</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row top-side-padding bottom-side-padding">
        <div class="col-4 center">
            <form class="review-form" method="post" asp-controller="Review" asp-action="PostReview">
                <h1>Skriv et review</h1>
                <div class="review-stars right right-side-padding">
                    <i id="star1" class="fas fa-star unchecked"></i>
                    <i id="star2" class="fas fa-star unchecked"></i>
                    <i id="star3" class="fas fa-star unchecked"></i>
                    <i id="star4" class="fas fa-star unchecked"></i>
                    <i id="star5" class="fas fa-star unchecked"></i>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <input hidden asp-for="@Model.Review.Subject" value="@User.Claims.FirstOrDefault(x => x.Type == "sub").Value" />
                }
                <input hidden asp-for="@Model.Review.ProductId" value="@Model.Product.Id" />
                <input hidden asp-for="@Model.Review.Stars" id="stars-input" />
                <input id="review-title" class="title" asp-for="@Model.Review.Title" placeholder="Titel" />
                <span class="title-val" asp-validation-for="@Model.Review.Title"></span>
                <textarea id="review-body" class="body" asp-for="@Model.Review.Body" placeholder="Besked"></textarea>
                <span class="body-val" asp-validation-for="@Model.Review.Body"></span>
                @if (User.Identity.IsAuthenticated)
                {
                    <button id="review-button" class="button" type="submit">Vælg stjerner</button>
                }
                else
                {
                    <button class="button" type="submit" disabled>Log ind for at skrive review</button>
                }

            </form>
        </div>
    </div>*@




