@model Product
@inject IViewLocalizer localizer
@inject IConfiguration conf

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = localizer[Model.Description];

    string url = @conf.GetSection("Urls")["Mvc"];

    var buttonImages = Model.Images.Where(x => x.ImageType == ImageType.DetailsButton);
    var slideImages = Model.Images.Where(x => x.ImageType == ImageType.DetailsSlide);

    var count = 1;
}

<link rel="stylesheet" href="~/css/product-details.css" />
<script src="~/JS/swiped-events.min.js"></script>

<div class="pop" id="pop">
    <i id="close-pop" class="far fa-times-circle right"></i>
    <img align="middle" loading="lazy" class="bigImg" id="bigImg" />
</div> 

<div class="modal" id="item-added-modal">
    <partial name="_ItemAddedPartial">
</div>

<div class="my-row top-padding bottom-padding">
    <div class="col-10 center" id="details-wrapper">
        <div class="col-8 left" id="details-left">
            <div class="product-slideshow" id="product-slideshow">
                <div class="product-slide-container" id="product-slide-container">
                    @foreach (var image in slideImages)
                    {
                        if (count > 1)
                        {
                            <div class="product-slide">
                                <img loading="lazy" align="middle" data-fullscreenSrc="../@image.Source2" src="../@image.Source" />
                            </div>
                        }
                        else
                        {
                            <div class="product-slide">
                                <img align="middle" data-fullscreenSrc="../@image.Source2" src="../@image.Source" />
                            </div>
                        }
                        count++;
                    }
                </div>
            </div>

            <div class="my-row top-side-padding">
                <div class="product-slide-buttons" id="product-slide-buttons">
                    @foreach (var image in buttonImages)
                    {
                        <div class="product-slide-button">
                            <img src="../@image.Source" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-4 left" id="details-right">
            <div class="details-info-wrap">

                <h1>@Model.Name</h1>

                <p>kr. @Model.Price</p>

                <div class="fake-box">
                    <h2>@Model.Oil</h2>
                    <h3>@Model.Length</h3>
                </div>

                @if (Model.ProductLengths.Count() > 0)
                {
                    <form id="length-form" method="post" asp-controller="Product" asp-action="PostLength">
                        @Html.AntiForgeryToken()
                        <select id="length-select">
                            <option>Længder</option>
                            @foreach (var length in Model.ProductLengths)
                            {
                                <option data-product-urlname="@length.ProductReferenceUrlName">@length.Length</option>
                            }
                        </select>
                        <input id="length-input" name="urlname" type="hidden" />
                    </form>
                }

                <div class="product-amount">
                    @if (Model.Amount > 0)
                    {
                        @if (Model.Amount > 10)
                        {
                            <p class="green-text">På Lager: 10+</p>
                        }
                        else
                        {
                            if (Model.Amount < 5)
                            {
                                <p class="green-text">På Lager: @Model.Amount</p>
                            }
                            else
                            {
                                <p class="green-text">På Lager: @Model.Amount</p>
                            }

                        }
                    }
                    else
                    {
                        <p class="red-text">Ikke På Lager</p>
                    }
                </div>

                <div class="expected-del">
                    @if (Model.ExpectedDelivery == new DateTime())
                    {
                        @if (Model.Amount == 0)
                        {
                            <p>Forventet leveringstid: 10-12 uger</p>
                        }
                        else
                        {
                            <p>Forventet leveringstid: 1 - 2 hverdage</p>
                        }
                    }
                    else
                    {
                        TimeSpan deliveryTimeSpan = new TimeSpan();
                        var deliveryDate = Model.ExpectedDelivery;
                        deliveryDate = deliveryDate.AddDays(2);
                        if (deliveryDate.DayOfWeek == DayOfWeek.Saturday)
                        {
                            deliveryDate = deliveryDate.AddDays(2);
                        }
                        else if (deliveryDate.DayOfWeek == DayOfWeek.Sunday)
                        {
                            deliveryDate = deliveryDate.AddDays(2);
                        }
                        else if (deliveryDate.DayOfWeek == DayOfWeek.Monday)
                        {
                            deliveryDate = deliveryDate.AddDays(1);
                        }
                        deliveryTimeSpan = deliveryDate.Subtract(DateTime.Now);

                        <p>Forventet leveringstid: @((int)deliveryTimeSpan.TotalDays) dage</p>
                    }
                </div>

                <div id="color-select">
                    <h3>Farver</h3>
                    @foreach (var color in Model.Colors)
                    {
                        if (color.EColor == Model.EColor)
                        {
                            <div class="color current-color">
                                <a asp-controller="Product" asp-action="details" asp-route-urlname="@color.ProductSourceUrlName">
                                    <img src="../@color.ImgSrc" />
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="color">
                                <a asp-controller="Product" asp-action="details" asp-route-urlname="@color.ProductSourceUrlName">
                                    <img src="../@color.ImgSrc" />
                                </a>
                            </div>
                        }

                    }
                </div>

                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#item-added-modal" data-ajax-success="item_added" data-ajax-complete="noop" data-ajax-begin="addToBag_begin" data-ajax-failure="addToBag_failure" asp-controller="BagItem" asp-action="PostBagItem" asp-route-id="@Model.Id">
                    @Html.AntiForgeryToken()
                    <div class="product-counter">
                        <button id="product-counter-down" type="button"><i class="fas fa-minus"></i></button>
                        <input id="product-counter-input" type="number" name="quantity" value="1" />
                        <button id="product-counter-up" type="button"><i class="fas fa-plus"></i></button>
                    </div>

                    <div class="top-side-padding bottom-side-padding fadein " id="addproduct-button">
                        <button class="button" type="submit">
                            <div id="addToBag-error" class="loading-error">
                                <i class="fas fa-times"></i>
                            </div>
                            <div id="addToBag-spinner" class="hidden">
                                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                            </div>
                            <div class="loading-check-sign" id="addToBag-check-sign">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            <div id="addToBag-text">@localizer["Tilføj Til Kurv"]</div>
                        </button> @*style=border-radius="0"????*@
                    </div>
                </form>
            </div>
        </div>
        <div id="collapsible-wrapper" class="col-8 left">
            <div class="collapsible">
                <button type="button" class="collapsible-button2 active">@localizer["Beskrivelse"]</button>
                <div class="collapsible-content">
                    <p id="product-description">@Model.Description</p>
                </div>
            </div>
            <div class="collapsible">
                <button type="button" class="collapsible-button2 active">@localizer["Specifikationer"]</button>
                <div class="collapsible-content">
                    <table class="collapsible-table">
                        @Html.Raw(Model.Size)
                        @Html.Raw(Model.Materials)
                        @Html.Raw(Model.Package)
                        @if (Model.Note != null)
                        {
                            @Html.Raw(Model.Note)
                        }
                    </table>
                </div>
            </div>
            @if (Model.AssemblyPath != "none")
            {
                <div class="collapsible">
                    <button type="button" class="collapsible-button2 active">Samlevejledning</button>
                    <div class="collapsible-content">
                        <a href="@url@Model.AssemblyPath">Download</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script async src="~/JS/product-slideshow.js"></script>
<script async src="~/JS/product-details.js"></script>


