@model ProductVM

@{
    ViewData["Title"] = "Details";
    int productQuantity = 1;
}

@if (Model.ItemAdded)
{
    <script src="~/JS/item-added.js" defer></script>
    <div class="item-added" id="item-added">
        <p>Du har tilføjet et produkt til din kurv</p>
    </div>
    Model.ItemAdded = false;
}

<script>
    complete = function (xhr) {
        alert(`Hi ${xhr.responseText}!`);
    };
</script>

<div class="row top-padding border-bottom bottom-side-padding">
    <div class="col-10 center">
        <div class="col-8 left right-side-padding">
            <div class="details-image-wrap">
                <div class="details-image-list">
                    @foreach (var image in Model.Product.Images)
                    {
                        <div class="secondary-image-wrap fadein">
                            <div class="overlay"></div>
                            <img id="secondary-image" src="/images/gyngestol.jpg" onclick="changeImage('/images/gyngestol.jpg')" />
                        </div>
                    }
                </div>
                <div class="primary-image-wrap fadein">
                    <img id="primary-image" src="/images/Finback-Chairs1-1280x853-c-default.jpg">
                </div>
            </div>
        </div>

        <div class="col-4 right">
            <form method="post" asp-controller="BagItem" asp-action="PostBagItem">
                <div class="details-info-wrap fadein">

                    <div>
                        @Model.Product.Title
                    </div>

                    <div class="review-stars">
                        <span style="font-size:10px;">REVIEWS:</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>


                    <h1>@Model.Product.Price dkk,-</h1>


                    <div class="product-preferences">
                        <button type="button" class="button-red"></button>
                        <button type="button" class="button-blue"></button>
                        <button type="button" class="button-brown"></button>
                    </div>

                    @Html.HiddenFor(x => x.Product.Id)
                    @Html.HiddenFor(x => x.Product.Size)
                    @Html.HiddenFor(x => x.Product.TypeOfWood)
                    @Html.HiddenFor(x => x.Product.Price)
                    @Html.HiddenFor(x => x.Product.Title)
                    @Html.HiddenFor(x => x.Product.Color)
                    @Html.HiddenFor(x => x.Product.Alt)
                    @Html.HiddenFor(x => x.Product.Description)
                    @Html.HiddenFor(x => x.Product.ImageSource)
                    @Html.HiddenFor(x => x.Product.Path)

                    <div class="quantity-wrap">
                        <span style="margin-right:0px;" id="numberdown" onclick="countdown()">-</span>
                        <input class="quantitynumber" id="quantitynumber" name="productQuantity" value="@productQuantity" />
                        <span style="margin-left:0px;" id="numberup" onclick="countup()">+</span>
                    </div>
                </div>
                <div class="top-side-padding bottom-side-padding fadein">
                    <button class="button" style="border-radius:0px;" type="submit">ADD TO BAG</button>
                </div>

            </form>
        </div>

        <div class="col-4 right">
            <div class="collapsible fadein">
                <button type="button" class="collapsible-button">Beskrivelse</button>
                <div class="collapsible-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="collapsible top-side-padding fadein">
                <button type="button" class="collapsible-button">Specifikationer</button>
                <div class="collapsible-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="collapsible top-side-padding fadein">
                <button type="button" class="collapsible-button">Description</button>
                <div class="collapsible-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row top-side-padding border-bottom background-lightblue">
    <div class="col-6 center">
        <div class="reviews padding">
            <h1>Reviews</h1>
            @foreach (var item in Model.Reviews)
            {
                <div class="review">
                    <h1>NAVN</h1>
                    <div class="review-stars">
                        @switch (item.Stars)
                        {
                            case 1:
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                break;
                            case 2:
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                break;
                            case 3:
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                break;
                            case 4:
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star unchecked"></i>
                                break;
                            case 5:
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                break;

                        }
                    </div>
                    <div class="line"></div>
                    <h2>@item.Title</h2>
                    <p>@item.Body</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="row top-side-padding bottom-side-padding">
    <div class="col-6 center">
        <form class="review-form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="complete" asp-controller="Review" asp-action="PostReview">
            <div class="review-stars">
                <i id="star1" class="fas fa-star unchecked"></i>
                <i id="star2" class="fas fa-star unchecked"></i>
                <i id="star3" class="fas fa-star unchecked"></i>
                <i id="star4" class="fas fa-star unchecked"></i>
                <i id="star5" class="fas fa-star unchecked"></i>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <input hidden asp-for="@Model.Review.Subject" value="@User.Claims.FirstOrDefault(x => x.Type == "sub").Value" />
            }
            <input hidden asp-for="@Model.Review.ProductId" value="@Model.Product.Id" />
            <input hidden asp-for="@Model.Review.Stars" id="stars-input" />
            <input asp-for="@Model.Review.Title" />
            <input asp-for="@Model.Review.Body" />
            @if (User.Identity.IsAuthenticated)
            {
                <button class="button" type="submit">Send</button>
            }
            else
                        {
                <button class="button" type="submit" disabled>Log ind for at skrive review</button>
            }

        </form>
    </div>
</div>

<script>
    var star1 = document.getElementById("star1");
                        var star2 = document.getElementById("star2");
                        var star3 = document.getElementById("star3");
                        var star4 = document.getElementById("star4");
                        var star5 = document.getElementById("star5");
                        var input = document.getElementById("stars-input");
                        star1.addEventListener("click", function () {
                            star1.classList.remove("unchecked");
                            star1.classList.add("checked");

                            star2.classList.remove("checked");
                            star2.classList.add("unchecked");

                            star3.classList.remove("checked");
                            star3.classList.add("unchecked");

                            star4.classList.remove("checked");
                            star4.classList.add("unchecked");

                            star5.classList.remove("checked");
                            star5.classList.add("unchecked");

                            input.value = 1;
                        })
    star2.addEventListener("click", function () {
                            star1.classList.remove("unchecked");
                            star1.classList.add("checked");

                            star2.classList.remove("unchecked");
                            star2.classList.add("checked");

                            star3.classList.remove("checked");
                            star3.classList.add("unchecked");

                            star4.classList.remove("checked");
                            star4.classList.add("unchecked");

                            star5.classList.remove("checked");
                            star5.classList.add("unchecked");
                            input.value = 2;
                        })
    star3.addEventListener("click", function () {
                            star1.classList.remove("unchecked");
                            star1.classList.add("checked");

                            star2.classList.remove("unchecked");
                            star2.classList.add("checked");

                            star3.classList.remove("unchecked");
                            star3.classList.add("checked");

                            star4.classList.remove("checked");
                            star4.classList.add("unchecked");

                            star5.classList.remove("checked");
                            star5.classList.add("unchecked");
                            input.value = 3;
                        })
    star4.addEventListener("click", function () {
                            star1.classList.remove("unchecked");
                            star1.classList.add("checked");

                            star2.classList.remove("unchecked");
                            star2.classList.add("checked");

                            star3.classList.remove("unchecked");
                            star3.classList.add("checked");

                            star4.classList.remove("unchecked");
                            star4.classList.add("checked");

                            star5.classList.remove("checked");
                            star5.classList.add("unchecked");
                            input.value = 4;
                        })
    star5.addEventListener("click", function () {
                            star1.classList.remove("unchecked");
                            star1.classList.add("checked");

                            star2.classList.remove("unchecked");
                            star2.classList.add("checked");

                            star3.classList.remove("unchecked");
                            star3.classList.add("checked");

                            star4.classList.remove("unchecked");
                            star4.classList.add("checked");

                            star5.classList.remove("unchecked");
                            star5.classList.add("checked");
                            input.value = 5;
                        })
</script>