@model ProductVM
@inject IViewLocalizer localizer
@inject IConfiguration conf

@{
    ViewData["Title"] = Model.Product.Title;
    ViewData["Description"] = localizer[Model.Product.Description];

    string url = @conf.GetSection("Urls")["Mvc"];

    var buttonImages = Model.Product.Images.Where(x => x.ImageType == ImageType.DetailsButton);
    var slideImages = Model.Product.Images.Where(x => x.ImageType == ImageType.DetailsSlide);

    var count = 1;

    var randomRelated = ProductHelper.RandomizeList(Model.RelatedProducts);
}

<link rel="stylesheet" href="~/css/product-details.css?1" />
<link rel="stylesheet" href="~/css/karusel.css?1" />
<script src="~/JS/swiped-events.min.js"></script>

<div class="pop" id="pop">
    <i id="close-pop" class="far fa-times-circle right"></i>
    <img align="middle" loading="lazy" class="bigImg" id="bigImg" />
</div> 

<div class="modal" id="item-added-modal">
    <partial name="_ItemAddedPartial">
</div>

<div class="my-row top-padding bottom-padding">
    <div class="col-10 center" id="details-wrapper">
        <div class="col-8 left" id="details-left">
            <div class="product-slideshow" id="product-slideshow">
                <div class="product-slide-container" id="product-slide-container">
                    @foreach (var image in slideImages)
                    {
                        if (count > 1)
                        {
                            <div class="product-slide">
                                <img loading="lazy" align="middle" data-fullscreenSrc="../@image.Source2" src="../@image.Source" />
                            </div>
                        }
                        else
                        {
                            <div class="product-slide">
                                <img align="middle" data-fullscreenSrc="../@image.Source2" src="../@image.Source" />
                            </div>
                        }
                        count++;
                    }
                </div>
            </div>

            <div class="my-row top-side-padding">
                <div class="product-slide-buttons" id="product-slide-buttons">
                    @foreach (var image in buttonImages)
                    {
                        <div class="product-slide-button">
                            <img src="../@image.Source" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-4 left" id="details-right">
            <div class="details-info-wrap">

                <h1>@Model.Product.Name</h1>

                @if (Model.Product.Discount == 0)
                {
                    <p>kr. @Model.Product.Price</p>
                }
                else
                {
                    <p>kr. @ProductHelper.GetPrice(Model.Product) <span class="inline line-through red-text">@Model.Product.Price</span></p>
                }

                <div class="fake-box">
                    <h2>@Model.Product.Oil</h2>
                    <h3>@Model.Product.Length</h3>
                </div>

                @if (Model.Product.ProductLengths.Count() > 0)
                {
                    <form id="length-form" method="post" asp-controller="Product" asp-action="PostLength">
                        @Html.AntiForgeryToken()
                        <select id="length-select">
                            <option>Længder</option>
                            @foreach (var length in Model.Product.ProductLengths)
                            {
                                <option data-product-urlname="@length.ProductReferenceUrlName">@length.Length</option>
                            }
                        </select>
                        <input id="length-input" name="urlname" type="hidden" />
                    </form>
                }

                <div class="product-amount">
                    @if (Model.Product.Amount > 0)
                    {
                        @if (Model.Product.Amount > 10)
                        {
                            <p class="green-text">På Lager: 10+</p>
                        }
                        else
                        {
                            if (Model.Product.Amount < 5)
                            {
                                <p class="green-text">På Lager: @Model.Product.Amount</p>
                            }
                            else
                            {
                                <p class="green-text">På Lager: @Model.Product.Amount</p>
                            }

                        }
                    }
                    else
                    {
                        <p class="red-text">Ikke På Lager</p>
                    }
                </div>

                <div class="expected-del">
                    @if (Model.Product.ExpectedDelivery == new DateTime())
                    {
                        @if (Model.Product.Amount == 0)
                        {
                            <p>Forventes på lager: 10-12 uger</p>
                        }
                        else
                        {
                            <p>Forventet leveringstid: 3 - 5 hverdage</p>
                        }
                    }
                    else
                    {
                        TimeSpan deliveryTimeSpan = new TimeSpan();
                        var deliveryDate = Model.Product.ExpectedDelivery;
                        deliveryDate = deliveryDate.AddDays(2);
                        if (deliveryDate.DayOfWeek == DayOfWeek.Saturday)
                        {
                            deliveryDate = deliveryDate.AddDays(2);
                        }
                        else if (deliveryDate.DayOfWeek == DayOfWeek.Sunday)
                        {
                            deliveryDate = deliveryDate.AddDays(2);
                        }
                        else if (deliveryDate.DayOfWeek == DayOfWeek.Monday)
                        {
                            deliveryDate = deliveryDate.AddDays(1);
                        }
                        deliveryTimeSpan = deliveryDate.Subtract(DateTime.Now);

                        <p>Forventes på lager: @((int)deliveryTimeSpan.TotalDays) dage</p>
                    }
                </div>

                <div id="color-select">
                    <h3>Farver</h3>
                    @foreach (var color in Model.Product.Colors)
                    {
                        if (color.EColor == Model.Product.EColor)
                        {
                            <div class="color current-color">
                                <a asp-controller="Product" asp-action="details" asp-route-urlname="@color.ProductSourceUrlName">
                                    <img src="../@color.ImgSrc" />
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="color">
                                <a asp-controller="Product" asp-action="details" asp-route-urlname="@color.ProductSourceUrlName">
                                    <img src="../@color.ImgSrc" />
                                </a>
                            </div>
                        }

                    }
                </div>

                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#item-added-modal" data-ajax-success="item_added" data-ajax-complete="noop" data-ajax-begin="addToBag_begin" data-ajax-failure="addToBag_failure" asp-controller="BagItem" asp-action="PostBagItem" asp-route-id="@Model.Product.Id">
                    @Html.AntiForgeryToken()
                    <div class="product-counter">
                        <button id="product-counter-down" type="button"><i class="fas fa-minus"></i></button>
                        <input id="product-counter-input" type="number" name="quantity" value="1" />
                        <button id="product-counter-up" type="button"><i class="fas fa-plus"></i></button>
                    </div>
                    @if (Model.Product.ExpectedDelivery == new DateTime() && Model.Product.Amount > 0)
                    {
                        <div class="top-side-padding bottom-side-padding fadein " id="addproduct-button">
                            <button class="button" type="submit">
                                <div id="addToBag-error" class="loading-error">
                                    <i class="fas fa-times"></i>
                                </div>
                                <div id="addToBag-spinner" class="hidden">
                                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                                </div>
                                <div class="loading-check-sign" id="addToBag-check-sign">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                                <div id="addToBag-text">@localizer["Tilføj Til Kurv"]</div>
                            </button> @*style=border-radius="0"????*@
                        </div>
                    }
                    else
                    {
                        <div class="top-side-padding bottom-side-padding fadein " id="addproduct-button">
                            <button disabled class="button" type="submit">
                                <div id="addToBag-error" class="loading-error">
                                    <i class="fas fa-times"></i>
                                </div>
                                <div id="addToBag-spinner" class="hidden">
                                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                                </div>
                                <div class="loading-check-sign" id="addToBag-check-sign">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                                <div id="addToBag-text">@localizer["Tilføj Til Kurv"]</div>
                            </button> @*style=border-radius="0"????*@
                        </div>
                    }

                </form>
            </div>
        </div>

        <div class="sidestepper col-8 left">
            <div class="sidestep-headers" id="sidestep-headers">
                <div class="active" data-number="1">@localizer["Beskrivelse"]</div>
                <div data-number="2">@localizer["Specifikationer"]</div>
                @if (Model.Product.AssemblyPath != "none")
                {
                    <div data-number="3">Samlevejledning</div>
                }
            </div>
            <div class="sidestep-bodies" id="sidestep-bodies">
                <div class="active">@Model.Product.Description</div>
                <div>
                    <table>
                        @Html.Raw(Model.Product.Size)
                        @Html.Raw(Model.Product.Materials)
                        @Html.Raw(Model.Product.Package)
                        @if (Model.Product.Note != null)
                        {
                            @Html.Raw(Model.Product.Note)
                        }
                    </table>
                </div>
                <div>
                    <a href="@url@Model.Product.AssemblyPath">Download</a>
                </div>
            </div>
        </div>

        @*<div id="collapsible-wrapper" class="col-8 left">
                <div class="collapsible">
                    <button type="button" class="collapsible-button2 active"></button>
                    <div class="collapsible-content">
                        <p id="product-description"></p>
                    </div>
                </div>
                <div class="collapsible">
                    <button type="button" class="collapsible-button2 active"></button>
                    <div class="collapsible-content">

                    </div>
                </div>
                @if (Model.AssemblyPath != "none")
                {
                    <div class="collapsible">
                        <button type="button" class="collapsible-button2 active">Samlevejledning</button>
                        <div class="collapsible-content">

                        </div>
                    </div>
                }
            </div>*@
    </div>

    <div class="col-12 left top-padding bottom-padding">
        <h1 class="karusel-header">Du kunne måske være interesseret i disse:</h1>
        <div class="karusel" id="details-karusel">
            <div class="karusel-box" id="details-karusel-box">
                @foreach (var product in randomRelated)
                {
                    if (product.Id != Model.Product.Id)
                    {
                        <div>
                            @if (product.Discount > 0)
                            {
                                <div class="karusel-discount">
                                    <p>-@product.Discount%</p>
                                </div>

                                <div class="karusel-price">
                                    <p>kr. @ProductHelper.GetPrice(product) <span class="line-through red-text">@product.Price</span></p>
                                </div>
                            }
                            else
                            {
                                <div class="karusel-price">
                                    <p>kr. @product.Price</p>
                                </div>
                            }
                            <a asp-controller="product" asp-action="details" asp-route-urlname="@product.UrlName">
                                <img class="absolute-center" src="@product.GalleryImage1" />
                            </a>
                        </div>
                    }
                }
            </div>
            <button class="karusel-back"  onclick="details_backevent()"><img src="~/lib/svg/arrow-left.svg" /></button>
            <button class="karusel-forward"  onclick="details_forwardevent()"><img src="~/lib/svg/arrow-right.svg" /></button>
        </div>
    </div>
</div>

<script src="~/JS/product-slideshow.js"></script>
<script src="~/JS/product-details.js?1"></script>
<script src="~/JS/details-karusel.js"></script>


