@model Product

@{
    ViewData["Title"] = "Details";
}

<script src="~/JS/product-details.js" defer></script>

<div class="modal" id="item-added-modal">
    <div id="bagitem-added">
        <div id="bagitem-added-close">
            <i class="fas fa-times"></i>
        </div>
        <p>Du har tilføjet et produkt til din kurv:</p>

        <div class="bagitem-added-product">
            <div class="bag-item-img">
                <img src="../@Model.ImageSource" />
            </div>
            <p>@Model.Title</p>
            <p>@Model.Price.-</p>
        </div>
        <a asp-controller="Bag" asp-action="Details">
            <div class="button">
                <p>Gå til kurven</p>
            </div>
        </a>
    </div>
</div>

<div class="row top-padding border-bottom bottom-padding">
    <div class="col-10 center" id="details-wrapper">
        <div class="col-8 left" id="details-left">
            @foreach (var image in Model.Images)
            {
                <div class="col-6 left">
                    <div class="image-wrap">
                        <img src="../@image.Source" />
                    </div>
                </div>
            }
        </div>

        <div class="col-4 right" id="details-right">
            <div class="details-info-wrap fadein">

                <h1>@Model.Title</h1>
                <p>@Model.Price.-</p>

                <div id="color-select">
                    <h3>Farver</h3>
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="color">
                            <a asp-controller="Product" asp-action="details" asp-route-id="@Model.Id">
                                <img src="../@Model.ImageSource" />
                            </a>
                        </div>
                    }
                </div>

                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="item_added" asp-controller="BagItem" asp-action="PostBagItem">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.Images)
                    @Html.HiddenFor(x => x.ImageSource)
                    @Html.HiddenFor(x => x.ImageSource2)
                    @Html.HiddenFor(x => x.ItemType)
                    @Html.HiddenFor(x => x.LastModified)
                    @Html.HiddenFor(x => x.Name)
                    @Html.HiddenFor(x => x.Path)
                    @Html.HiddenFor(x => x.Price)
                    @Html.HiddenFor(x => x.Size)
                    @Html.HiddenFor(x => x.Title)
                    @Html.HiddenFor(x => x.TypeOfWood)
                    @Html.HiddenFor(x => x.Alt)
                    @Html.HiddenFor(x => x.Color)
                    @Html.HiddenFor(x => x.Description)
                    @Html.HiddenFor(x => x.CategoryId)

                    <div class="top-side-padding bottom-side-padding fadein " id="addproduct-button">
                        <button class="button" style="border-radius:0px;" type="submit">ADD TO BAG</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="collapsible-wrapper" class="col-8 left">
            <div class="collapsible">
                <button type="button" class="collapsible-button">Beskrivelse</button>
                <div class="collapsible-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="collapsible">
                <button type="button" class="collapsible-button">Specifikationer</button>
                <div class="collapsible-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="collapsible">
                <button type="button" class="collapsible-button">Description</button>
                <div class="collapsible-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="row top-side-padding border-bottom background-lightblue">
    <div class="col-4 center">
        <div class="reviews padding">
            <h1>Reviews</h1>
            @if (Model.Reviews.Count() == 0)
            {
                <p>Der er ingen reviews for dette produkt endnu</p>
            }
            @foreach (var item in Model.Reviews)
            {
                <div class="review">
                    <h1>Brugernavn</h1>
                    <div class="review-stars">
                        @switch (item.Stars)
                        {
                            case 1:
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                break;
                            case 2:
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                break;
                            case 3:
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star unchecked"></i>
                                <i class="fas fa-star unchecked"></i>
                                break;
                            case 4:
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star unchecked"></i>
                                break;
                            case 5:
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                break;
                        }
                    </div>
                    <div class="line"></div>
                    <h2>@item.Title</h2>
                    <p>@item.Body</p>
                </div>
            }
        </div>
    </div>
</div>

<div class="row top-side-padding bottom-side-padding">
    <div class="col-4 center">
        <form class="review-form" method="post" asp-controller="Review" asp-action="PostReview">
            <h1>Skriv et review</h1>
            <div class="review-stars right right-side-padding">
                <i id="star1" class="fas fa-star unchecked"></i>
                <i id="star2" class="fas fa-star unchecked"></i>
                <i id="star3" class="fas fa-star unchecked"></i>
                <i id="star4" class="fas fa-star unchecked"></i>
                <i id="star5" class="fas fa-star unchecked"></i>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <input hidden asp-for="@Model.Review.Subject" value="@User.Claims.FirstOrDefault(x => x.Type == "sub").Value" />
            }
            <input hidden asp-for="@Model.Review.ProductId" value="@Model.Product.Id" />
            <input hidden asp-for="@Model.Review.Stars" id="stars-input" />
            <input id="review-title" class="title" asp-for="@Model.Review.Title" placeholder="Titel" />
            <span class="title-val" asp-validation-for="@Model.Review.Title"></span>
            <textarea id="review-body" class="body" asp-for="@Model.Review.Body" placeholder="Besked"></textarea>
            <span class="body-val" asp-validation-for="@Model.Review.Body"></span>
            @if (User.Identity.IsAuthenticated)
            {
                <button id="review-button" class="button" type="submit">Vælg stjerner</button>
            }
            else
            {
                <button class="button" type="submit" disabled>Log ind for at skrive review</button>
            }

        </form>
    </div>
</div>*@




