@model List<Product>
@{
    ViewData["Title"] = "Produkter";
}

<script src="~/JS/products.js" defer></script>

<div class="row">
    <div class="col-6 center col-wrapper">
        <div class="filter">
            @foreach (var category in ViewBag.Categories)
            {
                <form class="filter-form" asp-controller="Product" asp-action="Filter" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#product-list" data-ajax-complete="filtercomplete">
                    <div class="category">
                        <input type="submit" name="categoryName" value="@category.Name" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<div class="row fullscreen-row">
    <div class="col-10 center col-wrapper top-side-padding">
        <div id="product-list">
            <partial name="_ProductListPartial">
        </div>
    </div>
</div>



































































<!--<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            <ul class="cd-filters">
                <li class="placeholder">
                    <a data-type="all" href="#">All</a> <!-- selected option on mobile -->
                <!--</li>
                <li class="filter"><a class="selected" href="#" data-type="all">All</a></li>
                <li class="filter" data-filter=".valnød"><a href="#0" data-type="valnød">Valnød</a></li>
                <li class="filter" data-filter=".eg"><a href="#0" data-type="eg">Eg</a></li>
                <li class="filter" data-filter=".fyr"><a href="#0" data-type="fyr">Fyr</a></li>
            </ul>--> <!-- cd-filters -->
        <!--</div>--> <!-- cd-tab-filter -->
    <!--</div>--> <!-- cd-tab-filter-wrapper -->

    <!--<div class="col-10 center">
        <section class="cd-gallery">
            <ul>
                @foreach (var product in Model)
                {
                    <li class="mix @product.TypeOfWood @product.ItemType @product.Color @product.Size">

                        <div class="product-container">
                            <a asp-action="Details" asp-controller="Product" asp-route-id="@product.Id">
                                <img class="product-image" src="@product.ImageSource" alt="@product.Alt">

                                <div class="seemore">
                                    <img class="product-image" src="@product.ImageSource2" alt="@product.Alt">
                                </div>
                            </a>
                        </div>
                        <div class="product-info">
                            Name Of Product
                        </div>
                    </li>
                }-->
                @*<li class="gap"></li>
                <li class="gap"></li>
                <li class="gap"></li>*@
            <!--</ul>
            <div class="cd-fail-message">No results found</div>
        </section>--><!---->@*-->*@ <!-- cd-gallery -->
    <!--</div>


    <div class="cd-filter">
        <form class="filter-form">
            <div class="cd-filter-block">
                <h4>Søg</h4>

                <div class="cd-filter-content">
                    <input type="search" placeholder="Try color-1...">
                </div>--> <!-- cd-filter-content -->
            <!--</div>--> <!-- cd-filter-block -->

            <!--<div class="cd-filter-block">
                <h4>Type af model</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter=".stol" type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">Stole</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".skærebræt" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">Skærebrætter</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".bænk" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Bænke</label>
                    </li>
                </ul>--> <!-- cd-filter-content -->
            <!--</div>--> <!-- cd-filter-block -->

            <!--<div class="cd-filter-block">
                <h4>Størelse</h4>

                <div class="cd-filter-content">
                    <div class="cd-select cd-filters">
                        <select class="filter" name="selectThis" id="selectThis">
                            <option value="">All</option>
                            <option value=".5mm">5mm</option>
                            <option value=".10mm">10mm</option>
                            <option value=".20mm">20mm</option>
                        </select>
                    </div>--> <!-- cd-select -->
                <!--</div>--> <!-- cd-filter-content -->
            <!--</div>--> <!-- cd-filter-block -->

            <!--<div class="cd-filter-block">
                <h4>Farve</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                        <label class="radio-label" for="radio1">All</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".naturligt" type="radio" name="radioButton" id="radio2">
                        <label class="radio-label" for="radio2">Naturligt</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".farvet-overflade" type="radio" name="radioButton" id="radio3">
                        <label class="radio-label" for="radio3">Choice 3</label>
                    </li>

                </ul>--> <!-- cd-filter-content -->
            <!--</div>--> <!-- cd-filter-block -->
        <!--</form>

        <a href="#0" class="cd-close">Close</a>
    </div>--> <!-- cd-filter -->

    <!--<a href="#0" class="cd-filter-trigger">Filters</a>
</main>--> <!-- cd-main-content -->

