@using NykantMVC.Extensions;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewBag.BagItemAmount = Context.Session.Get<int>("verysecretseriousbagitemsessionkeyspecial");
    var routevalues = Context.Request.RouteValues;
    var controller = routevalues["controller"];
    var action = routevalues["action"];
    var baseUrl = Configuration.GetSection("Urls")["Is"];
}


<div id="nav-links">
    <i id="burger-close" class="far fa-times-circle right"></i>
    <div class="sb-example-3 sidepadding">
        <!-- partial:index.partial.html -->
        <div class="search__container">
            <form method="post" asp-action="Search" asp-controller="Product">
                @Html.AntiForgeryToken()
                <input class="search__input" type="text" name="searchString" placeholder="SØG">
            </form>
        </div>
    </div>
    <a asp-controller="Product" asp-action="Gallery">PRODUKTER</a>

    <div id="nav-links-product-filter">
        <form method="post" asp-action="Search" asp-controller="Product">
            @Html.AntiForgeryToken()
            <input class="search__input" type="submit" name="searchString" value="Tøjstativer">
        </form>
        <form method="post" asp-action="Search" asp-controller="Product">
            @Html.AntiForgeryToken()
            <input class="search__input" type="submit" name="searchString" value="Borde">
        </form>
        <form method="post" asp-action="Search" asp-controller="Product">
            @Html.AntiForgeryToken()
            <input class="search__input" type="submit" name="searchString" value="Hylder">
        </form>
        <form method="post" asp-action="Search" asp-controller="Product">
            @Html.AntiForgeryToken()
            <input class="search__input" type="submit" name="searchString" value="Bænke">
        </form>
        <form method="post" asp-action="Search" asp-controller="Product">
            @Html.AntiForgeryToken()
            <input class="search__input" type="submit" name="searchString" value="Bøjler">
        </form>
    </div>
    @*<a asp-controller="Home" asp-action="About">OM OS</a>
        <a asp-controller="Home" asp-action="Contact">KONTAKT</a>*@
</div>

<div id="navbar" class="navbar">
    <div class="desktop-navbar-wrap">
        <div class="my-row">
            <div class="logo-link">
                <a asp-controller="Home" asp-action="Index">
                    <div id="logo">

                    </div>
                </a>
            </div>

            <div id="searchbox" class="sb-example-3 right">
                <!-- partial:index.partial.html -->
                <div class="search__container">
                    <form method="post" asp-action="Search" asp-controller="Product">
                        @Html.AntiForgeryToken()
                        <input class="search__input" type="text" name="searchString" placeholder="SØG">
                    </form>
                </div>
            </div>

            <a href="javascript:void(0);" id="nav-burger">
                <img class="nav-svg" src="~/lib/svg/bars.svg" />
            </a>

            <a id="shopping-bag" asp-controller="Bag" asp-action="Details"><span>@ViewBag.BagItemAmount</span> <img class="nav-svg" src="~/lib/svg/shopping-bag.svg" /></a>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown">
                    <button href="javascript:void(0);" class="dropbtn" id="userLogo">
                        <img class="nav-svg" src="~/lib/svg/user.svg" />
                    </button>
                    <div class="dropdown-content">
                        <a href="@baseUrl/identity/account/manage/twofactorauthentication">
                            2FA
                        </a>
                        <a asp-controller="order" asp-action="allorders">
                            Alle Orders
                        </a>
                        <a asp-controller="order" asp-action="unsentorders">
                            Usendte Order
                        </a>
                        <a asp-controller="order" asp-action="backorders">
                            Restordrer
                        </a>
                        <a asp-controller="Account" asp-action="Logout">
                            Log ud
                        </a>
                    </div>
                </div>
            }
        </div>

        <div id="desktop-row" class="my-row">
            <a id="product-link" asp-controller="Product" asp-action="Gallery">PRODUKTER</a>
            @*<a asp-controller="Home" asp-action="About">OM OS</a>
            <a asp-controller="Home" asp-action="Contact">KONTAKT</a>*@

        </div>


        <div id="navbar-product-filter">
            <form method="post" asp-action="Search" asp-controller="Product">
                @Html.AntiForgeryToken()
                <input class="search__input" type="submit" name="searchString" value="Tøjstativer">
            </form>
            <form method="post" asp-action="Search" asp-controller="Product">
                @Html.AntiForgeryToken()
                <input class="search__input" type="submit" name="searchString" value="Borde">
            </form>
            <form method="post" asp-action="Search" asp-controller="Product">
                @Html.AntiForgeryToken()
                <input class="search__input" type="submit" name="searchString" value="Hylder">
            </form>
            <form method="post" asp-action="Search" asp-controller="Product">
                @Html.AntiForgeryToken()
                <input class="search__input" type="submit" name="searchString" value="Bænke">
            </form>
            <form method="post" asp-action="Search" asp-controller="Product">
                @Html.AntiForgeryToken()
                <input class="search__input" type="submit" name="searchString" value="Bøjler">
            </form>
        </div>

    </div>
</div>
