<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nykant</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/filter.css" />
    <link rel="stylesheet" href="~/css/filter-changes.css" />
    <link rel="stylesheet" href="~/css/down-arrow.css" />
    <link rel="stylesheet" href="~/css/bag.css" />
    <link rel="stylesheet" href="~/css/checkout.css" />
    <link rel="stylesheet" href="~/css/custom-input.css" />
    <link rel="stylesheet" href="~/css/custom-select.css" />
    <link rel="stylesheet" href="~/css/custom-list.css" />
    <link rel="stylesheet" href="~/css/breadcrumbs.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/product-details.css" />
    <link rel="stylesheet" href="~/css/product-gallery.css" />
    <link rel="stylesheet" href="~/css/front-page.css" />
</head>
<body>
    @{
        string username = null;
        //string subject = null;
        if (User.Identity.IsAuthenticated)
        {
            username = User.Claims.FirstOrDefault(x => x.Type == "given_name").Value;
            //subject = User.Claims.FirstOrDefault(x => x.Type == "sub").Value;
        }

        var url = Context.Request.Path;
    }

    <div class="row">

        @*-----------------------------------------------NAVBAR MOBILE-----------------------------------------------*@

        <div class="col-12 navbar-mobile">
            <div class="navbar-mobile-wrap highlightTextIn highlightTextOut">
                <a alt="NYKANT" asp-controller="Home" asp-action="Index"><span style="color:#eaeaea">N</span>YKANT</a>

                <a href="javascript:void(0);" class="icon" onclick="mobileNav()">
                    <i class="fa fa-bars"></i>
                </a>

                <a class="icon" asp-controller="Bag" asp-action="GetBag" asp-route-id="@username"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>

                @if (User.Identity.IsAuthenticated)
                {

                    <div id="userBurger">
                        <a alt="logged in as: @username!" asp-controller="Account" asp-action="Profile" title="Manage">logged in as: @username!</a>
                        <form asp-Controller="Account" asp-action="Logout">
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                    <a href="javascript:void(0);" class="icon" onclick="userBurger()">
                        <i class="fas fa-user"></i>
                    </a>
                }
                else
                {
                    <div id="userBurger">
                        <a alt="REGISTER" asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
                        <a alt="LOGIN" asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
                    </div>
                    <a href="javascript:void(0);" class="icon" onclick="userBurger()">
                        <i class="fas fa-user"></i>
                    </a>
                }

                <div id="myLinks">
                    <a alt="HJEM" asp-controller="Home" asp-action="Index">HJEM</a>
                    <a alt="PRODUKTER" asp-controller="Product" asp-action="Index">PRODUKTER</a>
                    <a alt="KONTAKT" asp-controller="Contact" asp-action="Index">KONTAKT</a>
                </div>
            </div>
        </div>

        @*----------------------------------------------NAVBAR DESKTOP------------------------------------------------*@

        <div class="col-12 navbar">
            <div class="navbar-wrap highlightTextIn highlightTextOut">
                <a alt="NYKANT" asp-controller="Home" asp-action="Index"><span style="color:var(--green)">NY</span>KANT</a>
                <a alt="PRODUKTER" asp-controller="Product" asp-action="Index">PRODUKTER</a>
                <a alt="KONTAKT" asp-controller="Contact" asp-action="Index">KONTAKT</a>
                @*<a alt="REACT TUTORIAL" asp-controller="React" asp-action="Tutorial">REACT TUTORIAL</a>*@

                <a class="icon" asp-controller="Bag" asp-action="Details"> <i class="fa fa-shopping-bag" aria-hidden="true"></i></a>

                @if (User.Identity.IsAuthenticated)
                {
                    <div id="userBurger2">
                        <a asp-controller="Account" asp-action="Profile">
                            Profile
                        </a>
                        <a asp-controller="Account" asp-action="Logout">
                            Logout
                        </a>
                    </div>
                    <a href="javascript:void(0);" class="icon" onclick="userBurger2()">
                        <i class="fas fa-user"></i>
                    </a>
                }
                else
                {
                    <div id="userBurger2">
                        <a asp-controller="Account" asp-action="Login" asp-route-redirectUrl="@url">
                            Login or Register
                        </a>
                    </div>
                    <a href="javascript:void(0);" class="icon" onclick="userBurger2()">
                        <i class="fas fa-user"></i>
                    </a>
                }

            </div>
        </div>
        @*----------------------------------------------------------------------------------------------*@
    </div>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2020 - Nykant - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @* ----------------------------------GLOBAL SCRIPTS-------------------------------------- *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> @*<-----TOP*@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.unobtrusive-ajax/3.2.5/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://kit.fontawesome.com/dfade6c231.js" crossorigin="anonymous"></script>
    <script src="~/JS/mobileNav.js"></script>
    <script src="~/JS/slide-details.js"></script>
    <script src="~/JS/counter.js"></script>
    <script src="~/JS/image-changer.js"></script>
    <script src="~/JS/jquery.mixitup.min.js"></script>
    <script src="~/JS/modernizr.js"></script>
    <script src="~/JS/main.js"></script>  @*Resource jQuery*@
    <script src="~/JS/slide-text.js"></script>
    <script src="~/JS/downarrow-stop.js"></script>
    <script src="~/JS/slideshow.js"></script>
    <script src="~/JS/custom-input.js"></script>
    <script src="~/JS/custom-select.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
