@{ 
    List<PaymentCapture> list = ViewData.Model;
    list.Reverse();
}

<h1 class="list-h1">Ikke Sendte Ordrer</h1>
<table class="my-list">
    <tr class="no-hover">
        <th>Id</th>
        <th>Ordre Id'er</th>
        @*<th>Leveringsdato</th>
        <th>Status</th>*@
        <th></th>
    </tr>
    @foreach (var paymentCapture in list)
    {
        if (paymentCapture.Captured == false)
        {
            <tr>
                <td> @paymentCapture.Id</td>
                <td> 
                @foreach (var order in paymentCapture.Orders) {
                    <p>@order.Id, </p>
                }
                </td>
                @*<td>@((int)deliveryTimeSpan.TotalDays) dage </td>
                <td> @paymentCapture.Status </td>*@
            <td>
                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#unsent-orders" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" data-ajax-success="noop" asp-controller="Payment" asp-action="CapturePaymentIntent" asp-route-paymentCaptureId="@paymentCapture.Id">
                    <button type="submit"> Capture </button>
                </form>
            </td>
            </tr>
        }

    }
</table>