@{ 
    List<Order> list = ViewData.Model;
    list.Reverse();
}

<h1 class="list-h1">Ikke Sendte Ordrer</h1>
<table class="my-list my-list-5-cells">
    <tr class="no-hover">
        <th>Id</th>
        <th>Lavet</th>
        <th>Leveringsdato</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var order in list)
    {
        if (order.Status == Status.Pending)
        {

                TimeSpan deliveryTimeSpan = order.EstimatedDelivery.Subtract(DateTime.Now);
                <tr>
                    <td> @order.Id</td>
                    <td>
                        @order.CreatedAt
                    </td>
                    <td>@((int)deliveryTimeSpan.TotalDays) dage </td>
                        <td> @order.Status </td>
                    <td>
                        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#unsent-orders" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" data-ajax-success="noop" asp-controller="Order" asp-action="OrderSent" asp-route-orderId="@order.Id">
                            <button type="submit">Sendt</button>
                        </form>
                    </td>
                </tr>
            

        }
    }
</table>