@model List<BagItem>
@inject IViewLocalizer localizer

<div class="bagtable-headers">
    <div>@localizer["Total"]</div>
    <div>@localizer["Amount"]</div>
    <div>@localizer["Price"]</div>
    <div>@localizer["Product"]</div>
</div>
@foreach (var bagItem in Model)
{
    <div class="bag-item">
        <div id="bag-item-image">
            <a asp-action="Details" asp-controller="Product" asp-route-id="@bagItem.Product.Id">
                <img src="@bagItem.Product.GalleryImage1" />
            </a>
        </div>
        <div id="bag-item-name">
            <a asp-action="Details" asp-controller="Product" asp-route-id="@bagItem.Product.Id">
                @bagItem.Product.Name
            </a>
        </div>
        <div id="bag-item-price"><label>kr. @bagItem.Product.Price</label></div>
        <div id="remove-bagitem">
            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#bagtable" data-ajax-success="bag_item_updated" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" asp-controller="Bag" asp-action="UpdateBagItem">
                @Html.AntiForgeryToken()
                <input type="hidden" name="bagItem.Quantity" value="@bagItem.Quantity" />
                <input type="hidden" name="bagItem.ProductId" value="@bagItem.ProductId" />
                <input type="hidden" name="bagItem.Subject" value="@bagItem.Subject" />
                <input type="hidden" value="2" name="selection" />
                <button type="submit"><i class="fas fa-minus"></i></button>
            </form>
        </div>
        <div id="bag-item-quantity">
            <p id="bagitem-quantity-text">@bagItem.Quantity</p>
        </div>
        <div id="add-bagitem">
            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#bagtable" data-ajax-success="bag_item_updated" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" asp-controller="Bag" asp-action="UpdateBagItem">
                @Html.AntiForgeryToken()
                <input type="hidden" name="bagItem.Quantity" value="@bagItem.Quantity" />
                <input type="hidden" name="bagItem.ProductId" value="@bagItem.ProductId" />
                <input type="hidden" name="bagItem.Subject" value="@bagItem.Subject" />
                <input type="hidden" value="1" name="selection" />
                <button type="submit"><i class="fas fa-plus"></i></button>
            </form>
        </div>
        @{
            var total = bagItem.Quantity * bagItem.Product.Price;
        }
        <div id="bag-item-total"><label>kr. @total</label></div>
    </div>
}