@model List<BagItem>
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Kurv";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="~/css/bag.css" />

<div class="my-row top-padding bottom-padding">
    <div class="col-10 center" id="bag-wrapper">
        <div class="col-8 left fadein" id="bagtable-container">
            <div class="bagtitle">
                @localizer["Kurv"]
            </div>
            <div class="bagtable" id="bagtable">
                <partial name="_BagTablePartial" />
            </div>
        </div>
        <div class="col-3 left" id="checkout-box">
            <div class="order-info">
                <p id="price-info" class="width-50">@localizer["I Alt"]</p>
                <p id="total-price-text" class="width-30 align-right">kr. @ViewBag.PriceSum</p>
            </div>
            <a asp-controller="Checkout" asp-action="Checkout">
                <div class="button">
                    @localizer["Gå Til Kassen"]
                </div>
            </a>
            <div class="delivery-info">
                @if (ViewBag.DeliveryInfo != null)
                {
                    <div>
                        <p>@ViewBag.DeliveryInfo</p>
                    </div>
                }

                <div>
                    <p class="width-50">Forventet Leveringsdato</p>
                    @if (ViewBag.DeliveryDate == null)
                    {
                        <p class="width-30 align-right">1-3 dage</p>
                    }
                    else
                    {
                        <p class="width-30 align-right">@ViewBag.DeliveryDate</p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom-padding">

</div>
<div class="bottom-padding">

</div>

<script async src="~/JS/bag.js"></script>