@model BagDetailsDTO

@{
    ViewData["Title"] = "Details";
}

<div class="row fullscreen-row top-padding">
    <div class="col-8 center padding col-wrapper">
        <div class="col-8 left fadein">
            <div class="bagtitle">
                <h1>MY BAG</h1>
            </div>
            <div class="bagtable">
                @* ----- TABLE ----- *@
                <div class="bagtable-headers">
                    <div id="header-product">Product</div>
                    <div>Total</div>
                    <div>Quantity</div>
                    <div>Price</div>
                    <div>Name</div>
                </div>

                    @foreach (var bagItem in Model.BagItems)
                    {
                        <div class="bag-item">
                            <div id="bag-item-image">
                                <a asp-action="Details" asp-controller="Product" asp-route-id="@bagItem.Product.Id">
                                    <img src="@bagItem.Product.ImageSource" />
                                </a>
                            </div>
                            <div id="bag-item-name">
                                <a asp-action="Details" asp-controller="Product" asp-route-id="@bagItem.Product.Id">
                                    <label>@bagItem.Product.Title</label>
                                </a>
                            </div>
                            <div id="bag-item-price"><label>@bagItem.Product.Price</label></div>
                            <div id="bag-item-quantity">
                                <form method="post" asp-controller="BagItem" asp-action="UpdateBagItem" asp-route-selection="2" asp-route-productId="@bagItem.ProductId" asp-route-sub="@bagItem.Subject" asp-route-productQuantity="@bagItem.Quantity">
                                    <input type="submit" value="-" />
                                </form>
                                @bagItem.Quantity
                                <form method="post" asp-controller="BagItem" asp-action="UpdateBagItem" asp-route-selection="1" asp-route-productId="@bagItem.ProductId" asp-route-sub="@bagItem.Subject" asp-route-productQuantity="@bagItem.Quantity">
                                    <input type="submit" value="+" />
                                </form>
                            </div>
                            <div id="bag-item-total"><label>total price</label></div>
                        </div>
                    }
            </div>
        </div>
        <div class="col-4 left fadein">
            <div class="checkout-wrap">
                <p>SUMMARY</p>
                <a asp-controller="Checkout" asp-action="CustomerInfo">Checkout</a>
            </div>
        </div>
    </div>
</div>

@*<div >

        <p>@bagItem.ProductId</p>

        <div class="quantity-wrap">

        </div>
        <form asp-controller="Bag" asp-action="DeleteBagItem" method="post">
            <input type="hidden" name="bagId" asp-for="@bagItem.BagId" />
            <input type="hidden" name="productId" asp-for="@bagItem.ProductId" />
            <input type="submit" value="Remove" class="" />
        </form>
    </div>*@