@model List<BagItem>
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Kurv";
    ViewData["Description"] = "";
}

<script src="~/JS/bag.js" defer></script>

<div class="row top-padding bottom-side-padding">
    <div class="col-10 center" id="bag-wrapper">
        <div class="col-8 left fadein" id="bagtable-container">
            <div class="bagtitle">
                @localizer["Bag"]
            </div>
            <div class="bagtable" id="bagtable">
                <partial name="_BagTablePartial" />
            </div>
        </div>
        <div class="col-3 left" id="checkout-box">
            <div class="order-info">
                @*<h1>@localizer["Order"]</h1>
                <p class="left">@localizer["Delivery"]</p>*@
                <p id="price-info" class="left">@localizer["Total without delivery"]</p>
            </div>
            <div class="checkout-price">
                <p id="total-price-text">@ViewBag.PriceSum kr.</p>
            </div>
            <a asp-controller="Checkout" asp-action="Checkout">
                <div class="button">
                    <p>@localizer["Go to checkout"]</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="bottom-padding">

</div>
<div class="bottom-padding">

</div>