@model List<BagItem>
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Kurv";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="~/css/bag.css" />

<div class="my-row top-padding bottom-side-padding">
    <div class="col-10 center" id="bag-wrapper">
        <div class="col-8 left fadein" id="bagtable-container">
            <div class="bagtitle">
                @localizer["Bag"]
            </div>
            <div class="bagtable" id="bagtable">
                <partial name="_BagTablePartial" />
            </div>
        </div>
        <div class="col-3 left" id="checkout-box">
            <div class="order-info">
                @*<h1>@localizer["Order"]</h1>
                    <p class="left">@localizer["Delivery"]</p>*@
                <p id="price-info" class="left">@localizer["Total"]</p>
            </div>
            <div class="checkout-price">
                <p id="total-price-text">kr. @ViewBag.PriceSum</p>
            </div>
            <a asp-controller="Checkout" asp-action="Checkout">
                <div class="button">
                    @localizer["Go to checkout"]
                </div>
            </a>
        </div>
    </div>
</div>

<div class="bottom-padding">

</div>
<div class="bottom-padding">

</div>

<script async src="~/JS/bag.js"></script>