@model BagDetails

@{
    ViewData["Title"] = "Details";
    int bagitemnumber = 0;
    string quantityid = null;
}

<div class="row fullscreen-row">
    <div class="col-8 center topmargin col-wrapper">
        <div class="col-8 left padding">
            <div class="bagtitle">
                <h1>MY BAG</h1>
            </div>
            <div class="bagtable"> @* ----- TABLE ----- *@
                <div class="bagtable-headers">
                    <div id="header-product">Product</div>
                    <div>Total</div>
                    <div>Quantity</div>
                    <div>Price</div>
                    <div>Name</div>
                </div>
                @if (Model.BagItems != null)
                {
                    @foreach (var bagItem in Model.BagItems)
                    {
                        bagitemnumber += 1;
                        quantityid = "quantityid" + $"{bagitemnumber}";
                        <div class="bag-item">
                            <div id="bag-item-image">
                                <img src="@bagItem.Product.ImageSource" />
                            </div>
                            <div id="bag-item-name">
                                @bagItem.Product.Title
                            </div>
                            <div id="bag-item-price">@bagItem.Product.Price</div>
                            <div id="bag-item-quantity">
                                <span id="numberdown" onclick="countdown(@quantityid)">-</span>
                                <p id="@quantityid" style="display:inline">@bagItem.Quantity</p>
                                <span id="numberup" onclick="countup(@quantityid)">+</span>
                            </div>
                            <div id="bag-item-total">total price</div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-4 left padding">
            <div class="checkout-wrap">
                <p>SUMMARY</p>
                <a asp-controller="Checkout" asp-action="CustomerInfo" asp-route-bagId="@Model.BagId" asp-route-priceSum="@Model.PriceSum">Checkout</a>
            </div>
        </div>
    </div>
</div>

@*<div >

        <p>@bagItem.ProductId</p>

        <div class="quantity-wrap">

        </div>
        <form asp-controller="Bag" asp-action="DeleteBagItem" method="post">
            <input type="hidden" name="bagId" asp-for="@bagItem.BagId" />
            <input type="hidden" name="productId" asp-for="@bagItem.ProductId" />
            <input type="submit" value="Remove" class="" />
        </form>
    </div>*@