@model List<BagItem>
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Kurv";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="~/css/bag.css" />

<div class="my-row top-padding bottom-padding">
    <div class="col-10 center" id="bag-wrapper">
        <div class="col-8 left fadein" id="bagtable-container">
            <div class="bagtitle">
                @localizer["Kurv"]
            </div>
            <div class="bagtable" id="bagtable">
                <partial name="_BagTablePartial" />
            </div>
        </div>
        <div class="col-3 left" id="checkout-box">
            <div class="order-info" id="order-info">
                @if(ViewBag.CouponResponse != null)
            {
                <p>@ViewBag.CouponResponse</p>
            }
                <p id="price-info" class="width-20">@localizer["Rabat"]</p>
                <p id="total-price-text" class="width-70 align-right">kr. @ViewBag.Discount</p>
                <p id="price-info" class="width-20">@localizer["Momsgrundlag"]</p>
                <p id="total-price-text" class="width-70 align-right">kr. @ViewBag.TaxlessPrice</p>
                <p id="price-info" class="width-20">@localizer["Momsbeløb(25%)"]</p>
                <p id="total-price-text" class="width-70 align-right">kr. @ViewBag.Taxes</p>
                <p id="price-info" class="width-20">@localizer["I Alt"]</p>
                <p id="total-price-text" class="width-70 align-right">kr. @ViewBag.PriceSum</p>
            </div>
            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#order-info" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" data-ajax-success="noop" asp-controller="Bag" asp-action="ActivateCoupon">
                <input name="couponCode" placeholder="Rabat kode" />
                <button type="submit">Anvend</button>
            </form>

            <a asp-controller="Checkout" asp-action="Checkout">
                <div class="button">
                    @localizer["Gå Til Kassen"]
                </div>
            </a>
            <div class="delivery-info">
                @if (ViewBag.DeliveryInfo != null)
                {
                    <div>
                        <p>@ViewBag.DeliveryInfo</p>
                    </div>
                }

                <div class="bottom-side-padding">
                    <p class="width-70">Forventet Leveringstid</p>
                    <p class="width-20 align-right">3-5 dage</p>
                </div>

                <div class="bottom-side-padding">
                    <p>14 dages fortrydelsesret på alle varer.</p>
                </div>

                <div>
                    <p>Betalingen gennemføres først når varerne er sendt til dig.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom-padding">

</div>
<div class="bottom-padding">

</div>

<script src="~/JS/bag.js"></script>