@model List<Cookie>
@inject IViewLocalizer localizer
@{ 
    ViewData["Title"] = "Nykants Cookie Politik";
    ViewData["Description"] = "Nykants politik om brug af cookies.";

}

<script src="~/JS/consent.js" defer></script>

<div class="my-row background-color2 bottom-padding">
    <div class="col-3 cookie-header center">
        @localizer["Cookie Policy Title"]
    </div>
    <div class="responsive-container center cookie-buttons">
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#cookie-settings-partial" data-ajax-success="consent_updated" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" asp-controller="Nykant" asp-action="OnlyEssentialConsent" class="col-4 left padding-5">
            <button type="submit" class="button">
                @localizer["Only Essential Cookies"]
            </button>
        </form>
        <div class="col-4 left cookie-button">
            <button type="button" class="button" id="open-privacy1">
                @localizer["Settings"]
            </button>
        </div>
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#cookie-settings-partial" data-ajax-success="consent_updated" data-ajax-complete="noop" data-ajax-begin="noop" data-ajax-failure="noop" asp-controller="Nykant" asp-action="AllowAllConsent" class="col-4 left padding-5">
            <button type="submit" class="green-button">
                @localizer["Accept All Cookies"]
            </button>
        </form>
    </div>
</div>
<div class="my-row">
    <div class="responsive-container center privacy-information">
        <div>
            @localizer["Top Info"]
        </div>
        <div>
            @localizer["What is a cookie?"]
            @localizer["What a cookie is"]
        </div>
        <div>
            @localizer["Use of cookies header"]
            @localizer["Use of cookies"]
        </div>
        <div>
            @localizer["How to deny or delete cookies main header"]
            @localizer["Deny cookies sub header"]
            @localizer["Deny cookies"]
            @localizer["Deny all cookies sub header"]
            @localizer["Deny all cookies"]
            @localizer["Deny GA cookies"]
            @localizer["Delete cookies"]
            <div class="cookie-help-links">
                <a href="http://windows.microsoft.com/da-dk/internet-explorer/delete-manage-cookies#ie=ie-11">Internet Explorer</a>
                <a href="https://support.mozilla.org/da/kb/slet-cookies-fjerne-oplysninger-som-websteder-har-">Mozilla Firefox</a>
                <a href="https://support.google.com/chrome/answer/95647?hl=da">Google Chrome</a>
                <a href="https://www.opera.com/help/tutorials/security/cookies">Opera</a>
                <a href="https://support.apple.com/da-dk/HT1677">Safari</a>
                <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html">@localizer["Flash cookies"]</a>
                <a href="https://support.apple.com/da-dk/HT1677">@localizer["Apple cookies"]</a>
                <a href="http://timeread.hubpages.com/hub/How-to-delete-internet-cookies-on-your-Droid-or-any-Android-device">@localizer["Android cookies"]</a>
                <a href="http://www.windowsphone.com/da-dk/how-to/wp7/web/changing-privacy-and-other-browser-settings">@localizer["Phone Windows 7"]</a>
            </div>

        </div>
        <div>
            @localizer["Questions?"]
        </div>
        <div>
            @*------------------------- LISTE AF COOKIES ---------------------*@
            <h1>Liste over vores First-Party cookies</h1>
            <div class="custom-table">
                <div class="custom-table-headers">
                    <div>Cookie</div>
                    <div>Type</div>
                    <div>Kategori</div>
                    <div>Beskrivelse</div>
                </div>
                <div class="custom-table-rows">
                    @foreach (var cookie in Model)
                    {
                        @if (cookie.Type2 == CookieType2.FirstParty)
                        {
                            <div class="custom-table-row">
                                <div>@cookie.Name</div>
                                <div>@cookie.Type1</div>
                                <div>@cookie.Category</div>
                                <div>@cookie.Description</div>
                            </div>
                        }
                    }
                </div>
            </div>
            <h1>Liste over vores Third-Party cookies</h1>
            <div class="custom-table">
                <div class="custom-table-headers">
                    <div>Cookie</div>
                    <div>Type</div>
                    <div>Kategori</div>
                    <div>Beskrivelse</div>
                </div>
                <div class="custom-table-rows">
                    @foreach (var cookie in Model)
                    {
                        @if (cookie.Type2 == CookieType2.ThirdParty)
                        {
                            <div class="custom-table-row">
                                <div>@cookie.Name</div>
                                <div>@cookie.Type1</div>
                                <div>@cookie.Category</div>
                                <div>@cookie.Description</div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div>
            @localizer["Consent valid for"]
        </div>
    </div>

</div>