@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Nykants Privatlivspolitik";
    ViewData["Description"] = "Nykants politik omkring håndtering af persondata.";
}

<div class="my-row background-lightblue">
    <div class="privacy-header center">
        <h1>@localizer["Privacy Policy Title"]</h1>
    </div>
</div>
<div class="my-row">
    <div class="privacy-information col-6 center">
        <div>
            @localizer["General"]
        </div>
        <div>
            @localizer["What information do we collect and why?"]
        </div>
        <div>
            @localizer["Login through social media"]
        </div>
        <div>
            @localizer["Use of cookies"]
        </div>
        <div>
            @localizer["Deletion"]
        </div>
        <div>
            @localizer["Your rights"]
        </div>
        <div>
            @localizer["Changes"]
        </div>
    </div>
</div>