@model List<Cookie>
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Nykants Cookie Politik";
    ViewData["Description"] = "Nykants politik om brug af cookies.";

}

<link rel="stylesheet" href="~/css/privacy.css" />
<link rel="stylesheet" type="text/css" href="~/css/custom-table.css" />

<div class="my-row background-color2 bottom-padding">
    <div class="responsive-container cookie-header center">
        <h1>Cookie Politik</h1>
        @*@localizer["Cookie Policy"]*@
        <p class="margin-bottom-10">Vi bruger google analytics cookies til at indsamle anonymiseret data, til at se hvad du foretager dig på hjemmesiden, for at forbedre hjemmesidens funktioner, samt forbedre vores annonceringsstrategier. Trykker du Accepter, giver du dit samtykke til vores brug af disse cookies.</p>
    </div>
    <div class="responsive-container center cookie-buttons">
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="onlyEssential_succeed" data-ajax-complete="consent_updated" data-ajax-begin="onlyEssential_begin" data-ajax-failure="onlyEssential_failure" asp-action="OnlyEssentialConsent" class="col-6 left padding-5">
            <button type="submit" class="button">
                <div id="onlyEssential-error" class="loading-error">
                    <i class="fas fa-times"></i>
                </div>
                <div id="onlyEssential-spinner" class="hidden">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
                <div class="loading-check-sign" id="onlyEssential-check-sign">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div id="onlyEssential-text">Afvis</div>
                @*@localizer["Only Essential Cookies"]*@
            </button>
        </form>
        <!--<div class="col-4 left cookie-button">
            <button type="button" class="button" id="open-privacy1">
                Instillinger-->
                @*@localizer["Settings"]*@
            <!--</button>
        </div>-->
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="allowAll_succeed" data-ajax-complete="consent_updated" data-ajax-begin="allowAll_begin" data-ajax-failure="allowAll_failure" asp-action="AllowAllConsent" class="col-6 left padding-5">
            <button type="submit" class="green-button">
                <div id="allowAll-error" class="loading-error">
                    <i class="fas fa-times"></i>
                </div>
                <div id="allowAll-spinner" class="hidden">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
                <div class="loading-check-sign" id="allowAll-check-sign">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div id="allowAll-text">Accepter</div>
                @*@localizer["Accept All Cookies"]*@
            </button>
        </form>
    </div>
</div>
<div class="my-row">
    <div class="responsive-container center privacy-information">
        <div>
            <h3>Med EUs nye regler for informationsindhentning og beskyttelse af persondata, undrer mange sig måske over hvad "cookies" i virkeligeheden er. 
            Her finder du lidt information om disse informationskapsler og hvordan Nykant bruger dem.</h3>
        </div>

        <div>
            <h1>Hvad er en cookie?</h1>
            <p>En cookie er en lille tekst-fil, som vi gemmer på din computer for at kunne holde styr på, hvad der sker under dit besøg og for at kunne genkende computeren. 
            En cookie indeholder kun tekst, er ikke et program og indeholder ikke virus.</p>
        </div>

        <div>
            <h1>Hjemmesidens brug af cookies</h1>
            <p>Cookies er nødvendige for at få hjemmesiden til at fungere. Cookies hjælper os desuden med at få overblik over dit besøg på hjemmesiden, så vi løbende kan optimere og målrette hjemmesiden, samt annoncering til dine behov og interesser. 
            Cookies husker f.eks., hvad du har lagt i din indkøbskurv, om du tidligere har besøgt siden, hvilket sprog, du gerne vil have vist på hjemmesiden og dine cookie preferencer. 
            Helt overordnet anvendes cookies således som del af vores hjemmesides nødvendige funktioner for at give dig en god oplevelse. Her er oversigten over hjemmesidens brug af cookies:</p>
        </div>

        <div>
            <h1>Sådan afviser eller sletter du dine cookies</h1>
            <h2>Afvisning af nogle cookies:</h2>
            <p class="pushed-text">Du kan afvise alle de cookies som ikke er nødvendige for vores hjemmesides funktionalitet eller nogle specifikke som du ikke vil tillade ved at klikke "Afvis" under titlen på nuværende side.</p>

            <h2>Afvisning af alle cookies:</h2>
            <p class="pushed-text">Du kan altid afvise alle fremtidige cookies på din computer ved at ændre indstillingerne i din Internet-browser. 
            Hvor du finder indstillingerne afhænger af, hvilken browser du anvender. Du skal dog være opmærksom på, at hvis du gør det, er der mange funktioner og services, du ikke kan bruge, 
            fordi disse funktioner og services forudsætter, at hjemmesiden fungerer korrekt.</p>

            <p>Du kan fravælge cookies fra Google Analytics <a class="simple-link" href="https://tools.google.com/dlpage/gaoptout">her</a>.</p>
            <h2>Sletning af cookies:</h2>
            <p>
                Cookies som du tidligere har accepteret, kan efterfølgende slettes nemt:
            </p>
            <p class="pushed-text">
                Du kan slette "ikke nødvendige cookies" fra vores hjemmeside ved at trykke på knappen "Afvis" i topped af siden. Det vil kun slette cookies i den browser du bruge lige nu.
            </p>
            <h2>Her er en liste over guides til hvordan man håndtere cookies, for alle de forskellige browsers.</h2>
            <div class="cookie-help-links pushed-text">

                <a class="simple-link" href="http://windows.microsoft.com/da-dk/internet-explorer/delete-manage-cookies#ie=ie-11">Internet Explorer</a>
                <a class="simple-link" href="https://support.mozilla.org/da/kb/slet-cookies-fjerne-oplysninger-som-websteder-har-">Mozilla Firefox</a>
                <a class="simple-link" href="https://support.google.com/chrome/answer/95647?hl=da">Google Chrome</a>
                <a class="simple-link" href="https://www.opera.com/help/tutorials/security/cookies">Opera</a>
                <a class="simple-link" href="https://support.apple.com/da-dk/HT1677">Safari</a>
                <a class="simple-link" href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html">Flash cookies</a>
                <a class="simple-link" href="https://support.apple.com/da-dk/HT1677">Apple cookies</a>
                <a class="simple-link" href="http://timeread.hubpages.com/hub/How-to-delete-internet-cookies-on-your-Droid-or-any-Android-device">Android cookies</a>
                <a class="simple-link" href="http://www.windowsphone.com/da-dk/how-to/wp7/web/changing-privacy-and-other-browser-settings">Phone Windows 7</a>
            </div>
        </div>
        @*@if (localizer["CookiePolicy"] == null)
        {

        }
        else
        {
            @localizer["CookiePolicy"]
        }*@

        <div>
            @*------------------------- LISTE AF COOKIES ---------------------*@

            <div class="custom-table">
                <h1>Liste over vores First-Party cookies</h1>
                <div class="custom-table-headers">
                    <div>Cookie</div>
                    <div>Type</div>
                    <div>Kategori</div>
                    <div>Beskrivelse</div>
                </div>
                <div class="custom-table-rows">
                    @foreach (var cookie in Model)
                    {
                        @if (cookie.Type2 == CookieType2.FirstParty)
                        {
                            <div class="custom-table-row">
                                <div>@cookie.Name</div>
                                <div>@cookie.Type1</div>
                                <div>@cookie.Category</div>
                                <div>@cookie.Description</div>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="custom-table">
                <h1>Liste over vores Third-Party cookies</h1>
                <div class="custom-table-headers">
                    <div>Cookie</div>
                    <div>Type</div>
                    <div>Kategori</div>
                    <div>Beskrivelse</div>
                </div>
                <div class="custom-table-rows">
                    @foreach (var cookie in Model)
                    {
                        @if (cookie.Type2 == CookieType2.ThirdParty)
                        {
                            <div class="custom-table-row">
                                <div>@cookie.Name</div>
                                <div>@cookie.Type1</div>
                                <div>@cookie.Category</div>
                                <div>@cookie.Description</div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div>
            @localizer["Consent valid for: nykant.dk"]
        </div>
    </div>

</div>

<script src="~/JS/consent.js"></script>
<script src="~/JS/cookie-policy-spinner.js"></script>