@model FrontPageVM

@{
    ViewData["Title"] = "Egetræsmøbler | Køb moderne egetræsmøbler i dansk design";
    ViewData["Description"] = "Hos Nykant designer vi moderne egetræsmøbler i høj kvalitet. Kombinationen af dansk design, minimalistiske detaljer og bæredygtigt egetræ er helt unik. Se mere her.";
}

<link rel="stylesheet" type="text/css" href="https://static.nykant.dk/css/front-page.min.css" />
<link rel="stylesheet" type="text/css" href="https://static.nykant.dk/css/karusel.min.css" />

<div id="lb-back">
    <div id="lb-img"></div>
</div>

<div class="my-row">
    <div class="slideshow" id="slideshow">

        <div id="slideshow-prev" class="slideshow-button">
            <img class="absolute-center" src="https://static.nykant.dk/lib/svg/arrow-left.svg" />
        </div>
        <div id="slideshow-next" class="slideshow-button">
            <img class="absolute-center" src="https://static.nykant.dk/lib/svg/arrow-right.svg" />
        </div>
        <div class="slide-container" id="slide-container">
            <div class="slide">
                <picture>
                    <source srcset="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Skrivebord-Tøjstativ-Opbevaringsbænk-dt.png" media="(min-width: 600px)">
                    <source srcset="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Skrivebord-Tøjstativ-Opbevaringsbænk-dt.png" media="(min-width: 1000px)">
                    <img src="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Skrivebord-1mb.png" alt="Egetræsmøbler I Miljø">
                </picture>
            </div>
            <div class="slide">
                <picture>
                    <source srcset="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Skrivebord-Tøjstativ-dt.png" media="(min-width: 1000px)">
                    <source srcset="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Skrivebord-Tøjstativ-dt.png" media="(min-width: 600px)">
                    <img loading="lazy" src="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Skrivebord-2mb.png" alt="Egetræsmøbler I Miljø">
                </picture>
            </div>
            <div class="slide">
                <picture>
                    <source srcset="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Opbevaringsbænk-Tøjstativ-dt.png" media="(min-width: 1000px)">
                    <source srcset="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Opbevaringsbænk-Tøjstativ-dt.png" media="(min-width: 600px)">
                    <img loading="lazy" src="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Skrivebord-Væghylder-mb.png" alt="Egetræsmøbler I Miljø">
                </picture>
            </div>
            <div class="slide">
                <picture>
                    <source srcset="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Skrivebord-Entrebænk-Opbevaringsbænk-Ophængt-Tøjstativ-dt.png" media="(min-width: 1000px)">
                    <source srcset="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Skrivebord-Entrebænk-Opbevaringsbænk-Ophængt-Tøjstativ-dt.png" media="(min-width: 600px)">
                    <img loading="lazy" src="https://static.nykant.dk/Egetræsmøbler\Miljø\Egetræsmøbler-Opbevaringsbænk-Ophængt-Tøjstativ-Entrebænk-mb.png" alt="Egetræsmøbler I Miljø">
                </picture>
            </div>
        </div>
    </div>
</div>

<div class="my-row top-side-padding">
    <div class="col-1 center">
        <div class="slide-buttons" id="slide-buttons">
            <input id="radio1" type="radio" name="slide" checked />
            <input id="radio2" type="radio" name="slide" />
            <input id="radio3" type="radio" name="slide" />
            <input id="radio4" type="radio" name="slide" />
        </div>
    </div>
</div>

<div class="my-row top-padding bottom-padding">
    <div class="info-row">

        @*<div class="info-item e-mark">

                <svg class="e-mark-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 801">
                    <g>
                        <path class="fill" d="M135.58,290H19.05A11.29,11.29,0,0,1,9.4,272.84c17.19-28,59.07-86.29,138.83-144.57l.15-.12c2.7-2.39,86.76-75.72,234.86-105.94,0,0,205.51-48.46,404.1,43.7,0,0,166.13,82.92,235.55,207.35A11.3,11.3,0,0,1,1013,290H963.3a45,45,0,0,1-39.17-22.64c-14.61-25.71-46.91-70.29-113-117.63,0,0-119.41-88.17-306.75-69.56,0,0-106.79,7.78-195,63.1l-.19.11c-2.47,1.19-56.09,27.76-134.12,127.45A50.14,50.14,0,0,1,135.58,290Z"></path>
                        <path class="fill" d="M895.73,335.93h116.52a11.29,11.29,0,0,1,9.65,17.18c-17.18,28-59,86.26-138.77,144.53a2.23,2.23,0,0,0-.24.19c-3.39,3-87.35,75.82-234.83,105.91,0,0-205.51,48.46-404.1-43.7,0,0-166.13-82.92-235.54-207.35a11.3,11.3,0,0,1,9.91-16.76H68a45,45,0,0,1,39.17,22.63c14.62,25.72,46.92,70.3,113,117.64,0,0,119.41,88.17,306.75,69.56,0,0,106.72-7.78,195-63.06l.33-.18c3.18-1.54,56.58-28.45,134.06-127.42A50.09,50.09,0,0,1,895.73,335.93Z"></path>
                        <path class="fill" d="M633.66,362.34A40.1,40.1,0,0,0,601,379.48c-9.29,13.33-25.94,31-52.52,39.46,0,0-64.15,23.19-111.34-30.78L680,279.18a20.42,20.42,0,0,0,10.52-25.6A184.52,184.52,0,0,0,511.88,135.07c-97.11,3.25-175.78,82.7-178.12,179.83a184.49,184.49,0,0,0,360.33,60.23,10.06,10.06,0,0,0-9.66-13.05ZM412.28,320.67a103.52,103.52,0,0,1,183.2-66.09l-182,82.11A104.42,104.42,0,0,1,412.28,320.67Z"></path>
                    </g>
                </svg>
                <div>
                    <p>Vi er e-mærket</p>
                </div>


            </div>*@


        @*<div class="info-item">
                <div class="center">
                <i class="fas fa-tree"></i>
                <p>FSC Certificeret Træ</p>


                </div>
            </div>*@
        <div class="info-item">
            <div class="center">

                <i class="fas fa-truck"></i>
                <p>Gratis Forsendelse</p>

            </div>
        </div>
        <div class="info-item">
            <div class="center">

                <i class="far fa-clock"></i>
                <p>3-5 Arbejdsdage Leveringstid</p>

            </div>
        </div>
        <div class="info-item">
            <div class="center">
                <img src="https://static.nykant.dk/lib/svg/e-maerket-06.svg" />
                <p>Vi er e-mærket!</p>

            </div>
        </div>
    </div>
</div>

@if(Model.NoraImg != null){
<div class="my-row top-padding bottom-padding">
    <div class="responsive-container">
        <div class="col-4 left text-center height-600">
            <p class="big-text vertical-center">VI HAR FUNDET PÅ NYE MÅDER AT SAMLE MØBLER PÅ, SOM GIVER ET UNIKT ÆSTETISK LOOK.</p>
        </div>
        <div id="video-slide" class="col-8 left video-slide">
            <div class="half">
                <video class="vertical-center video" autoplay loop muted playsinline>
                    <source src="https://static.nykant.dk/videos/Tøjstativ.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="half">
                <img loading="lazy" class="vertical-center video-img" src="@Model.NoraImg.Source" alt="@Model.NoraImg.Alt" />
            </div>
            <a onclick="VideoClick()" id="follow-link" asp-controller="Product" asp-action="Details" asp-route-category="@Model.Nora.Category.Name" asp-route-urlname="@Model.Nora.UrlName">
                <div class="follow-container" id="follow-container">
                    <div class="follow-box" id="follow-box">
                        <p id="follow-name">@Model.Nora.Name</p>
                        <p id="follow-oil">@Model.Nora.Oil</p>
                        <p id="follow-price">
                            kr. @ProductHelper.GetPrice(Model.Nora) @if (Model.Nora.Discount > 0)
                            {
                                <span class="line-through red-text">@Model.Nora.Price</span>
                            }
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

}

@if (Model.RandomDiscountProducts.Count > 0)
{
    <div class="my-row">
        <div class="col-12 left top-padding bottom-padding">
            <p class="karusel-header titlesize">ALLE TILBUD:</p>
            <div class="karusel" id="frontpage-karusel">
                <div class="karusel-box" id="frontpage-karusel-box">

                    @foreach (var product in Model.RandomDiscountProducts)
                    {
                        if (product.Category.Name == "Hylder")
                        {
                            if (product.Length != "40 cm.")
                            {
                                goto skip;
                            }
                        }
                        <div>
                            <div class="karusel-discount">
                                <p>-@product.Discount%</p>
                            </div>

                            <div class="karusel-price">
                                <p>kr. @ProductHelper.GetPrice(product) <span class="line-through red-text">@product.Price</span></p>
                            </div>
                            <a onclick="DiscountClick()" asp-controller="product" asp-action="details" asp-route-urlname="@product.UrlName" asp-route-category="@product.Category.Name">
                                <img loading="lazy" class="absolute-center" src="@product.GalleryImage1" alt="@product.Alt" />
                            </a>
                        </div>
                        skip:;
                    }
                    

                </div>
                <button class="karusel-back" onclick="frontpage_backevent()"><img src="https://static.nykant.dk/lib/svg/arrow-left.svg" /></button>
                <button class="karusel-forward" onclick="frontpage_forwardevent()"><img src="https://static.nykant.dk/lib/svg/arrow-right.svg" /></button>
            </div>
        </div>
    </div>
}

<div class="my-row top-padding bottom-padding">
    <div class="col-6 center">
        <div class="about-us" id="about-us">
            <h1>MØBLER I DANSK DESIGN</h1>
            <h2 class="bigsize">Nykant er et nyt dansk møbel brand, med inspiration fra dansk design.</h2>
            <p id="about-us-text">
                Med kærlighed til træ, vil vi være med til at innovere møbelindustrien. Vi sætter meget pris på minimalistiske detajler, og går efter at tegne nogle unikke og praktiske designs, med æstetik, som gør møblet mere tiltrækkende, hver gang man kigger på det. Det er møbler i dansk design med kant.
            </p>

            <a asp-controller="home" asp-action="about" onclick="AboutClick()">
                <div class="follow-container" id="follow-container-about">

                    <div id="follow-box-about">
                        <p id="follow-about">MERE OM NYKANT</p>
                    </div>

                </div>
            </a>

        </div>
    </div>
</div>



@if(Model.DagmarImg != null){
    <div class="my-row top-padding bottom-padding">
        <div class="col-12">
            <div class="favorites">
                <div id="favorites-header" class="favorites-header">
                <p class="titlesize">FAVORITTER</p>
                </div>
                <div class="col-6 left favorite-item">
                <a onclick="FavoriteClick()" asp-controller="product" asp-action="details" asp-route-urlname="@Model.Dagmar.UrlName" asp-route-category="@Model.Dagmar.Category.Name">
                    <img loading="lazy" class="absolute-center favorite-img" src="@Model.DagmarImg.Source" alt="@Model.DagmarImg.Alt" />
                        <div id="follow-container">
                            <div class="follow-container" id="follow-container-table">
                                <div class="follow-box" id="follow-box-table">
                                    <p id="follow-name-baenk">@Model.Dagmar.Name</p>
                                    <p id="follow-oil">@Model.Dagmar.Oil</p>
                                    <p id="follow-price">
                                        kr. @ProductHelper.GetPrice(Model.Dagmar) @if (Model.Dagmar.Discount > 0)
                                        {<span class="line-through red-text">@Model.Dagmar.Price</span>}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 left favorite-item">
                <a onclick="FavoriteClick()" asp-controller="product" asp-action="details" asp-route-urlname="@Model.Filippa.UrlName" asp-route-category="@Model.Filippa.Category.Name">
                    <img loading="lazy" class="absolute-center favorite-img" src="@Model.FilippaImg.Source" alt="@Model.FilippaImg.Alt" />
                        <div id="follow-container">
                            <div class="follow-container" id="follow-container-baenk">
                                <div class="follow-box" id="follow-box-baenk">
                                    <p id="follow-name-baenk">@Model.Filippa.Name</p>
                                    <p id="follow-oil">@Model.Filippa.Oil</p>
                                    <p id="follow-price">
                                    kr. @ProductHelper.GetPrice(Model.Filippa) @if (Model.Filippa.Discount > 0)
                                        {<span class="line-through red-text">@Model.Filippa.Price</span>}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 left favorite-item">
                <a onclick="FavoriteClick()" asp-controller="product" asp-action="details" asp-route-urlname="@Model.Nora.UrlName" asp-route-category="@Model.Nora.Category.Name">
                    <img loading="lazy" class="absolute-center favorite-img" src="@Model.NoraImg.Source" alt="@Model.NoraImg.Alt" />
                        <div class="follow-container" id="follow-container-rack">
                            <div class="follow-box" id="follow-box-rack">
                                <p id="follow-name-rack">@Model.Nora.Name</p>
                                <p id="follow-oil-rack">@Model.Nora.Oil</p>
                                <p id="follow-price-rack">
                                    kr. @ProductHelper.GetPrice(Model.Nora) @if (Model.Nora.Discount > 0)
                                    {<span class="line-through red-text">@Model.Nora.Price</span>}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 left favorite-item">
                <a onclick="FavoriteClick()" asp-controller="product" asp-action="details" asp-route-urlname="@Model.Thyra.UrlName" asp-route-category="@Model.Thyra.Category.Name">
                    <img loading="lazy" class="absolute-center favorite-img" src="@Model.ThyraImg.Source" alt="@Model.ThyraImg.Alt" />
                        <div id="follow-container">
                            <div class="follow-container" id="follow-container-kortbaenk">
                                <div class="follow-box" id="follow-box-kortbaenk">
                                    <p id="follow-name-baenk">@Model.Thyra.Name</p>
                                    <p id="follow-oil">@Model.Thyra.Oil</p>
                                    <p id="follow-price">
                                        kr. @ProductHelper.GetPrice(Model.Thyra) @if (Model.Thyra.Discount > 0)
                                        {<span class="line-through red-text">@Model.Thyra.Price</span>}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    }

    <div class="my-row top-padding bottom-padding">
    <div class="col-12 center z200 category-fp-header">
        <p class="text-center titlesize">KATEGORIER</p>
        </div>

        <div class="col-12">
            @if(Model.Categories != null){
                            @foreach (var category in Model.Categories)
            {
            <a onclick="CategoryClick()" class="category-fp" method="get" asp-controller="product" asp-action="CategoryView" asp-route-category="@category.Name">
                <img loading="lazy" class="absolute-center" src="@category.ImgSource" alt="@category.Alt" />
                    <p class="centered">@category.Name</p>
                </a>
            }
            }

        </div>

    </div>

<div class="my-row top-padding bottom-padding">
    <div class="col-8 center">
        <div class="about-wood">
            <h2 class="text-center titlesize">VI <i class="fa fa-heart padding-10"></i> TRÆMØBLER</h2>
            <p class="bigsize"><i class="fa fa-tree"></i>Er verdens mest miljøvenlige råstof.</p>
            <p><i class="fa fa-tree"></i>Tager CO2 fra luften og lægger det på lager i træprodukter.</p>
            <p><i class="fa fa-tree"></i>Er en fornyelig ressource.</p>
            <p><i class="fa fa-tree"></i>Kan genbruges.</p>
            <p><i class="fa fa-tree"></i>Giver intet affald, men CO2-neutral energi når det brændes.</p>
        </div>
    </div>
</div>

    
    @*<div class="my-row">

        </div>*@


@section scripts {
    <script asp-add-nonce="true" src="https://static.nykant.dk/JS/swiped-events.min.js"></script>
    <script asp-add-nonce="true" src="https://static.nykant.dk/JS/slideshow.min.js"></script>
    @*<script src="~/JS/moving-box.js"></script>
        <script src="~/JS/follow-box-1.js"></script>
        <script src="~/JS/follow-box-2.js"></script>
        <script src="~/JS/follow-box-3.js"></script>
        <script src="~/JS/follow-box-4.js"></script>
        <script src="~/JS/follow-box-5.js"></script>*@
    @*<script async src="~/JS/checkout-sandbox.js"></script>*@

    @if (Model.RandomDiscountProducts.Count > 0)
    {
        <script asp-add-nonce="true" src="https://static.nykant.dk/JS/frontpage-karusel.min.js"></script>

    }
}