@model List<Category>

@{
    ViewData["Title"] = "Nykant - Egetræsmøbler i Dansk Design";
    ViewData["Description"] = "Nykant er et nyt dansk brand, som med inspiration fra dansk design, udvikler moderne egetræsmøbler med minimalistiske detaljer i høj kvalitet, produceret i bæredygtigt FSC certificeret, massivt, Egetræ.";

    List<Product> randomProducts = ProductHelper.RandomizeList(ViewBag.Products);
    var randomDiscountProducts = randomProducts.Where(x => x.Discount > 0);
    var nora = randomProducts.Find(x => x.Id == 27);
    var filippa = randomProducts.Find(x => x.Id == 26);
    var thyra = randomProducts.Find(x => x.Id == 18);
    var dagmar = randomProducts.Find(x => x.Id == 16);
}

<link rel="stylesheet" href="~/css/front-page.css" />
<link rel="stylesheet" href="~/css/karusel.css" />
<script src="~/JS/swiped-events.min.js"></script>

<div id="lb-back">
    <div id="lb-img"></div>
</div>

<div class="my-row">
    <div class="slideshow" id="slideshow">

        <div id="slideshow-prev" class="slideshow-button">
            <img class="absolute-center" src="~/lib/svg/arrow-left.svg" />
        </div>
        <div id="slideshow-next" class="slideshow-button">
            <img class="absolute-center" src="~/lib/svg/arrow-right.svg" />
        </div>
        <div class="slide-container" id="slide-container">
            <div class="slide">
                <picture>
                    <source srcset="../images/Products/Miljø/Desktop/Miljoe_2.png" media="(min-width: 600px)">
                    <source srcset="../images/Products/Miljø/Desktop/Miljoe_2.png" media="(min-width: 1000px)">
                    <img src="../images/Products/Miljø/Phone/Miljoe_2.png" alt="Egetræsmøbler i miljø">
                </picture>
            </div>
            <div class="slide">
                <picture>
                    <source srcset="../images/Products/Miljø/Desktop/NYKANT_miljoe_1_varient.png" media="(min-width: 1000px)">
                    <source loading="lazy" srcset="../images/Products/Miljø/Desktop/NYKANT_miljoe_1_varient.png" media="(min-width: 600px)">
                    <img loading="lazy" src="../images/Products/Miljø/Phone/NYKANT_miljoe_1_varient.png" alt="Egetræsmøbler i miljø">
                </picture>
            </div>
            <div class="slide">
                <picture>
                    <source srcset="../images/Products/Miljø/Desktop/Miljoe_3.png" media="(min-width: 1000px)">
                    <source loading="lazy" srcset="../images/Products/Miljø/Desktop/Miljoe_3.png" media="(min-width: 600px)">
                    <img loading="lazy" src="../images/Products/Miljø/Phone/Miljoe_3.png" alt="Egetræsmøbler i miljø">
                </picture>
            </div>
            <div class="slide">
                <picture>
                    <source srcset="../images/Products/Miljø/Desktop/NYKANT_miljoe_4.png" media="(min-width: 1000px)">
                    <source loading="lazy" srcset="../images/Products/Miljø/Desktop/NYKANT_miljoe_4.png" media="(min-width: 600px)">
                    <img loading="lazy" src="../images/Products/Miljø/Phone/NYKANT_miljoe_5.png" alt="Egetræsmøbler i miljø">
                </picture>
            </div>
        </div>
    </div>
</div>

<div class="my-row top-side-padding">
    <div class="col-1 center">
        <div class="slide-buttons" id="slide-buttons">
            <input id="radio1" type="radio" name="slide" checked />
            <input id="radio2" type="radio" name="slide" />
            <input id="radio3" type="radio" name="slide" />
            <input id="radio4" type="radio" name="slide" />
        </div>
    </div>
</div>

<div class="my-row top-padding bottom-padding">
    <div class="info-row">
        @*<div class="col-3 left">
            <div class="col-3 center e-mark">

                <svg class="e-mark-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 801">
                    <g>
                        <path class="fill" d="M135.58,290H19.05A11.29,11.29,0,0,1,9.4,272.84c17.19-28,59.07-86.29,138.83-144.57l.15-.12c2.7-2.39,86.76-75.72,234.86-105.94,0,0,205.51-48.46,404.1,43.7,0,0,166.13,82.92,235.55,207.35A11.3,11.3,0,0,1,1013,290H963.3a45,45,0,0,1-39.17-22.64c-14.61-25.71-46.91-70.29-113-117.63,0,0-119.41-88.17-306.75-69.56,0,0-106.79,7.78-195,63.1l-.19.11c-2.47,1.19-56.09,27.76-134.12,127.45A50.14,50.14,0,0,1,135.58,290Z"></path>
                        <path class="fill" d="M895.73,335.93h116.52a11.29,11.29,0,0,1,9.65,17.18c-17.18,28-59,86.26-138.77,144.53a2.23,2.23,0,0,0-.24.19c-3.39,3-87.35,75.82-234.83,105.91,0,0-205.51,48.46-404.1-43.7,0,0-166.13-82.92-235.54-207.35a11.3,11.3,0,0,1,9.91-16.76H68a45,45,0,0,1,39.17,22.63c14.62,25.72,46.92,70.3,113,117.64,0,0,119.41,88.17,306.75,69.56,0,0,106.72-7.78,195-63.06l.33-.18c3.18-1.54,56.58-28.45,134.06-127.42A50.09,50.09,0,0,1,895.73,335.93Z"></path>
                        <path class="fill" d="M633.66,362.34A40.1,40.1,0,0,0,601,379.48c-9.29,13.33-25.94,31-52.52,39.46,0,0-64.15,23.19-111.34-30.78L680,279.18a20.42,20.42,0,0,0,10.52-25.6A184.52,184.52,0,0,0,511.88,135.07c-97.11,3.25-175.78,82.7-178.12,179.83a184.49,184.49,0,0,0,360.33,60.23,10.06,10.06,0,0,0-9.66-13.05ZM412.28,320.67a103.52,103.52,0,0,1,183.2-66.09l-182,82.11A104.42,104.42,0,0,1,412.28,320.67Z"></path>
                    </g>
                </svg>
                <div>
                    <p>Vi er e-mærket</p>
                </div>


            </div>
        </div>*@

        <!--<div class="info-item">
        <div class="center">-->
        @*<i class="fas fa-tree"></i>
        <p>FSC Certificeret Træ</p>*@


        <!--</div>
    </div>-->
        <div class="info-item">
            <div class="center">

                <i class="fas fa-truck"></i>
                <p>Gratis Forsendelse</p>

            </div>
        </div>
        <div class="info-item">
            <div class="center">

                <i class="far fa-clock"></i>
                <p>3-5 Arbejdsdage Leveringstid</p>

            </div>
        </div>
        @*<div class="info-item">
            <div class="center">
                <i class="far fa-clock"></i>
                <p>Vi er E-Mærket</p>

            </div>
        </div>*@
    </div>
</div>

<div class="my-row top-padding bottom-padding">
    <div class="responsive-container">
        <div class="col-4 left text-center height-600">
            <p class="big-text vertical-center">VI HAR FUNDET PÅ NYE MÅDER AT SAMLE MØBLER PÅ, SOM GIVER ET UNIKT ÆSTETISK LOOK.</p>
        </div>
        <div id="video-slide" class="col-8 left video-slide">
            <div class="half">
                <video class="vertical-center video" autoplay loop muted>
                    <source src="../videos/Tøjstativ.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="half">
                <img class="vertical-center video-img" src="~/images/Products/Details_Fullscreen/Desktop/NYKANT_rack_naturolie_02.png" />
            </div>
            <a id="follow-link" asp-controller="Product" asp-action="Details" asp-route-urlname="Tøjstativ-Egetræ-Naturolie">
                <div class="follow-container" id="follow-container">
                    <div class="follow-box" id="follow-box">
                        <p id="follow-name">@nora.Name</p>
                        <p id="follow-oil">@nora.Oil</p>
                        <p id="follow-price">
                            kr. @ProductHelper.GetPrice(nora) @if (nora.Discount > 0)
                            {<span class="line-through red-text">@nora.Price</span>}
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="my-row">
    <div class="col-12 left top-padding bottom-padding">
        <h1 class="karusel-header">ALLE TILBUD:</h1>
        <div class="karusel" id="frontpage-karusel">
            <div class="karusel-box" id="frontpage-karusel-box">
                @foreach (var product in randomDiscountProducts)
                {

                    <div>
                        @if (product.Discount > 0)
                        {
                            <div class="karusel-discount">
                                <p>-@product.Discount%</p>
                            </div>

                            <div class="karusel-price">
                                <p>kr. @ProductHelper.GetPrice(product) <span class="line-through red-text">@product.Price</span></p>
                            </div>
                        }
                        else
                        {
                            <div class="karusel-price">
                                <p>kr. @product.Price</p>
                            </div>
                        }
                        <a asp-controller="product" asp-action="details" asp-route-urlname="@product.UrlName">
                            <img class="absolute-center" src="@product.GalleryImage1" />
                        </a>
                    </div>

                }
            </div>
            <button class="karusel-back" onclick="frontpage_backevent()"><img src="~/lib/svg/arrow-left.svg" /></button>
            <button class="karusel-forward" onclick="frontpage_forwardevent()"><img src="~/lib/svg/arrow-right.svg" /></button>
        </div>
    </div>
</div>

<div class="my-row top-padding bottom-padding" >
    <div class="col-8 center">
        <div class="about-wood">
            <h1 class="text-center">VI <i class="fa fa-heart padding-10"></i> TRÆ</h1>
            <p ><i class="fa fa-tree"></i>Er verdens mest miljøvenlige råstof.</p>
            <p ><i class="fa fa-tree"></i>Tager CO2 fra luften og lægger det på lager i træprodukter.</p>
            <p ><i class="fa fa-tree"></i>Er en fornyelig ressource.</p>
            <p ><i class="fa fa-tree"></i>Kan genbruges.</p>
            <p ><i class="fa fa-tree"></i>Giver intet affald, men CO2-neutral energi når det brændes.</p>
        </div>
    </div>
</div>


<div class="my-row top-padding bottom-padding">
    <div class="col-12">
        <div class="favorites">
            <div id="favorites-header" class="favorites-header">
                <h1>MEST SOLGTE</h1>
            </div>
            <div class="col-6 left favorite-item">
                <a asp-controller="product" asp-action="details" asp-route-urlname="Tøjstativ-Egetræ-Naturolie">
                    <img class="absolute-center favorite-img" src="~/images/Products/Details_Fullscreen/Desktop/NYKANT_rack_naturolie_02.png" />
                    <div class="follow-container" id="follow-container-rack">
                        <div class="follow-box" id="follow-box-rack">
                            <p id="follow-name-rack">@nora.Name</p>
                            <p id="follow-oil-rack">@nora.Oil</p>
                            <p id="follow-price-rack">
                                kr. @ProductHelper.GetPrice(nora) @if (nora.Discount > 0)
                                {<span class="line-through red-text">@nora.Price</span>}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 left favorite-item">
                <a asp-controller="product" asp-action="details" asp-route-urlname="Opbevaringsbænk-Egetræ-Sortolie">
                    <img class="absolute-center favorite-img" src="~/images/Products/Details_Fullscreen/Desktop/NYKANT_opbevaringsbaenk_sort_03.png" />
                    <div id="follow-container">
                        <div class="follow-container" id="follow-container-baenk">
                            <div class="follow-box" id="follow-box-baenk">
                                <p id="follow-name-baenk">@filippa.Name</p>
                                <p id="follow-oil">@filippa.Oil</p>
                                <p id="follow-price">
                                    kr. @ProductHelper.GetPrice(filippa) @if (filippa.Discount > 0)
                                    {<span class="line-through red-text">@filippa.Price</span>}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 left favorite-item">
                <a asp-controller="product" asp-action="details" asp-route-urlname="Bænk-Egetræ-Naturolie-115cm">
                    <img class="absolute-center favorite-img" src="~/images/Products/Details_Fullscreen/Desktop/NYKANT_kortbaenk_naturolie_02.png" />
                    <div id="follow-container">
                        <div class="follow-container" id="follow-container-kortbaenk">
                            <div class="follow-box" id="follow-box-kortbaenk">
                                <p id="follow-name-baenk">@thyra.Name</p>
                                <p id="follow-oil">@thyra.Oil</p>
                                <p id="follow-price">
                                    kr. @ProductHelper.GetPrice(thyra) @if (thyra.Discount > 0)
                                    {<span class="line-through red-text">@thyra.Price</span>}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 left favorite-item">
                <a asp-controller="product" asp-action="details" asp-route-urlname="Bord-Egetræ-Naturolie">
                    <img class="absolute-center favorite-img" src="~/images/Products/Details_Fullscreen/Desktop/NYKANT_bord_naturolie_02.png" />
                    <div id="follow-container">
                        <div class="follow-container" id="follow-container-table">
                            <div class="follow-box" id="follow-box-table">
                                <p id="follow-name-baenk">@dagmar.Name</p>
                                <p id="follow-oil">@dagmar.Oil</p>
                                <p id="follow-price">
                                    kr. @ProductHelper.GetPrice(dagmar) @if (dagmar.Discount > 0)
                                    {<span class="line-through red-text">@dagmar.Price</span>}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="my-row top-padding bottom-padding">
    <div class="col-12 center z200 category-header">
        <h1 class="text-center">KATEGORIER</h1>
    </div>

    <div class="col-12">
        @foreach (var category in Model)
        {
            <form method="post" asp-controller="product" asp-action="search">
                <input type="hidden" name="searchstring" value="@category.Name" />
                <button class="category" type="submit">
                    <div>
                        <img class="absolute-center" src="@category.ImgSource" />
                        <p class="centered">@category.Name</p>
                    </div>
                </button>
            </form>

        }
    </div>

</div>



<div class="my-row top-padding bottom-padding">
    <div class="col-6 center">
        <div class="about-us" id="about-us">
            <h1>MØBLER I DANSK DESIGN</h1>
            <p id="about-us-text">
                Nykant er et nyt dansk møbel brand, med inspiration fra dansk design. <br />
                Med kærlighed til træ, vil vi være med til at innovere møbelindustrien. Vi sætter meget pris på minimalistiske detajler, og går efter at tegne nogle unikke og praktiske designs, med æstetik, som gør møblet mere tiltrækkende, hver gang man kigger på det. Det er møbler i dansk design med kant.
            </p>

            <a asp-controller="home" asp-action="about">
                <div class="follow-container" id="follow-container-about">

                    <div id="follow-box-about">
                        <p id="follow-about">MERE OM NYKANT</p>
                    </div>

                </div>
            </a>

        </div>
    </div>
</div>
@*<div class="my-row">

    </div>*@

<script src="~/JS/slideshow.js"></script>
@*<script src="~/JS/moving-box.js"></script>
    <script src="~/JS/follow-box-1.js"></script>
    <script src="~/JS/follow-box-2.js"></script>
    <script src="~/JS/follow-box-3.js"></script>
    <script src="~/JS/follow-box-4.js"></script>
    <script src="~/JS/follow-box-5.js"></script>*@
@*<script async src="~/JS/checkout-sandbox.js"></script>*@
<script src="~/JS/frontpage-karusel.js"></script>

