
@inject IConfiguration conf
@model Regret
@{
    ViewData["Title"] = "Nykants Salgs- Og Leveringsbetingelser";
    ViewData["Description"] = "Nykants betingelser for salg og levering.";

    string url = @conf.GetSection("Urls")["Mvc"];
}

<link rel="stylesheet" href="https://static.nykant.dk/css/privacy.min.css" />
<link rel="stylesheet" href="https://static.nykant.dk/css/regretstyle.min.css" />

<div class="my-row background-color2">
    <div class="privacy-header center">
        <h1>Handelsbetingelser</h1>
        @*@localizer["Terms And Conditions"]*@
    </div>
</div>
<div class="my-row ">
    <div class="privacy-information responsive-col center">
        <div>
            <h1>Generelle oplysninger</h1>
            <p>
                Virksomhedsnavn: Nykant ApS
            </p>
            <p>Cvr nummer: 42525995</p>
            <p>Addresse: </p>
            <p>
                Kongensgade 31B, 1. tv
            </p>
            <p>5000 Odense C</p>
            <p>Mailadresse: mail@nykant.dk</p>
            <p>telefon: +4527131499</p>
        </div>

        <div>
            <h1>Anvendelse</h1>
            <p>
                Disse salgsbetingelser gælder altid, når du som forbruger handler på nykant.dk. Nykant.dk er en handelsplatform, hvor du som forbruger kan købe varer direkte fra Nykant.
            </p>
            <p>
                På nykant.dk kan du kun bestille varer via vores webshop. Hvis du har spørgsmål til varer, som ikke er på siden, er du velkommen til at kontakte os.
            </p>
            <p class="top-side-padding">
                Alle produkter som sælges på nykant.dk, er originale produkter, designet og produceret af Nykant ApS.
            </p>
            <p class="top-side-padding">
                Disse vilkår og betingelser udgør sammen med ordrebekræftelsen, det samlede aftalegrundlag for dit køb.
            </p>
            <p class="top-side-padding">
                Ved bestilling af varer via Nykants handelsplatform bekræfter du, at du ikke køber varer med henblik på videresalg.
            </p>
            <p>Du skal være fyldt 18 år for at handle hos os. Er du under 18 år, skal du have samtykke fra en forælder eller værge.</p>
            <p>Det er ikke muligt at se tidligere ordrer ved login på webshoppen. Hvis du ønsker at modtage en kopi af din ordrebekræftelse, kan du sende en mail til mail@nykant.dk.</p>
        </div>

        <div>
            <h1>Betaling</h1>
            <p>Nykant bruger Stripe(PCI service provider/betalingstjenesteudbyder) til at håndtere betalingen og betalingsoplysningerne. </p>
            <p>Alle priser er i danske kroner og inkl. moms.</p>
            <p>En samlet pris vil fremgå ved bestilling, ordrebekræftelsen og fakturaen.</p>
            <p>
                Du kan vælge mellem de betalingsmetoder, som vi tilbyder i købsprocessen. Følgende kort accepteres via kortbetaling: Visa, Mastercard og American Express.
            </p>
            <p>Beløbet trækkes når ordren er bekræftet. Fakturaen sendes med ordrebekræftelsen i email, og kan findes som vedhæftet pdf fil.</p>
        </div>

        <div>
            <h1>Levering</h1>
            <p>
                Der kan ikke vælges forskellige leveringsmuligheder, dvs. at ordrer med varer der vejer over 20 kg. leveres via DKI og ordrer uden varer over 20 kg. leveres via GLS.
            </p>
            <p>
                Vi leverer kun i danmark, og der er ingen leveringsomkostninger.
            </p>
            <p>Vi bestræber os på at levere indenfor 3-5 hverdage. </p>
            <p>
                Der er ingen hjælp til opbæring.
            </p>
        </div>

        <div>
            <h1>Fortrydelsesret</h1>
            <p>
                Som forbruger har du 14 dages fortrydelsesret, når du handler hos os.
            </p>
            <p class="top-side-padding">Fortrydelsesfristen udløber 14 dage efter den dag, du har modtaget din vare. Hvis du har bestilt flere forskellige varer i én ordre, men de leveres enkeltvis, løber fristen fra den dag, hvor du modtager den sidste vare.</p>
            <p class="top-side-padding">Fristen indebærer, at du har 14 dage fra modtagelsen til at give os besked om, at du vil fortryde dit køb, med tilstrækkelig og korrekt information til at kunne identificere dig og returvarerne. <br />Du kan sende en mail til mail@nykant.dk eller benytte standardfortrydelsesformularen, som du kan finde nederst i handelsbetingelserne(på denne side), vedlagt i ordrebekræftelsen eller kan downloades <a class="simple-link" href="@url/pdf/standardfortrydelsesformular.pdf">her</a>.</p>
            <p class="top-side-padding">
                Du kan ikke fortryde købet ved at nægte at modtage varen uden samtidig at give os besked.
            </p>

            <h2>
                Fortrydelse af en del af købet
            </h2>
            <p>
                Hvis du har købt flere varer hos os, har du mulighed for at sende én eller flere varer retur, selvom de er købt i én ordre.
            </p>
            <p>
                Bemærk, at du ikke får fragtomkostningerne retur, hvis du fortryder en del af dit køb.
            </p>

            <h2>Returnering</h2>
            <p>Når du har givet os besked om, at du vil fortryde dit køb, har du 14 dage til at sende varen tilbage til os. </p>
            <p>
                Du skal selv betale for at pakken returneres, og det er dig, der hæfter, hvis der opstår en skade under transporten.
            </p>

            <p class="top-side-padding">
                Ved mindre pakker under 20kg, kan vi tilbyde at sende dig et returlabel til GLS pakkeshop via deres ShopReturn system. Prisen er deres(gls) normale pris for dette, hvilket afhænger af vægt. Det beløb vil blive modregnet i det beløb du skal have retur. Du har fortsat selv ansvaret for pakken.
            </p>
            <p class="top-side-padding">
                Visse varer kan ikke returneres med normal post. Dette gælder for: Alle varer der vejer over 20kg.
                Udgifterne til returnering af disse varer forventes højst at koste: 1000kr.
            </p>
            <p class="top-side-padding">
                Ved varer over 20kg kan vi tilbyde at aftale med gls at de skal hente pakken hos dig via deres Pick&Return system. Prisen er deres(gls) normale pris for dette, hvilket afhænger af vægt og distance. Det er en udgift du hæfter for, som vi vil modregne det beløb du skal have retur.
            </p>

            <h2>Varens stand, når du sender den retur</h2>
            <p>Hvis varen har mistet værdi, og det skyldes at du har brugt den på en anden måde, end hvad der var nødvendigt for at fastslå varens art, egenskaber og den måde, den fungerer, kan du kun få en del af købsbeløbet tilbage. Beløbet du kan få tilbage afhænger af varens handelsmæssige værdi, og i visse tilfælde kan det betyde, at du kun kan få fragtomkostningerne tilbage.</p>
            <p>Vi anbefaler, at du sender varen retur i den originale emballage.</p>
            <p>Hvis den originale emballage mangler, kan det muligvis medføre en værdiforringelse af varen.</p>

            <h2>Tilbagebetaling af købsbeløbet </h2>
            <p>Hvis du fortryder dit køb, får du dine penge tilbage, minus det beløb vi betaler for at returnere dine varer hvis varen skal returneres med DKI Pallegods. Hvis varen er værdiforringet, fratrækker vi det beløb, du hæfter for.</p>
            <p>Vi refunderer alle betalinger modtaget fra dig, herunder leveringsomkostninger (det gælder dog ikke ekstra leveringsomkostninger i de tilfælde, hvor du har valgt en anden leveringsform, end den billigste form for standardlevering, som vi tilbyder), senest 14 dage fra den dag, hvor vi har modtaget din besked om, at du vil fortryde aftalen.</p>
            <p>Vi tilbagefører pengene med samme betalingsmiddel, som du benyttede ved købet, medmindre vi har aftalt andet.</p>
            <p>
                Vi kan tilbageholde betalingen indtil vi har modtaget varen, med mindre du sender os dokumentation for at have returneret den.
            </p>

            <h2>Varen sendes til:</h2>
            <p>Gislev Drejerforretning</p>
            <p>Byvejen 21, Køng</p>
            <p>5620 Glamsbjerg</p>
            <p>Danmark</p>

            <p class="top-side-padding">
                Vi modtager kun pakker, som sendes direkte til adressen.
            </p>
        </div>
        <div>
            <h1>Reklamationsret </h1>
            <p>
                Når du handler hos os som forbruger, gælder købelovens regler for varekøb.
            </p>
            <p>Det betyder, at du har reklamationsret i 24 måneder.</p>
            <p>Hvis din reklamation er berettiget, betyder det, at du enten kan få varen repareret, ombyttet, pengene tilbage eller et afslag i prisen, afhængig af den konkrete situation.</p>
            <p class="top-side-padding">Du skal reklamere inden for ”rimelig tid” efter, at du har opdaget fejlen. Hvis du reklamerer inden for to måneder efter, at fejlen er opdaget, vil reklamationen altid være rettidig.</p>
            <p class="top-side-padding">Er reklamationen berettiget, refunderer vi dine (rimelige) fragtomkostninger. Varen skal altid sendes tilbage i forsvarlig emballage. Husk også at få en kvittering for afsendelse, så vi kan tilbagebetale dine fragtomkostninger.</p>
            <div class="pushed-text">
                <h2>
                    Send en email til mail@nykant.dk med:
                </h2>
                <p><span class="bold-text inline right-side-padding">-</span>navn og adresse</p>
                <p><span class="bold-text inline right-side-padding">-</span>ordrenummer</p>
                <p><span class="bold-text inline right-side-padding">-</span>Beskrivelse af problemet</p>
                <p><span class="bold-text inline right-side-padding">-</span>Billeder af problemet</p>
            </div>

            <h2>Varen sendes til:</h2>
            <p>Gislev Drejerforretning</p>
            <p>Byvejen 21, Køng</p>
            <p>5620 Glamsbjerg</p>
            <p>Danmark</p>

            <p class="top-side-padding">
                Vi modtager kun pakker, som sendes direkte til adressen.

            </p>
            <p>Når du returnerer varen, bedes du vedlægge en detaljeret beskrivelse af problemet.</p>
        </div>
        <div>
            <h1>Force Majeure og andre forhold</h1>
            <p>I tilfælde af forsinkelse, restordre eller udsolgte varer, bestræber vi os på hurtigst muligt at informere dig herom, og hvad vi kan gøre i sagen.</p>
            <p>
                Hvis en pris er åbenlyst forkert, og du rimeligvis burde have opdaget dette, er vi ikke forpligtet til at levere det pågældende produkt til den forkerte pris.
            </p>
            <p class="top-side-padding">
                Nykant forbeholder sig retten til at kunne annullere ordren, hvis der foreligger force majeure
                Force majeure foreligger, når korrekt opfyldelse af aftalevilkårene er umulig, og dette skyldes ekstraordinære omstændigheder, som leverandøren ikke kunne afbøde og ikke burde have forudset f.eks. krig, usædvanlige naturbegivenheder, brand, strejker, lockouts og pandemi.
                Når du har afgivet en bestilling via hjemmesiden, vil Nykants system sende dig en ordrebekræftelse. Du bør læse ordrebekræftelsen nøje igennem og tjekke, at den stemmer overens med bestillingen.
            </p>
        </div>

        <div>
            <h1>Klageadgang</h1>
            <p>Hvis du som forbruger vil klage over dit køb, skal du kontakte mail@nykant.dk. Hvis det ikke lykkes os at finde en løsning, kan du sende en klage til <a class="simple-link" href="https://www.naevneneshus.dk">Nævnenes Hus</a> via klageportalen for nævnenes hus:</p>

            <p class="top-side-padding">
                Center for Klageløsning
            </p>
            <p>Nævnenes Hus</p>
            <p>Toldboden 2</p>
            <p>8800 Viborg</p>
            <a class="simple-link" href="https://www.naevneneshus.dk">www.naevneneshus.dk</a>

            <p class="top-side-padding">For at kunne klage, skal varen eller ydelsen, som du vil klage over, have kostet mindst 1.110 kr. og højst 100.000 kr. For klager over tøj og sko skal prisen dog have været mindst 720 kr. Det koster et gebyr at få klagen behandlet.</p>

            <p class="top-side-padding">Når du handler på en e-mærket webshop, kan du gratis få behandlet din sag - uanset beløbets størrelse. Læs mere <a class="simple-link" href="https://www.emaerket.dk/gratis-sagsbehandling">her</a>.</p>

            <p class="top-side-padding">Har du bopæl i et andet EU-land end Danmark, kan du klage til EU-Kommissionens online klageportal her - <a class="simple-link" href="https://ec.europa.eu/odr">https://ec.europa.eu/odr</a></p>
        </div>
        <div>
            <h1>Persondatapolitik </h1>
            <p>Vi har brug for følgende oplysninger, når du handler hos os:</p>
            <p>Navn, adresse, tlf.nr. og mailadresse.</p>
            <p class="top-side-padding">
                Vi registrerer og videregiver de personoplysninger, som er nødvendige for at kunne levere varen til dig.
            </p>
            <p class="top-side-padding">
                Personoplysningerne registreres hos Nykant ApS og opbevares i fem år, hvorefter oplysningerne slettes.
            </p>
            <p>Vi samarbejder herudover med en række andre virksomheder, som opbevarer og behandler data.</p>
            <p>Virksomhederne behandler udelukkende oplysninger på vores vegne og må ikke bruge dem til egne formål.</p>
            <p class="top-side-padding">
                Vi samarbejder kun med databehandlere i EU eller i lande, der kan give dine oplysninger en tilstrækkelig beskyttelse.
            </p>
            <p class="top-side-padding">
                Den dataansvarlige på nykant.dk er Nykant ApS.
            </p>
            <p>Du har ret til at få oplyst, hvilke oplysninger vi behandler om dig.</p>
            <p>
                Hvis du mener, at oplysningerne er unøjagtige, har du ret til at få dem rettet. I nogle tilfælde har vi pligt til at slette dine persondata, hvis du beder om det. Det kan f.eks. være hvis dine data ikke længere er nødvendige i forhold til det formål, som vi skulle bruge dem til. Du kan også kontakte os, hvis du mener, at dine persondata bliver behandlet i strid med lovgivningen. Du kan skrive til os på: mail@nykant.dk.
            </p>
            <p>Du kan læse mere om vores persondatapolitik her: <a href="https://nykant.dk/Persondatapolitik">https://nykant.dk/Persondatapolitik</a></p>
        </div>
        @*@if (localizer["TermsAndConditions"] == null)
            {

            }
            else
            {
                @localizer["TermsAndConditions"]
            }*@

        <div class="bottom-padding top-padding">
            <form class="padding regretform" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="noop" data-ajax-begin="regret_begin" data-ajax-failure="regret_error" data-ajax-success="regret_succeed" asp-controller="Home" asp-action="RegretFormular">
                @Html.AntiForgeryToken()
                <h1 class="text-center">Fortrydelsesformular</h1>
                <div class="top-padding">
                    <p>
                        Jeg meddeler herved, at jeg ønsker at gøre fortrydelsesretten gældende i forbindelse med min
                        købsaftale om følgende varer:
                    </p>
                    <input class="width-100" required asp-for="@Model.Products" />
                    <span asp-validation-for="@Model.Products"></span>
                </div>

                <div class="top-padding-15 width-49 inline">
                    <p>Bestilt den:</p>
                    <input class="width-100" required asp-for="@Model.OrderedDate" />
                    <span asp-validation-for="@Model.OrderedDate"></span>
                </div>
                <div class="top-padding-15 left-side-padding width-49 inline">
                    <p>Modtaget den:</p>
                    <input class="width-100" required asp-for="@Model.ReceivedDate" />
                    <span asp-validation-for="@Model.ReceivedDate"></span>
                </div>
                <div class="top-padding-15">
                    <p>Ordrenummer</p>
                    <input class="width-100" required asp-for="@Model.OrderId" />
                    <span asp-validation-for="@Model.OrderId"></span>
                </div>
                <div class="top-padding-15">
                    <p>Forbrugerens navn: </p>
                    <input class="width-100" required asp-for="@Model.CustomerName" />
                    <span asp-validation-for="@Model.CustomerName"></span>
                </div>
                <div class="top-padding-15">
                    <p>Forbrugerens adresse:</p>
                    <input class="width-100" required asp-for="@Model.CustomerAddress" />
                    <span asp-validation-for="@Model.CustomerAddress"></span>
                </div>
                <div class="top-padding-15">
                    <p>Forbrugerens email:</p>
                    <input class="width-100" required asp-for="@Model.CustomerEmail" />
                    <span asp-validation-for="@Model.CustomerEmail"></span>
                </div>
                <div class="top-padding-15">
                    <p>Dato:</p>
                    <input class="width-100" required asp-for="@Model.Date" />
                    <span asp-validation-for="@Model.Date"></span>
                </div>

                <div class="width-100">
                    <button type="submit" id="regret-button">
                        <div id="error-regret" class="loading-error">
                            <i class="fas fa-times"></i>
                        </div>
                        <div id="regret-spinner" class="hidden">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>
                        <div class="loading-check-sign" id="regret-check-sign">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div id="regret-text">
                            Send
                        </div>
                    </button>
                </div>

            </form>
        </div>

        <div>
            <p class="text-center">Handelsbetingelserne er senest opdateret d. 20.06.2022</p>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://static.nykant.dk/JS/regret.min.js"></script>

}

