@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Nykants Salgs- Og Leveringsbetingelser";
    ViewData["Description"] = "Nykants betingelser for salg og levering.";
}

<div class="my-row background-color2">
    <div class="privacy-header center">
        @localizer["Header"]
    </div>
</div>
<div class="my-row ">
    <div class="privacy-information col-6 center">

        <div>
           @localizer["Usage"]
        </div>
        <div>
            @localizer["Your orders"]
        </div>
        
        @localizer["Payment"]

        @localizer["Delivery"]

        @localizer["Regret"]

        @localizer["Complaints"]

        @localizer["Personal Info"]

        @localizer["Issues"]

        @localizer["Changes"]
    </div>
</div>