@model Feed

@if (Model == null)
{
    <script defer src="~/JS/facebookRequest.js"></script>
}
<h1 class="list-h1">Nykant Page Posts</h1>
<table class="my-list">
    <tr class="no-hover">
        <th>Id</th>
        <th>Created Time</th>
        <th>From Name</th>
        <th>From Id</th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>@post.Id</td>
                <td>@post.CreatedTime</td>
                <td>@post.From.Name</td>
                <td>@post.From.Id</td>
                <td>
                    <form method="get" asp-controller="Facebook" asp-action="Post" asp-route-postId="@post.Id">
                        <button type="submit">Get</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>

