@model Post
@{
    ViewData["Title"] = "Post";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="~/css/my-list.css?100" />


@if (Model.Winner.Name != "")
{
<div id="winner-container" class="centered">
    <button class="close" onclick="pick_random_close()">
        <i class="fas fa-times"></i>
    </button>
    <p>Winner name: @Model.Winner.Name</p>
    <p>Winner Id: @Model.Winner.Id</p>
</div>
}

<div class="json-get-info margin-top-10">
    @if (Model != null)
    {
        <h1 class="bottom-side-padding center">http get request: </h1>
        <p class="bottom-padding">@Model.Likes.Request</p>
        <h1 class="bottom-side-padding center">json response:</h1>
        <p>@Model.Likes.Json</p>
    }
    else
    {
        <h1 class="bottom-side-padding center">http get request:</h1>
        <h1 class="bottom-side-padding center">json response:</h1>
    }
</div>

<div class="padding-50 center">
    <form method="post" asp-controller="Facebook" asp-action="PickRandom" asp-route-postId="@Model.Id">
        <button type="submit">Pick Random</button>
    </form>
</div>


<div class="my-row bottom-padding">
    <div class="responsive-container center">
        <div class="col-6 left">
            <h1 class="list-h1">
                Post Comments
            </h1>

            <table class="my-list">
                <tr class="no-hover">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Created Time</th>
                </tr>
                @if (Model.Comments != null)
                {
                    @foreach (var comment in Model.Comments.List)
                    {
                        <tr>
                            <td>@comment.Id</td>
                            <td>@comment.From.Name</td>
                            <td>@comment.CreatedTime</td>

                        </tr>
                    }
                }
            </table>
        </div>
        <div class="col-6 right">
            <h1 class="list-h1">Post Likes</h1>
            <table class="my-list">
                <tr class="no-hover">
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                @if (Model.Likes != null)
                {
                    @foreach (var le in Model.Likes.List)
                    {
                        <tr>
                            <td>@le.Id</td>
                            <td>@le.Name</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<script src="~/JS/facebook.js"></script>