@model Feed
@{
    ViewData["Title"] = "Posts";
    ViewData["Description"] = "";
}

<link rel="stylesheet" href="~/css/my-list.css" />

<div class="padding-50 center">
    <h1>Insert Facebook Graph API Page Access Token</h1>
    <form method="post" asp-controller="Facebook" asp-action="PostAccessToken">
        <input type="text" name="accessToken" />
    </form>
</div>

<div class="json-get-info">
    @if (Model != null)
    {
        <h1 class="bottom-side-padding center">http get request: </h1>
        <p class="bottom-padding">@Model.Request</p>
        <h1 class="bottom-side-padding center">json response:</h1>
        <p>@Model.Json</p>
    }
    else
    {
        <h1 class="bottom-side-padding center">http get request:</h1>
        <h1 class="bottom-side-padding center">json response:</h1>
    }
</div>

<div class="my-row bottom-padding">
    <div class="responsive-container center">
        <h1 class="list-h1">Nykant Page Posts</h1>
        <table class="my-list">
            <tr class="no-hover">
                <th>Facebook Post Id</th>
                <th>Facebook Post Created Time</th>
                <th>Facebook Post Message</th>
                <th>Facebook Post Story</th>
                <th></th>
            </tr>
            @if (Model != null)
            {
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>@post.CreatedTime</td>
                        <td>@post.Message</td>
                        <td>@post.Story</td>
                        <td>
                            <form method="get" asp-controller="Facebook" asp-action="Post" asp-route-postId="@post.Id">
                                <button type="submit">Get</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>



