@model Nykant.ViewModels.CheckoutVM

@{
    ViewData["Title"] = "Checkout";
}

<form asp-controller="Checkout" asp-action="ShippingInfo" method="post">
    <div class="row">
        <div class="col-8 center">
            <div class="checkout-wrap">
                <div class="main-content left">
                    <input placeholder="Email" asp-for="@Model.Shipping.Email" />
                    <input placeholder="First Name" asp-for="@Model.Shipping.FirstName" />
                    <input placeholder="Last Name" asp-for="@Model.Shipping.LastName" />
                    <input placeholder="Address" asp-for="@Model.Shipping.Address" />
                    <input placeholder="Additional address info" asp-for="@Model.Shipping.Address2" />
                    <input placeholder="City" asp-for="@Model.Shipping.City" />
                    <input placeholder="Country" asp-for="@Model.Shipping.Country" />
                    <input placeholder="Postal" asp-for="@Model.Shipping.Postal" />
                    <input placeholder="Phone" asp-for="@Model.Shipping.Phone" />
                </div>
                <div class="side-content right">
                    <div class="sidebar-items">
                        @foreach (var item in Model.BagItems)
                        {
                            <div class="sidebar-item">
                                <img src="~/images/gyngestol.jpg" />
                                <p>quantity: @item.Quantity</p>
                            </div>
                        }
                    </div>
                    <div class="checkout-info">
                        <p>total price: @Model.PriceSum</p>
                    </div>
                </div>
                <button style="margin-top:100px;" type="submit">CONTINUE</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 center">
            <div class="shipping-method">
                <button style="margin-top:30px">choose shipping method</button>
            </div>
        </div>
    </div>
    
</form>