@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="row top-padding">
        <div class="col-6 center">
            <div class="register-form">

                <div class="inputstyle">
                    <input required asp-for="Input.Email" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email"></span>
                    <div class="underline"></div>
                </div>
                <div class="inputstyle">
                    <input required asp-for="Input.Username" />
                    <label asp-for="Input.Username"></label>
                    <span asp-validation-for="Input.Username"></span>
                    <div class="underline"></div>
                </div>
                <div class="inputstyle">
                    <input required asp-for="Input.Password" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password"></span>
                    <div class="underline"></div>
                </div>
                <div class="inputstyle">
                    <input required asp-for="Input.ConfirmPassword" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword"></span>
                    <div class="underline"></div>
                </div>
                <input type="hidden" asp-for="ReturnUrl" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 center">

            <div class="col-4 right fadein top-side-padding">
                <button class="button right-side-padding" type="submit">Register</button>
            </div>
            <a asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="col-4 left fadein right-side-padding top-side-padding">
                <div class="button">
                    <p>Login</p>
                </div>
            </a>

        </div>
    </div>
</form>

<div class="row top-padding">
    <div class="col-6 center">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}