@model ProfileVM

<div class="row top-padding background-lightblue">
    <div class="col-10 center padding">
        <div class="col-4 left right-side-padding">
            <div class="profile-nav">
                <a>Personlige Oplysninger</a>
                <a>Ordre Historik</a>
            </div>
        </div>
        <form method="post" asp-controller="profile" asp-action="postpersonalinfo">
            <div class="col-8 right">
                <div class="profile-inputs">
                    <h1>Personlige Oplysninger</h1>
                    <div class="custom-input">
                        <input asp-for="@Model.Email" />
                        <label asp-for="@Model.Email"></label>
                        <span asp-validation-for="@Model.Email"></span>
                    </div>
                    <div class="custom-input">
                        <input asp-for="@Model.Username" />
                        <label asp-for="@Model.Username"></label>
                        <span asp-validation-for="@Model.Username"></span>
                    </div>
                </div>
            </div>
            <div class="col-8 right top-side-padding">
                <button type="submit" class="button">Opdater Profil</button>
            </div>
        </form>
    </div>
</div>