@model ProfileVM

<script src="~/js/email-updated.js" defer></script>

<div class="modal" id="email-updated">
    <div class="email-updated">
        <h1>Profil opdateret</h1>
        <p id="email-updated-text"></p>
        <button id="email-updated-button" class="button margin-top-20" type="button">Okay</button>
    </div>
</div>

<div class="row border-bottom" style="background-color:white">
    <div class="col-10 center padding">
        <a class="nykant-logo" href="https://localhost:5002"><span style="color:var(--blue)">NY</span>KANT</a>
    </div>
</div>

<div class="responsive-container">
    
        <div class="sidebar">
            <div class="profile-nav">
                <a class="current" asp-controller="profile" asp-action="personalinfo">Personlige Oplysninger</a>
            </div>
        </div>


    <div class="responsive-form-2 top-side-padding">
        <div class="row">
            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="update_success" asp-controller="profile" asp-action="postpersonalinfo">
                <div class="profile-inputs">
                    <div class="header">Personlige Oplysninger</div>
                    <div class="custom-input">
                        <input asp-for="@Model.Email" />
                        <label asp-for="@Model.Email"></label>
                        <span asp-validation-for="@Model.Email"></span>
                    </div>
                    <div class="custom-input">
                        <input asp-for="@Model.Username" />
                        <label asp-for="@Model.Username"></label>
                        <span asp-validation-for="@Model.Username"></span>
                    </div>
                </div>
                <div class="col-12 right top-side-padding">
                    <button type="submit" class="button">Opdater Profil</button>
                </div>
            </form>
        </div>
    </div>

</div>



