@inject IViewLocalizer localizer
@model Order
@inject IProtectionService protectionService
@{
    Layout = "_EmailOrderConfirmation";
    ViewData["EmailTitle"] = "Ordre Bekræftelse";
}

<div class="es-wrapper-color" style="background-color:#EEEEEE">
    <!--[if gte mso 9]>
    <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
    <v:fill type="tile" color="#eeeeee"></v:fill>
    </v:background>
    <![endif]-->
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top">
        <tr style="border-collapse:collapse">
            <td valign="top" style="padding:0;Margin:0">
                <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
                    <tr style="border-collapse:collapse">
                        <td align="center" style="padding:0;Margin:0">
                            <table style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; border-spacing: 0px; background-color: #eeeeee; width: 100% " cellspacing="0" cellpadding="0" bgcolor="#eeeeee" align="center">
                                <tr style="border-collapse:collapse">
                                    <td align="center" style="Margin:0;padding-top:35px;padding-bottom:35px;padding-left:35px;padding-right:35px">
                                        <!--[if mso]><table style="width:530px" cellpadding="0" cellspacing="0"><tr><td style="width:340px" valign="top"><![endif]-->
                                        <table class="es-left" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                                            <tr style="border-collapse:collapse">
                                                <td class="es-m-p0r es-m-p20b" valign="top" align="center" style="padding:0;Margin:0;width:100%">
                                                    <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr style="border-collapse:collapse">
                                                            <td class="es-m-txt-c" align="center" style="padding:0;Margin:0"><a href="https://nykant.dk"><h1 style="Margin:0;line-height:36px;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;font-size:36px;font-style:normal;font-weight:bold;color:#000000">Nykant</h1></a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
                    <tr style="border-collapse:collapse">
                        <td align="center" style="padding:0;Margin:0">
                            <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
                                <tr style="border-collapse:collapse">
                                    <td align="left" style="padding:0;Margin:0;padding-left:35px;padding-right:35px;padding-top:40px">
                                        <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center" style="padding:0;Margin:0;width:530px">
                                                    <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr style="border-collapse:collapse">
                                                            <td align="center" style="padding:0;Margin:0;padding-bottom:10px"><h2 style="Margin:0;line-height:36px;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;font-size:30px;font-style:normal;font-weight:bold;color:#333333">Ordrebekræftelse</h2></td>
                                                        </tr>
                                                        <tr style="border-collapse:collapse">
                                                            <td align="left" style="padding:0;Margin:0;padding-top:15px;padding-bottom:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:24px;color:#777777;font-size:16px">Ordrebekræftelsen er et bevis og information for din bestilling.</p></td>
                                                        </tr>
                                                        <tr style="border-collapse:collapse">
                                                            <td align="left" style="padding:0;Margin:0;padding-top:15px;padding-bottom:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:24px;color:#777777;font-size:16px">Fakturaen vil blive sendt, og betalingen vil blive gennemført, når ordren bliver sendt fra lageret.</p></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="border-collapse:collapse">
                                    <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-left:35px;padding-right:35px">
                                        <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center" style="padding:0;Margin:0;width:530px">
                                                    <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;" width="100%" cellspacing="0" cellpadding="0" role="presentation">
                                                        <tr style="border-collapse:collapse">
                                                            <td align="left" style="Margin:0;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px">
                                                                <table style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: separate; border-spacing: 0px; border-left: 1px solid transparent; border-top: 1px solid transparent; border-bottom: 1px solid transparent; background-color: #FFF; background-position: center top" width="100%" cellspacing="0" cellpadding="0" bgcolor="#FFF" role="presentation">
                                                                    <tr style="border-collapse:collapse">
                                                                        <td align="left" style="Margin:0;padding-bottom:10px;padding-top:20px;padding-right:20px"><h4 style="Margin: 0; line-height: 120%; mso-line-height-rule: exactly; font-family: arial, 'helvetica neue', helvetica, sans-serif; color: #000000; ">@localizer["Ordreoplysninger"]</h4></td>
                                                                    </tr>
                                                                    <tr style="border-collapse:collapse">
                                                                        <td align="left" style="padding:0;Margin:0;padding-bottom:20px;padding-right:20px">
                                                                            <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%" class="cke_show_border" cellspacing="1" cellpadding="1" border="0" align="left" role="presentation">
                                                                                <tr style="border-collapse:collapse">
                                                                                    <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Ordrenummer:</strong></td>
                                                                                    <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Id</span></td>
                                                                                </tr>
                                                                                <tr style="border-collapse:collapse">
                                                                                    <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Ordrens vægt:</strong></td>
                                                                                    <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.WeightInKg kg.</span></td>
                                                                                </tr>
                                                                            </table><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;font-size:14px"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
                    <tr style="border-collapse:collapse">
                        <td align="center" style="padding:0;Margin:0">
                            <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
                                <tr style="border-collapse:collapse">
                                    <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:35px;padding-right:35px">
                                        <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center" style="padding:0;Margin:0;width:530px">
                                                    <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr style="border-collapse:collapse">
                                                            <td bgcolor="#eeeeee" align="left" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px">
                                                                <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:500px" class="cke_show_border" cellspacing="1" cellpadding="1" border="0" align="left" role="presentation">
                                                                    <tr style="border-collapse:collapse">
                                                                        <td width="80%" style="padding:0;Margin:0"><h4 style="Margin:0;line-height:120%;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif">Ordre #</h4></td>
                                                                        <td width="20%" style="padding:0;Margin:0"><h4 style="Margin:0;line-height:120%;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif">@Model.Id</h4></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="border-collapse:collapse">
                                    <td align="left" style="padding:0;Margin:0;padding-left:35px;padding-right:35px">
                                        <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center" style="padding:0;Margin:0;width:530px">
                                                    <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr style="border-collapse:collapse">
                                                            <td align="left" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px">
                                                                <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:500px" class="cke_show_border" cellspacing="1" cellpadding="1" border="0" align="left" role="presentation">
                                                                    @foreach (var item in Model.OrderItems)
                                                                    {
                                                                    <tr style="border-collapse:collapse">
                                                                        <td style="padding:5px 0;Margin:0" width="80%" align="left"><a href="https://nykant.dk/product/details/@item.Product.Id"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:24px;color:#333333;font-size:16px">(@item.Quantity) @item.Product.Name / @item.Product.WeightInKg kg.</p></a></td>
                                                                        <td style="padding:5px 0;Margin:0" width="20%" align="left"><a href="https://nykant.dk/product/details/@item.Product.Id"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:24px;color:#333333;font-size:16px">kr. @(item.Product.Price * item.Quantity) </p></a></td>
                                                                    </tr>
                                                                    }

                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="border-collapse:collapse">
                                    <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-left:35px;padding-right:35px">
                                        <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center" style="padding:0;Margin:0;width:530px">
                                                    <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;border-top:3px solid #eeeeee;border-bottom:3px solid #eeeeee" width="100%" cellspacing="0" cellpadding="0" role="presentation">
                                                        <tr style="border-collapse:collapse">
                                                            <td align="left" style="Margin:0;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px">
                                                                <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:500px" class="cke_show_border" cellspacing="1" cellpadding="1" border="0" align="left" role="presentation">
                                                                    <tr style="border-collapse:collapse">
                                                                        <td width="80%" style="padding:0;Margin:0"><h4 style="Margin:0;line-height:120%;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif">Momsgrundlag</h4></td>
                                                                        <td width="20%" style="padding:0;Margin:0"><p style="Margin:0;line-height:120%;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif">kr. @Model.TaxLessPrice</p></td>
                                                                    </tr>
                                                                    <tr style="border-collapse:collapse">
                                                                        <td width="80%" style="padding:0;Margin:0"><h4 style="Margin:0;line-height:120%;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif">Momsbeløb (25%)</h4></td>
                                                                        <td width="20%" style="padding:0;Margin:0"><p style="Margin:0;line-height:120%;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif">kr. @Model.Taxes</p></td>
                                                                    </tr>
                                                                    <tr style="border-collapse:collapse">
                                                                        <td width="80%" style="padding:0;Margin:0"><h4 style="Margin:0;line-height:120%;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif">Totalbeløb</h4></td>
                                                                        <td width="20%" style="padding:0;Margin:0"><p style="Margin:0;line-height:120%;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif">kr. @Model.TotalPrice</p></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="border-collapse:collapse">
                                    <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-left:35px;padding-right:35px">
                                        <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center" style="padding:0;Margin:0;width:530px">
                                                    <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;" width="100%" cellspacing="0" cellpadding="0" role="presentation">
                                                        <tr style="border-collapse:collapse">
                                                            <td align="left" style="Margin:0;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px">
                                                                <table style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: separate; border-spacing: 0px; border-left: 1px solid transparent; border-top: 1px solid transparent; border-bottom: 1px solid transparent; background-color: #FFF; background-position: center top" width="100%" cellspacing="0" cellpadding="0" bgcolor="#FFF" role="presentation">
                                                                    <tr style="border-collapse:collapse">
                                                                        <td align="left" style="Margin:0;padding-bottom:10px;padding-top:20px;padding-right:20px"><h4 style="Margin: 0; line-height: 120%; mso-line-height-rule: exactly; font-family: arial, 'helvetica neue', helvetica, sans-serif; color: #000000; ">@localizer["Kundeoplysninger"]</h4></td>
                                                                    </tr>
                                                                    <tr style="border-collapse:collapse">
                                                                        <td align="left" style="padding:0;Margin:0;padding-right:20px">
                                                                            <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%" class="cke_show_border" cellspacing="1" cellpadding="1" border="0" align="left" role="presentation">
                                                                                <tr style="border-collapse:collapse">
                                                                                    <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Name:</strong></td>
                                                                                    <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Customer.BillingAddress.Name</span></td>
                                                                                </tr>
                                                                                <tr style="border-collapse:collapse">
                                                                                    <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Telefon:</strong></td>
                                                                                    <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Customer.Phone</span></td>
                                                                                </tr>
                                                                                <tr style="border-collapse:collapse">
                                                                                    <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Addresse:</strong></td>
                                                                                    <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Customer.BillingAddress.Address</span></td>
                                                                                </tr>
                                                                                <tr style="border-collapse:collapse">
                                                                                    <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>By:</strong></td>
                                                                                    <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Customer.BillingAddress.City</span></td>
                                                                                </tr>
                                                                                <tr style="border-collapse:collapse">
                                                                                    <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Postnummer:</strong></td>
                                                                                    <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Customer.BillingAddress.Postal</span></td>
                                                                                </tr>
                                                                                <tr style="border-collapse:collapse">
                                                                                    <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Land:</strong></td>
                                                                                    <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Customer.BillingAddress.Country</span></td>
                                                                                </tr>
                                                                            </table><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;font-size:14px"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="border-collapse:collapse">
                                    <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-left:35px;padding-right:35px">
                                        <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center" style="padding:0;Margin:0;width:530px">
                                                    <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;" width="100%" cellspacing="0" cellpadding="0" role="presentation">
                                                        <tr style="border-collapse:collapse">
                                                            <td align="left" style="Margin:0;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px">
                                                                <table style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: separate; border-spacing: 0px; border-left: 1px solid transparent; border-top: 1px solid transparent; border-bottom: 1px solid transparent; background-color: #FFF; background-position: center top" width="100%" cellspacing="0" cellpadding="0" bgcolor="#FFF" role="presentation">
                                                                    <tr style="border-collapse:collapse">
                                                                        <td align="left" style="Margin:0;padding-bottom:10px;padding-top:20px;padding-right:20px"><h4 style="Margin: 0; line-height: 120%; mso-line-height-rule: exactly; font-family: arial, 'helvetica neue', helvetica, sans-serif; color: #000000; ">@localizer["Leveringsoplysninger"]</h4></td>
                                                                    </tr>
                                                                    <tr style="border-collapse:collapse">
                                                                        <td align="left" style="padding:0;Margin:0;padding-bottom:20px;padding-right:20px">
                                                                            <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%" class="cke_show_border" cellspacing="1" cellpadding="1" border="0" align="left" role="presentation">
                                                                                @if (Model.ShippingDelivery.Type == "Shop")
                                                                                {
                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Leveres til:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">Pakkeshop</span></td>
                                                                                    </tr>

                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Navn:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.ShippingDelivery.ParcelshopData.CompanyName</span></td>
                                                                                    </tr>
                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Addresse:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.ShippingDelivery.ParcelshopData.Streetname, @Model.ShippingDelivery.ParcelshopData.Streetname2</span></td>
                                                                                    </tr>
                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>By:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.ShippingDelivery.ParcelshopData.CityName</span></td>
                                                                                    </tr>
                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Postnummer:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.ShippingDelivery.ParcelshopData.ZipCode</span></td>
                                                                                    </tr>
                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Land:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.ShippingDelivery.ParcelshopData.CountryCodeISO3166A2</span></td>
                                                                                    </tr>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Leveres til:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">Leveringsaddressen</span></td>
                                                                                    </tr>
                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Addresse:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Customer.ShippingAddress.Address</span></td>
                                                                                    </tr>
                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>By:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Customer.ShippingAddress.City</span></td>
                                                                                    </tr>
                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Postnummer:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Customer.ShippingAddress.Postal</span></td>
                                                                                    </tr>
                                                                                    <tr style="border-collapse:collapse">
                                                                                        <td style="padding: 0; Margin: 0; font-size: 14px; line-height: 21px; color: #000000;"><strong>Land:</strong></td>
                                                                                        <td style="padding:0;Margin:0"><span style="font-size: 14px; line-height: 21px; color: #000000;">@Model.Customer.ShippingAddress.Country</span></td>
                                                                                    </tr>
                                                                                }

                                                                            </table><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;font-size:14px"><br></p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="border-collapse:collapse">
                                    <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-left:35px;padding-right:35px">
                                        <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center" style="padding:0;Margin:0;width:530px">
                                                    <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;" width="100%" cellspacing="0" cellpadding="0" role="presentation">
                                                        <tr style="border-collapse:collapse">
                                                            <td align="left" style="Margin:0;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px">
                                                                <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                                    <tr style="border-collapse:collapse">
                                                                        <td align="left" style="padding:0;Margin:0;padding-bottom:15px"><h4 style="Margin:0;line-height:120%;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif">Estimeret Leveringsdato<br></h4></td>
                                                                    </tr>
                                                                    <tr style="border-collapse:collapse">
                                                                        <td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:24px;color:#333333;font-size:16px">@Model.EstimatedDelivery.DayOfWeek, @Model.EstimatedDelivery.Day / @Model.EstimatedDelivery.Month</p></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>